{% extends "_layout" %}
{% set subtitle = entry.title %}
{% set bodyClass = "taxonomic-group-detail with-header" %}
{% block content %}
	{# Get the prev/next elements #}
	{% set criteria = {section: 'taxonomicGroups', order: 'title'} %}
	
	{% set prevEntry = entry.getPrev(criteria) %}
	{% set nextEntry = entry.getNext(criteria) %}
	 
	
	<div class="article-header">
		{% if entry.parentTaxonomicGroup|length %}
			<div class="taxonomic-links">	
				<ol class="classified-in">
					<li>{{ "Classified in"|t }} > </b></li>
					<li>
						<a href="{{ entry.parentTaxonomicGroup.one().url }}" class="parent_group">
						{{ entry.parentTaxonomicGroup.one().title }}</a>
					</li>
				</ol>
				<div class="prev-next-links">
					{# And make sure to only output the links if the element exists #}
					{% if prevEntry %}<a href="{{ prevEntry.url }}">Previous</a>{% endif %} &nbsp;
					{% if nextEntry %}<a href="{{ nextEntry.url }}">Next</a>{% endif %}
				</div>
			</div>
		{% endif %}
	{% if entry.taxonomicRank|length	 %}
		<p class="family">{{ entry.taxonomicRank.one().title }}</p>
	{% endif %}
		<h2 class="taxa-name">{{ entry.title }} <span class="">{{ entry.taxonomicGroupAuthorCitation }}</span>
		</h2>	

	</div><!--article-header-->
	<div class="article-content">
		{% set stats = entry.statistics[0] %}
		{% if stats.numberOfSpeciesInTheWorld > 0 %}
			<h3 id="stats">{{ "Statistics"|t }}</h3>
			<div id="chart"></div>
		{% endif %}
		{% if entry.protolog|length %}
			<h3>{{ "Place of Publication"|t }}</h3>
				<p>
					{% for proto in entry.protolog.all() %}
						{% if proto.protologReference|length %}
							{{ proto.protologReference.one().abbreviatedName }}: {{ proto.pageOrFigureReference }} ({{ proto.protologReference.one().publicationYear }})
						{% endif %}
					{% endfor %}
				</p>
		{% endif %}	
		
		{% if entry.synonyms|length %}
			<h3>{{ "Synonyms"|t }}</h3>
			<ul id="syn-list">
			{% for synonym in entry.synonyms.all() %}
				<li>
					<a href="{{ synonym.url }}">
						<i class="taxonomy">{{ synonym.genus.one().title }} {{ synonym.species }}</i> {{ synonym.authorCitation }} {% if synonym.infraspecificStatus|length %}<span class="infra-status">{{ synonym.infraspecificStatus }}</span>{% endif %}
					<i class="taxonomy">{{ synonym.infraspecificEpithet }}</i>
					</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
			
		{% if entry.taxonomicGroupDistribution %}
			<h3>{{ "Distribution"|t }}</h3>
			{{ entry.taxonomicGroupDistribution }}
		{% endif %}
		
		{% if  entry.taxonomicGroupNotes %}
			<h3>{{ "Notes"|t }}</h3>
			{{ entry.taxonomicGroupNotes }}
		{% endif %}
		
		{% if entry.taxonomicGroupReferences|length %}
			<h3>{{ "References"|t }}</h3>
			<ul>
			{% for reference in entry.taxonomicGroupReferences.all() %}
				<li>
					<h4 class="reference-title">{{ reference.title }}</h4>
					<!-- <p> -->
						{% for author in reference.authors %}
							{{ author.surname }}, {{ author.initials }}
							{{ loop.index < loop.length-1 ? ', ' : loop.index < loop.length ? "and"|t }}
						{% endfor %}
						{{ reference.publicationYear }}. {{ reference.journalBookName|striptags('<i><em><strong><b>')|raw }} {{ reference.fullReference|striptags('<i><em><strong><b>')|raw }}
						<!-- </p> -->
				</li>
				{% if reference.referenceUrl %}
					<br />
					<a	class="ref-url" href="{{ entry.referenceUrl }}">{{ "External link"|t }}</a>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
		
		{% if entry.taxonomicRank|length %}
			{% if entry.taxonomicRank.one().slug == "genus" %}
				{% set entries = craft.entries.section('taxa').relatedTo(entry).isASynonym(0).orderby('title').all() %}
				{% set sectionTitle = "Endemic Taxa in "|t ~ " " ~ entry.title %}
			{% else %}	
				{% set entries = craft.entries.section('taxonomicGroups').relatedTo(entry).isASynonym(0).orderby('title').all() %}
				{% set sectionTitle = "Genera which contain endemic taxa in "|t ~ " " ~ entry.title %}
			{% endif %}
		{% endif %}
			
			{% if entries is defined  and entries | length %}
			<h3>{{ sectionTitle }} </h3>
				<ul>
					{% for taxa in entries %}
						<li><a href="{{ taxa.url }}">{{ taxa.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}

	</div><!--article-content-->
	{% endblock %}
	{% block scriptPageBottom %}
	{% set stats = entry.statistics[0] %}
	<script> var stats = `Category,Number
			{{ "Number of species in the World"|t }},{{ stats.numberOfSpeciesInTheWorld }}
			{{ "Number of species in Chile"|t }},{{ stats.numberOfSpeciesInChile }}			{{ "Number of taxa in Chile"|t }},{{ stats.numberOfTaxaInChile }}
			{{ "Number of endemic species in Chile"|t }},{{ stats.numberOfEndemicSpeciesInChile }}
			{{ "Number of endemic taxa in Chile"|t }},{{ stats.numberOfEndemicTaxaInChile }}`
			// Charts on Taxonmic Group pages
			var data = d3.csv.parse(stats);
			var labelColumn = 'Category';
			var valueColumn = 'Number';
			
			
			if ($("#stats").length) {
				$('#stats').hide();
				// renderChart(data, 'Category', 'Number')
				
				var title = "";
				var statsChart =  Object.create(D3BarChart);
				var options = {
					barLabelWidth: 300, // space reserved for bar labels
					barHeight: 60
				}
				statsChart.init(data, labelColumn, valueColumn, title, $('#chart'), options);                     
				$( window ).resize(function() {
				 statsChart.resize(); 
				});
			}
	</script>
	{% endblock %}


