{#
# Index of Endemic General
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Endemic Genera"|t %}
{% set bodyClass = "indexes refrences" %}

{% set category = craft.categories.slug('genus') %}

{% set genera = craft.entries
		.section('taxonomicGroups')
		.orderBy('title')
		.isGroupEndemic('1')
		.relatedTo(category)
		.all()
%}

{% block content %}
	<h2>{{ "Endemic Genera"|t }}</h2>
	<div class="article-content index-list">
		<ul>
		{% for genus in genera %}
			{% set stats = genus.statistics|first %}
		
				<li><a href="{{ genus.url }}">{{ genus.title  }}</a></li>
			
		{% endfor %}
		</ul>
	</div>
{% endblock %}