/* @group
 * Preferences
 * ----------------------------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg {
  -webkit-font-smoothing: antialiased;
}
#map img {
  max-width: none;
}
ul {
  margin-left: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
[v-cloak] {
  display: none;
}
.n {
  color: #db7900;
}
.svg-icon {
  width: 17px;
  height: 17px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.non-styled-button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: none;
}
.non-styled-button:focus:not(.focus-visible) {
  outline: none;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
p {
  margin: 0 0 10.4px;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-variant-ligatures: common-ligatures;
}
p small {
  font-size: 15px;
  color: #999;
}
a {
  text-decoration: none;
  color: #444444;
}
a:hover,
a:active {
  color: #db7900;
}
p > a {
  color: #a85d00;
  border-bottom: 1px solid #b5b5b5;
}
p > a:hover,
p > a:active {
  border-bottom: 1px solid #db7900;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em 0;
  border-bottom: 1px #b9b1ab solid;
  font-family: inherit;
  font-weight: 400;
  color: #555c5c;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-variant-ligatures: common-ligatures;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999;
}
h1,
.h1 {
  font-size: 35.7px;
  line-height: 41.6px;
  border: 0;
}
h1 small,
.h1 small {
  font-size: 18px;
}
h2,
.h2 {
  font-size: 35.7px;
  line-height: 52px;
  font-weight: 300;
  color: #ac3f3c;
}
h2 small,
.h2 small {
  font-size: 18px;
}
h3,
h3 {
  font-size: 22.95px;
  line-height: 36.4px;
}
h3 small,
h3 small {
  font-size: 14px;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  line-height: 26px;
}
h4,
.h4 {
  font-size: 20.4px;
}
h4 small,
.h4 small {
  font-size: 12px;
}
h5,
.h5 {
  font-size: 12px;
}
h6,
.h6 {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
}
ul,
ol {
  padding: 0;
  margin: 0 0 15.6px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 20.8px;
  margin: 0 0 5.2px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 26px;
}
dt,
dd {
  line-height: 26px;
}
dt {
  font-weight: bold;
  line-height: 25px;
}
dd {
  margin-left: 26px / 2;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #fff;
}
strong,
b {
  font-weight: 500;
}
em {
  font-style: italic;
}
.muted {
  color: #999;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 26px;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.5px;
}
blockquote small {
  display: block;
  line-height: 26px;
  color: #999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 26px;
  font-style: normal;
  line-height: 26px;
}
th,
td {
  padding: 0.5rem 1.5rem 0.5rem 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
/* From HTML5 Boilder Plate These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
 */
::-moz-selection {
  background: #dfa995;
  text-shadow: none;
}
::selection {
  background: #dfa995;
  text-shadow: none;
}
/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #500d0a;
}
/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}
/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body.compensate-for-scrollbar {
  overflow: hidden;
}
.fancybox-active {
  height: auto;
}
.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}
.fancybox-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  left: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}
.fancybox-container * {
  box-sizing: border-box;
}
.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.fancybox-is-open .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s, visibility 0s linear 0.25s;
  visibility: hidden;
  z-index: 99997;
}
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity 0.25s, visibility 0s;
  visibility: visible;
}
.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  text-align: center;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fancybox-toolbar {
  right: 0;
  top: 0;
}
.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 99994;
}
.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}
.fancybox-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}
.fancybox-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
  width: 0;
}
.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}
.fancybox-slide--next {
  z-index: 99995;
}
.fancybox-slide--image {
  overflow: visible;
  padding: 44px 0;
}
.fancybox-slide--image::before {
  display: none;
}
.fancybox-slide--html {
  padding: 6px 6px 0 6px;
}
.fancybox-slide--iframe {
  padding: 44px 44px 0;
}
.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0 0 6px 0;
  max-width: 100%;
  overflow: auto;
  padding: 0;
  padding: 24px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  margin: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995;
}
.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.fancybox-can-drag .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab;
}
.fancybox-is-dragging .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.fancybox-container [data-selectable='true'] {
  cursor: text;
}
.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.fancybox-spaceball {
  z-index: 1;
}
.fancybox-slide--html .fancybox-content {
  margin-bottom: 6px;
}
.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 100%;
}
.fancybox-slide--video .fancybox-content {
  background: #000;
}
.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}
.fancybox-slide--iframe .fancybox-content {
  background: #fff;
  height: calc(100% - 44px);
  margin-bottom: 44px;
}
.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.fancybox-iframe {
  vertical-align: top;
}
.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}
.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  outline: none;
  padding: 10px;
  transition: color 0.2s;
  vertical-align: top;
  width: 44px;
}
.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}
.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff;
}
.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
}
.fancybox-button svg {
  display: block;
  overflow: visible;
  position: relative;
  shape-rendering: geometricPrecision;
}
.fancybox-button svg path {
  fill: transparent;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3;
}
.fancybox-button--play svg path:nth-child(2) {
  display: none;
}
.fancybox-button--pause svg path:nth-child(1) {
  display: none;
}
.fancybox-button--play svg path,
.fancybox-button--share svg path,
.fancybox-button--thumbs svg path {
  fill: currentColor;
}
.fancybox-button--share svg path {
  stroke-width: 1;
}
/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  height: 38px;
  opacity: 0;
  padding: 6px;
  position: absolute;
  top: 50%;
  width: 38px;
}
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  transition: opacity 0.25s, visibility 0s, color 0.25s;
}
.fancybox-navigation .fancybox-button::after {
  content: '';
  left: -25px;
  padding: 50px;
  position: absolute;
  top: -25px;
}
.fancybox-navigation .fancybox-button--arrow_left {
  left: 6px;
}
.fancybox-navigation .fancybox-button--arrow_right {
  right: 6px;
}
/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #555;
  cursor: pointer;
  height: 44px;
  margin: 0;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  z-index: 10;
}
.fancybox-close-small svg {
  fill: transparent;
  opacity: 0.8;
  stroke: currentColor;
  stroke-width: 1.5;
  transition: stroke 0.1s;
}
.fancybox-close-small:focus {
  outline: none;
}
.fancybox-close-small:hover svg {
  opacity: 1;
}
.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  color: #ccc;
  padding: 5px;
  right: -12px;
  top: -44px;
}
.fancybox-slide--image .fancybox-close-small:hover svg,
.fancybox-slide--video .fancybox-close-small:hover svg,
.fancybox-slide--iframe .fancybox-close-small:hover svg {
  background: transparent;
  color: #fff;
}
.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none;
}
/* Caption */
.fancybox-caption {
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px 25px 44px;
  right: 0;
}
.fancybox-caption::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1;
}
.fancybox-caption::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  left: 44px;
  position: absolute;
  right: 44px;
  top: 0;
}
.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}
.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}
/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate 0.8s infinite linear;
  animation: fancybox-rotate 0.8s infinite linear;
  background: transparent;
  border: 6px solid rgba(100, 100, 100, 0.5);
  border-radius: 100%;
  border-top-color: #fff;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 60px;
  z-index: 99999;
}
@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}
/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}
/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}
.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}
.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}
/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}
.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}
.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}
.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.fancybox-share p {
  margin: 0;
  padding: 0;
}
.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}
.fancybox-share__button:hover {
  text-decoration: none;
}
.fancybox-share__button--fb {
  background: #3b5998;
}
.fancybox-share__button--fb:hover {
  background: #344e86;
}
.fancybox-share__button--pt {
  background: #bd081d;
}
.fancybox-share__button--pt:hover {
  background: #aa0719;
}
.fancybox-share__button--tw {
  background: #1da1f2;
}
.fancybox-share__button--tw:hover {
  background: #0d95e8;
}
.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}
.fancybox-share__button svg path {
  fill: #fff;
}
.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
/* Thumbs */
.fancybox-thumbs {
  background: #fff;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995;
}
.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}
.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}
.fancybox-thumbs > ul {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}
.fancybox-thumbs-x > ul {
  overflow: hidden;
}
.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px;
}
.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}
.fancybox-thumbs > ul > li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}
.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1);
}
.fancybox-thumbs > ul > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fancybox-thumbs > ul > li:before {
  border: 4px solid #4ea7f9;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}
.fancybox-thumbs .fancybox-thumbs-active:before {
  opacity: 1;
}
/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px);
  }
}
.btn-large {
  padding: 11px 19px;
  font-size: 21.25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 2px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 14.45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-mini {
  padding: 1px 6px;
  font-size: 12.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.switch > input {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-appearance: none;
}
.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 58px;
  -webkit-user-select: none;
}
.switch > label {
  display: block;
  position: relative;
  height: 25px;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  color: #bbb;
  text-align: center;
  text-transform: uppercase;
  background: white;
  border: 2px solid #d9d9d9;
  border-radius: 13px;
  transition: 0.15s ease-out;
}
.switch > label:before {
  content: attr(data-off);
  position: absolute;
  top: 0;
  right: 3px;
  width: 33px;
}
.switch > label:after {
  content: '';
  display: block;
  margin: 2px;
  width: 17px;
  height: 17px;
  background: #ccc;
  border-radius: 13px;
}
.switch > input {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
  -webkit-appearance: none;
}
.switch > input:focus {
  outline: none;
}
.switch > input:focus + label {
  color: #230604;
  border-color: #500d0a;
}
.switch > input:focus + label:after {
  background: #500d0a;
}
.switch > input:checked + label {
  padding-left: 33px;
  color: white;
  background: #500d0a;
  border-color: #500d0a;
}
.switch > input:checked + label:before {
  content: attr(data-on);
  left: 1px;
}
.switch > input:checked + label:after {
  margin: 1px;
  width: 19px;
  height: 19px;
  background: white;
}
.switch > input:checked:focus + label {
  background: #230604;
  border-color: #230604;
}
.lang-chooser .switch > input {
  background: white;
}
.lang-chooser .switch > input:focus {
  color: white;
  background: red;
}
.lang-chooser .switch > input + label {
  background: #389cbf;
  border-color: #389cbf;
  color: white;
}
.lang-chooser .switch > input + label:after {
  background: white;
}
.lang-chooser .switch input:focus + label {
  color: white;
  background: #286f88;
}
.lang-chooser .switch input:focus + label:after {
  background: white;
}
.lang-chooser .switch > input:checked + label {
  background: #ef9e30;
  border-color: #ef9e30;
  color: white;
}
.lang-chooser .switch input:checked:focus + label {
  color: white;
  background: #c87a0f;
}
.lang-chooser .switch input:checked:focus + label:after {
  background: white;
}
.lt-ie9 .switch {
  width: 54px;
  height: 21px;
  background: white;
  border: 2px solid #d9d9d9;
}
.lt-ie9 .switch > label {
  display: none;
}
.lt-ie9 .switch > input {
  position: static;
  width: inherit;
  height: inherit;
  vertical-align: top;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
/* CONTROLS STYLES */
.filters {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .filters {
    justify-content: space-between;
  }
}
.generic-filter-styles {
  /* display: inline-block; */
  vertical-align: top;
  position: relative;
  min-width: 16.2%;
  justify-content: space-between;
  padding: 0.8rem;
  margin-bottom: 0.3em;
  border: 1px #d99981 solid;
  border-radius: 4px;
  background: #cd795a;
  background: rgba(205, 121, 90, 0.9);
  cursor: pointer;
  font-size: 15.3px;
  font-weight: 200;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}
.filters fieldset {
  /* display: inline-block; */
  vertical-align: top;
  position: relative;
  min-width: 16.2%;
  justify-content: space-between;
  padding: 0.8rem;
  margin-bottom: 0.3em;
  border: 1px #d99981 solid;
  border-radius: 4px;
  background: #cd795a;
  background: rgba(205, 121, 90, 0.9);
  cursor: pointer;
  font-size: 15.3px;
  font-weight: 200;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}
.filters fieldset:hover {
  background: #c76946;
}
.filters fieldset.expanded,
.filters fieldset:focus {
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
}
.filters fieldset.expanded svg,
.filters fieldset:focus svg {
  transform: rotate(180deg);
}
.filters fieldset.reset {
  min-width: 32.4%;
}
@media (max-width: 1200px) {
  .filters fieldset {
    min-width: 32.4%;
    justify-content: space-between;
  }
  .filters fieldset.reset {
    min-width: 32.4%;
  }
}
@media (max-width: 928px) {
  .filters fieldset {
    min-width: 49%;
  }
  .filters fieldset.reset {
    min-width: 49%;
  }
}
@media (max-width: 470px) {
  .filters fieldset {
    width: 100%;
  }
}
.filters .scroller {
  transition: all 300ms ease-in-out;
  position: absolute;
  z-index: 1999;
  background: #cd795a;
  background: rgba(205, 121, 90, 0.9);
  width: 101%;
  left: -1px;
  top: 2.7em;
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  border: 1px #cd795a solid;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  z-index: 100;
}
.filters fieldset.expanded > .scroller,
.filters fieldset:focus > .scroller {
  max-height: 50em;
  background: #cd795a;
  background: rgba(205, 121, 90, 0.92);
  background-blend-mode: multiply;
  border-radius: 0 0 4px 4px;
  border: 1px #d99981 solid;
  border-top: 0;
}
.filters .transition-ended {
  overflow-y: auto;
}
.filters fieldset.expanded:hover > .scroller,
.filters fieldset:focus > .scroller {
  background-color: #c76946;
}
.filters fieldset.active h4:after {
  content: '';
  position: relative;
  display: inline-block;
  background: #f5e493;
  width: 10px;
  height: 10px;
  top: 1px;
  margin-left: 6px;
  border-radius: 50%;
}
.filters .drop-down-header-style {
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-size: 13.6px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 0 0;
  pointer-events: none;
  fill: white;
  color: white;
  background: none;
}
.filters .drop-down-header-style svg {
  position: absolute;
  right: 0.3em;
  top: 0.25em;
  fill: white;
  height: 10px;
  transition: transform 300ms ease-in-out;
}
.filters .reset button {
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-size: 13.6px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 0 0;
  pointer-events: none;
  fill: white;
  color: white;
  background: none;
  text-align: center;
  border: 0;
  font-weight: normal;
  width: 100%;
  display: block;
}
.filters .reset button svg {
  position: absolute;
  right: 0.3em;
  top: 0.25em;
  fill: white;
  height: 10px;
  transition: transform 300ms ease-in-out;
}
.filters .reset.active {
  -webkit-font-smoothing: auto;
  background-color: #f5e493;
}
.filters .reset.active button {
  color: black;
}
.filters .drop-down h4 {
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-size: 13.6px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 0 0;
  pointer-events: none;
  fill: white;
  color: white;
  background: none;
  color: inherit;
  padding-right: 2.2rem;
}
.filters .drop-down h4 svg {
  position: absolute;
  right: 0.3em;
  top: 0.25em;
  fill: white;
  height: 10px;
  transition: transform 300ms ease-in-out;
}
.filters .drop-down label {
  display: block;
  letter-spacing: 0.5px;
  text-transform: none;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 10px;
  transition: all 150ms;
  cursor: pointer;
  text-align: left;
}
.filters .drop-down label > input {
  display: none;
}
.filters .drop-down label:after {
  transition: all 200ms ease-in-out;
  content: '';
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 1px;
  margin-left: 6px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.filters .drop-down label:hover {
  color: #f5e493;
}
.filters .drop-down label:active {
  color: #5dd0f5;
}
.filters .drop-down label:active:after {
  background: #5dd0f5;
  border: #5dd0f5;
}
.filters .drop-down label.active {
  color: #f5e493;
  font-weight: 400;
}
.filters .drop-down label.active:after,
.filters label:hover:after {
  background: #f5e493;
  border-color: #f5e493;
}
.filters .drop-down label.active:hover {
  color: white;
}
.filters .drop-down label.active:hover:after {
  background: white;
}
.filters .drop-down fieldset::-webkit-scrollbar {
  width: 0.8em;
  padding: 2px;
  background: #e5b9a8;
}
.filters .drop-down fieldset::-webkit-scrollbar-thumb {
  margin: 3px;
  transition: background-color 300ms ease-in-out;
  background-color: #ac3f3c;
  border-radius: 1em;
  border: 2px #e5b9a8 solid;
}
.filters .drop-down fieldset::-webkit-scrollbar-thumb:hover {
  background-color: #993835;
}
.filters .button.active {
  background: #e96d51;
}
.filters .button i {
  position: relative;
  display: inline-block;
  background: #f9f6f0;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  top: 3px;
}
.filters .button i:before,
.filters .button i:after {
  content: '';
  position: absolute;
  display: block;
  background: #c3bdb8;
}
.filters #ToGrid i:before,
.filters #ToGrid i:after {
  width: 100%;
  height: 3px;
  top: 7px;
}
.filters #ToGrid i:after {
  width: 3px;
  height: 100%;
  top: 0;
  left: 7px;
}
.filters #ToList i:before,
.filters #ToList i:after {
  width: 100%;
  height: 4px;
  top: 3px;
}
.filters #ToList i:after {
  top: 10px;
}
.filters .button.active i:before,
.filters .button.active i:after {
  background: #e96d51;
}
.image-gallery {
  margin: -4% -4.5% 0 -4.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: 300px 300px auto;
  grid-template-auto-rows: 300px;
  grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l";
  grid-gap: 0.5rem;
}
@media (min-width: 500px) {
  .image-gallery {
    grid-template-areas: "a b" "c d" "e f" "g h" "i j" "k l";
  }
}
.gallery-item {
  background-color: lightgrey;
  grid-area: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-item.extra-image {
  display: none;
}
.gallery-item figure {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
.gallery-item figure figcaption {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2000;
  margin: auto;
  padding: 0.4rem 0.7rem;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background: rgba(31, 15, 9, 0.8);
  text-align: left;
  font-size: 13.6px;
  line-height: 20.8px;
  color: white;
  -webkit-font-smoothing: antialiased;
}
.gallery-item figure figcaption span.credit {
  color: LightGray ;
  font-size: 12.75px;
}
.gallery-item figure:hover .caption {
  opacity: 1;
}
.gallery-item figure:hover img {
  transform: scale(1.1);
}
.gallery-item a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item a img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.see-more-message {
  grid-area: i;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  background: #667377;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
}
body.biogeography-story {
  position: relative;
}
.biogeography-story .intro {
  max-width: 30rem;
  margin-bottom: 4rem;
}
.biogeography-story article {
  position: relative;
  overflow: visible !important;
}
.biogeography-story .scroll-inner {
  border-top: 1px solid;
  padding: 2rem 0;
  display: flex;
}
.biogeography-story .visualisation {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  z-index: 0;
  height: 860px;
  order: 2;
}
.biogeography-story .steps {
  margin-right: 2rem;
  padding-left: 1rem;
  border-left: 10px rgba(255, 255, 255, 0.5) dotted;
}
.biogeography-story .steps section {
  height: 900px;
  z-index: 10;
  transition: opacity 1s;
  opacity: 0.2;
}
.biogeography-story .steps section p {
  color: black;
  padding: 2.5rem 1rem 2rem 0rem;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  border-top: 1px rgba(54, 105, 150, 0.3) solid;
  border-bottom: 1px rgba(54, 105, 150, 0.3) solid;
}
.biogeography-story .steps section:first-of-type {
  margin-top: 4rem;
}
.biogeography-story .steps section.active {
  opacity: 1;
}
.biogeography-story #step14 {
  height: 1400px;
}
.biogeography-story #dataVizMap svg {
  border: 1px #000 solid;
  background-color: #c9e8fd;
}
.biogeography-story #dataVizMap path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5px;
  transition: fill 1s;
}
@-webkit-keyframes pulse {
  0% {
    fill: #4727a2;
  }
  50% {
    fill: #50349d;
  }
  100% {
    fill: #4727a2;
  }
}
@keyframes pulse {
  0% {
    fill: #4727a2;
  }
  50% {
    fill: #50349d;
  }
  100% {
    fill: #4727a2;
  }
}
.biogeography-story #dataVizMap #countries path {
  transition: fill 1s;
}
.biogeography-story #dataVizMap #countries path.highlight {
  transition: fill, -webkit-animation 1s;
  transition: fill, animation 1s;
  transition: fill, animation 1s, -webkit-animation 1s;
  stroke: none;
  -webkit-animation: pulse 2.5s infinite;
  animation: pulse 2.5s infinite;
}
.biogeography-story #dataVizMap path.graticule {
  fill: none;
  stroke: rgba(236, 242, 243, 0.4);
  pointer-events: none;
}
.biogeography-story #dataVizMap path.water {
  fill: #7c9bb3;
  stroke: black;
}
.biogeography-story #dataVizMap path.andes-line {
  fill: none;
  stroke: rgba(148, 101, 49, 0.6);
  stroke-width: 22px;
  stroke-dasharray: 2px;
}
.biogeography-story #dataVizMap #countries .north-america {
  fill: #366996;
  stroke: none;
}
.biogeography-story .poi-label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-anchor: middle;
}
.biogeography-story .place-label,
.biogeography-story .country-label {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  fill: #787b7c;
  text-anchor: middle;
}
.biogeography-story .labels-group circle {
  fill: rgba(188, 96, 68, 0.86);
}
.biogeography-story .stats {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  fill: white;
}
.biogeography-story .stats .value {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
  fill: white;
  font-weight: 200;
}
.biogeography-story #dataVizBarChart rect {
  fill: #bc6044;
}
.biogeography-story #dataVizBarChart .tick text {
  font-size: 1.4em;
  font-family: "prenton", "Gill Sans", sans-serif;
}
.biogeography-story #dataVizBarChart .x-axis .tick line {
  stroke-dasharray: 2 2;
  stroke: #a4a2b6;
}
.biogeography-story #dataVizBarChart text.value {
  font-size: 0.9em;
}
.biogeography-story #dataVizBarChart .domain {
  stroke: #c7c7c7;
}
.biogeography-story #dataVizBarChart text.title {
  font-size: 1.4em;
  font-weight: 200;
  text-anchor: middle;
}
/* @end */
/* @group
 * Reset and base styles
 * ----------------------------------------------------------------- */
/* apply a natural box layout model to all elements- http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "prenton", "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 26px;
  color: #444444;
  background-color: #bcbf81;
  background: #bcbf81 url(../images/interface/background-2.jpg) no-repeat center -4em;
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}
#container,
.masthead-inner,
.footer-inner {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  display: block;
}
div#container > article {
  background-color: #f7f1e4;
  padding: 2em 4%;
  margin-bottom: 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px 20px rgba(170, 174, 95, 0.9);
  -moz-box-shadow: 0 0 30px 20px rgba(170, 174, 95, 0.9);
  box-shadow: 0 0 30px 20px rgba(170, 174, 95, 0.9);
  overflow: hidden;
}
.with-header div#container > article {
  padding: 0rem 4% 2em 4%;
}
.article-header {
  margin-bottom: 1.5em;
  padding-top: 1.5rem;
}
.article-header.rev {
  color: white;
  background-color: #cd795a;
  -webkit-border-top-right-radius: 8px 8px 0 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 8px 8px 0 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 8px 8px 0 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: -2em -4.5% 2em -4.5%;
  padding: 2em 4% 0 4%;
  border-bottom: 2px #ffffff solid;
  text-align: justify;
  text-justify: distribute-all-lines;
  /* distribute items in IE */
}
.article-header.rev:after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  padding: 0;
  margin: 0;
}
.article-header.rev h2 {
  -webkit-font-smoothing: antialiased;
  border: none;
  color: white;
  display: inline-block;
  width: 80%;
}
.main {
  float: left;
  width: 54%;
}
aside {
  float: right;
  width: 40%;
}
/* @end */
/* @group
 * Header
 * ----------------------------------------------------------------- */
.top-nav {
  color: white;
  font-size: 13.6px;
  transition: all 0.4s;
  position: absolute;
  z-index: 10000;
  margin: 4.8rem 0 0 4%;
  width: calc(100vw - 2rem - (100vw - 100%));
  max-width: 30rem;
  height: calc(100vh - 4.8rem);
  /* border: 1px solid blue; */
  overflow: hidden;
  pointer-events: none;
  font-size: 1.1rem;
}
@media (min-width: 856px) {
  .top-nav {
    background-color: #52663a;
    font-size: 0.95rem;
    position: static;
    overflow: auto;
    height: auto;
    width: 100vw;
    max-width: none;
    margin: 0;
    overflow: visible;
  }
}
.top-nav ul {
  background-color: #52663a;
  list-style: none;
  transition: all 0.4s;
  pointer-events: auto;
  border-radius: 4px;
}
.top-nav > ul {
  transform: translateX(-100%);
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #c8dccd;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 400;
}
.top-nav > ul.opened {
  transform: translateX(0vw);
}
@media (min-width: 856px) {
  .top-nav > ul {
    transform: none;
    display: flex;
    border-bottom: none;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0 4%;
    /* border: 1px blue solid; */
  }
  .top-nav > ul li.contains-subitems {
    position: relative;
  }
  .top-nav > ul li.contains-subitems:hover {
    color: #cd795a;
  }
  .top-nav > ul li.contains-subitems:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .top-nav > ul li.contains-subitems > ul {
    transistion: all 0.3s ease-in-out;
    color: white;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1500;
    top: 1rem;
    left: -1rem;
    z-index: 200;
    padding: 1rem;
    width: 20rem;
    transform: translateX(-4rem);
  }
  .top-nav > ul li.contains-subitems > ul li {
    border-bottom: 0.5px solid #c8dccd;
  }
  .top-nav > ul li.contains-subitems li.contains-subitems {
    position: relative;
  }
  .top-nav > ul li.contains-subitems li.contains-subitems ul {
    opacity: 0;
    position: absolute;
    z-index: 2500;
    left: 50%;
    top: -0.5rem;
    transform: translateX(-4rem);
    height: auto;
    visibility: hidden;
  }
  .top-nav > ul li.contains-subitems li.contains-subitems ul h3,
  .top-nav > ul li.contains-subitems li.contains-subitems ul button {
    display: none;
  }
  .top-nav > ul li.contains-subitems li.contains-subitems:hover ul {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    z-index: 3000;
  }
}
.top-nav > ul li {
  border-bottom: 0.5px solid #c8dccd;
  padding: 0.8rem 0;
}
@media (min-width: 856px) {
  .top-nav > ul li {
    border-bottom: none;
  }
}
.top-nav > ul ul {
  margin-top: 0.8rem;
  text-transform: none;
  letter-spacing: 0;
}
@media (min-width: 856px) {
  .top-nav > ul ul {
    position: relative;
  }
}
.top-nav > ul ul li {
  border-bottom: none;
}
.top-nav > ul ul h3 {
  color: white;
}
.top-nav > ul ul.subsublist {
  width: 100%;
  height: calc(100vh - 4.8rem);
  transform: translateX(200%);
  position: absolute;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.8rem;
}
.top-nav > ul ul.subsublist button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: none;
  display: inline;
  padding: 0;
  color: white;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: color 0.2s;
}
.top-nav > ul ul.subsublist button:focus:not(.focus-visible) {
  outline: none;
}
.top-nav > ul ul.subsublist button:hover {
  color: #cd795a;
}
.top-nav > ul ul.subsublist button span {
  margin: 0;
  margin-right: 0.2em;
  font-size: 0.75rem;
}
.top-nav > ul ul.subsublist.opened {
  display: block;
  transform: translateX(100%);
}
.top-nav li.contains-subitems span {
  font-size: 0.75rem;
  margin-left: 0.5em;
}
.top-nav li.active a {
  color: #cd795a;
}
.top-nav a {
  color: inherit;
}
.top-nav a:hover {
  color: #cd795a;
}
.top-nav .social a {
  display: inline;
}
.top-nav .social a:hover svg {
  fill: #cd795a;
}
.top-nav .social svg {
  fill: white;
  width: 1.5rem;
  margin-bottom: -0.5rem;
}
.masthead {
  background-color: #ac3f3c;
  background-color: rgba(172, 63, 60, 0.95);
  margin: 0 0 2em 0;
  *zoom: 1;
}
.masthead:before,
.masthead:after {
  display: table;
  content: "";
}
.masthead:after {
  clear: both;
}
.masthead-inner {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.headline {
  order: 2;
  width: 75%;
  margin-top: -0.7em;
}
@media (max-width: 855px) {
  .headline {
    clear: both;
    width: 100%;
    margin-top: 0.1rem;
  }
}
h1.responsive_headline {
  display: inline;
  vertical-align: middle;
  font-weight: 300;
  font-size: 30.6px;
  line-height: 52px;
  color: #fff;
  padding: 0 1em 0 0;
}
.rbge-logo {
  vertical-align: middle;
  display: inline-block;
  width: 42%;
  max-width: 180px;
}
.lang-chooser-container {
  order: 2;
  color: white;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
  font-size: 11.9px;
  font-weight: 300;
  margin-top: -1.4em;
  border-radius: 4px;
}
.lang-chooser-container button.menu-icon {
  display: none;
  font-family: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0.25rem;
  font-size: 2em;
}
@media (max-width: 855px) {
  .lang-chooser-container button.menu-icon {
    display: inline-block;
  }
}
.lang-chooser-container button.menu-icon:focus:not(.focus-visible) {
  outline: none;
}
.lang-chooser-container button.menu-icon svg {
  float: left;
  cursor: pointer;
  stroke-width: 3;
  /* border: 1px solid white; */
  width: 2.5rem;
  height: 2.5rem;
}
.lang-chooser-container button.menu-icon svg #top {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg) translate(0%, 0%);
  transform-origin: 50% 29%;
}
.lang-chooser-container button.menu-icon svg #middle {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.lang-chooser-container button.menu-icon svg #bottom {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg) translate(0%, 0%);
  transform-origin: 50% 71%;
}
.lang-chooser-container button.menu-icon svg.opened #top {
  transform: rotate(45deg) translate(15%, 15%);
}
.lang-chooser-container button.menu-icon svg.opened #middle {
  opacity: 0;
}
.lang-chooser-container button.menu-icon svg.opened #bottom {
  transform: rotate(-45deg) translate(15%, -15%);
}
@media (max-width: 855px) {
  .lang-chooser-container {
    width: 100%;
    order: 1;
    margin: -1em 0% 1em;
    padding: 0.6em 1em 0.6em 0.25em;
    background: #86312f;
  }
}
.lang-chooser-container .lang-chooser {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: right;
  justify-content: space-evenly;
}
.lang-chooser-container .lang-chooser p {
  line-height: 2em;
  display: inline;
  margin-bottom: 0.25rem;
  padding: 0;
}
@media (max-width: 540px) {
  .lang-chooser-container .lang-chooser p {
    display: none;
  }
}
.lang-chooser-container .lang-chooser img {
  margin: 0 0.8em;
  height: 1.5rem;
  width: auto;
}
.lang-chooser-container .lang-chooser a {
  margin: 0;
  border: 0;
  padding: 0;
}
/* @end */
/* @group
 * Home Page
 * ----------------------------------------------------------------- */
.home figure {
  *zoom: 1;
  width: 100%;
}
.home figure:before,
.home figure:after {
  display: table;
  content: "";
}
.home figure:after {
  clear: both;
}
.home figure figcaption {
  text-align: left;
  float: right;
  width: 50%;
  padding: 15% 2em 0 0 ;
}
.home figure img {
  float: left;
  width: 40%;
}
/*
  * Home page bar chart
  * ----------------------------------------------------------------- */
#endemics-graph label {
  margin-left: 0.6rem;
}
#endemics-graph input {
  vertical-align: 2px;
}
/*
  * svg map
  * ----------------------------------------------------------------- */
.home aside,
.search aside {
  width: 50%;
  margin: -2em -4.4%;
}
@media (max-width: 630px) {
  .home aside,
  .search aside {
    display: none;
  }
}
@media (max-width: 630px) {
  .home .main,
  .search main {
    width: 100%;
  }
}
.svg-container {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  float: right;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.svg-content {
  float: right;
  right: -3em;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.svg-tool-tip {
  position: absolute;
  z-index: 10;
  width: 10rem;
  padding: 1.5rem 1rem;
  background-color: #631d11;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
  border-radius: 5rem;
  box-shadow: 0px 0px 0px 2px white;
}
.svg-tool-tip:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 60px solid #5e1c10;
  transform: rotate(45deg);
}
.svg-tool-tip .big-number {
  font-size: 3.3rem;
  line-height: 3.2rem;
  color: #e2bd7f;
  font-weight: 100;
}
@media (max-width: 700px) {
  #JF {
    display: none;
  }
}
.fill-grey {
  fill: #A9A9A6;
}
.fill-pale {
  fill: #E5C690;
}
.fill-darker {
  fill: #DC9E6C;
}
.svg-stroked-box {
  stroke: #DC9E6C;
  stroke-width: 1px;
  fill: none;
}
.map-label,
.region-code {
  font-family: "prenton", "Gill Sans", sans-serif;
  font-size: 12px;
  fill: #000;
}
.fill-darker:hover {
  fill: white;
}
@keyframes pulse {
  0,
  100% {
    fill: #86312f;
  }
  50% {
    fill: #c76946;
  }
}
.region {
  transition: all 0.25s;
}
.region.active {
  fill: #ac3f3c;
}
.category .region.active path {
  fill: #c76946;
}
.region.disabled {
  fill: #c3beaf;
  pointer-events: none;
}
.region.active .region-code {
  fill: #fff;
}
.region.disabled .region-code {
  fill: #d4d4d4;
}
.region.disabled .map-label {
  fill: #b0b0b0;
}
.region:hover {
  fill: #b1413a;
  box-shadow: 3px 3px 5px 6px #ccc;
  cursor: pointer;
}
.region:active {
  animation: pulse 0.8s infinite ease-in-out;
}
.region:hover .region-code {
  fill: #fff;
}
#JF:hover .region-code {
  fill: black;
}
/* 
 
 /* @group
 * Taxa detail
 * ----------------------------------------------------------------- */
.taxa-detail .main {
  width: 80%;
}
.taxa-detail .main.with-photos {
  width: 62%;
  float: left;
}
@media (max-width: 795px) {
  .taxa-detail .main.with-photos {
    width: 100%;
    float: right;
  }
}
.tab-common {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, calc(100% - 1.2rem) calc(100% - 1.2rem), calc(100% - 1.2rem) calc(100% - 1.2rem), 0% calc(100% - 1.2rem));
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem 3.2rem 2.2rem 2.2rem;
  margin: 0;
  margin-left: -2.2rem;
  transition: all 0.3s ease-in-out;
}
.tab-common:hover,
.tab-common.active,
.tab-common:active {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, 100% 100%, calc(100% - 1.2rem * 2) calc(100% - 1.2rem), 0 calc(100% - 1.2rem));
}
.tab-common.active {
  pointer-events: none;
}
.tabs ul {
  display: flex;
  margin: 0 calc(-4% - 4px) 0 calc(-4% - 4px);
  position: relative;
}
.tabs ul:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - (1.2rem + 4px));
  background-color: #474f51;
  border-bottom: 1px white solid;
}
.tabs li:first-child a,
.tabs li[style*="none"] + li a {
  margin-left: 0 !important;
  padding-left: 2.5rem !important;
}
.tabs li:nth-child(3n+1) a {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, calc(100% - 1.2rem) calc(100% - 1.2rem), calc(100% - 1.2rem) calc(100% - 1.2rem), 0% calc(100% - 1.2rem));
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem 3.2rem 2.2rem 2.2rem;
  margin: 0;
  margin-left: -2.2rem;
  transition: all 0.3s ease-in-out;
  background: #d76b46;
  z-index: 60;
}
.tabs li:nth-child(3n+1) a:hover,
.tabs li:nth-child(3n+1) a.active,
.tabs li:nth-child(3n+1) a:active {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, 100% 100%, calc(100% - 1.2rem * 2) calc(100% - 1.2rem), 0 calc(100% - 1.2rem));
}
.tabs li:nth-child(3n+1) a.active {
  pointer-events: none;
}
.tabs li:nth-child(3n+1) a:hover {
  background: #c05d2a;
}
.tabs li:nth-child(3n+2) a {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, calc(100% - 1.2rem) calc(100% - 1.2rem), calc(100% - 1.2rem) calc(100% - 1.2rem), 0% calc(100% - 1.2rem));
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem 3.2rem 2.2rem 2.2rem;
  margin: 0;
  margin-left: -2.2rem;
  transition: all 0.3s ease-in-out;
  background: #128cb5;
  z-index: 40;
}
.tabs li:nth-child(3n+2) a:hover,
.tabs li:nth-child(3n+2) a.active,
.tabs li:nth-child(3n+2) a:active {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, 100% 100%, calc(100% - 1.2rem * 2) calc(100% - 1.2rem), 0 calc(100% - 1.2rem));
}
.tabs li:nth-child(3n+2) a.active {
  pointer-events: none;
}
.tabs li:nth-child(3n+2) a:hover {
  background: #0d5e87;
}
.tabs li:nth-child(3n+3) a {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, calc(100% - 1.2rem) calc(100% - 1.2rem), calc(100% - 1.2rem) calc(100% - 1.2rem), 0% calc(100% - 1.2rem));
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem 3.2rem 2.2rem 2.2rem;
  margin: 0;
  margin-left: -2.2rem;
  transition: all 0.3s ease-in-out;
  background: #d68e5b;
  z-index: 10;
}
.tabs li:nth-child(3n+3) a:hover,
.tabs li:nth-child(3n+3) a.active,
.tabs li:nth-child(3n+3) a:active {
  clip-path: polygon(0% 0%, calc(100% - 2.2rem) 0%, 100% 100%, calc(100% - 1.2rem * 2) calc(100% - 1.2rem), 0 calc(100% - 1.2rem));
}
.tabs li:nth-child(3n+3) a.active {
  pointer-events: none;
}
.tabs li:nth-child(3n+3) a:hover {
  background: #cb7f33;
}
.tabs li a {
  color: white;
  display: block;
}
.taxa-detail h3 {
  border-bottom: none;
  color: #ac3f3c;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-size: 1rem;
  margin: 1.5rem 0 0 0;
}
article ul,
article ol {
  list-style: none;
  margin: 0 0 10.4px 0;
}
.article-header {
  background: #474f51;
  margin: 0 calc(-4% - 4px) 0 calc(-4% - 4px);
  padding: 2.5rem 2.5rem 0.6rem 2.5rem;
  color: white;
}
.article-header .family {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  margin-bottom: 0.1rem;
}
.article-header h2 {
  font-size: 35.7px;
  font-weight: 300;
  border: none;
  color: white;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
  -webkit-font-smoothing: antialiased;
}
.article-header h2 i {
  font-style: normal;
}
.article-header h2 span {
  font-size: 20.4px;
  font-weight: 400;
  white-space: nowrap;
}
.is_a_syn p {
  margin: 1em 0;
  color: white;
}
.is_a_syn p a {
  color: #d17f7d;
  transition: color 0.24s ease-in-out;
}
.is_a_syn p a:hover {
  color: #ffaa42;
}
.taxonomic-links {
  float: right;
}
.classified-in,
.prev-next-links {
  padding: 0;
  margin: 0;
  *zoom: 1;
  list-style: none;
  font-weight: 300;
  color: #e5e5e5;
  font-smoothing: antialiased;
}
.classified-in:before,
.prev-next-links:before,
.classified-in:after,
.prev-next-links:after {
  display: table;
  content: "";
}
.classified-in:after,
.prev-next-links:after {
  clear: both;
}
.classified-in > li,
.prev-next-links > li {
  float: left;
}
.classified-in > li > a,
.prev-next-links > li > a {
  text-decoration: none;
  padding: 0.3em 0.3em 0.3em 0;
}
.classified-in li,
.prev-next-links li {
  padding: 0 0.3em 0 0;
}
.classified-in a,
.prev-next-links a {
  color: #cccccc;
  transition: color 0.24s ease-in-out;
}
.classified-in a:hover,
.prev-next-links a:hover {
  color: #db7900;
}
.ref-url {
  -ms-word-break: break-all;
  word-break: break-word;
}
#map {
  height: 750px;
  margin-bottom: 1em;
}
#map img {
  /*min-width: 100%;*/
  max-width: inherit;
}
#reset-map {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 12px;
  margin: 0.5em 0;
  font-size: 17px;
  line-height: 26px;
  *line-height: 26px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #525252;
  background-image: -moz-linear-gradient(top, #666666, #333);
  background-image: -ms-linear-gradient(top, #666666, #333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333));
  background-image: -webkit-linear-gradient(top, #666666, #333);
  background-image: -o-linear-gradient(top, #666666, #333);
  background-image: linear-gradient(top, #666666, #333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333', GradientType=0);
  border-color: #333 #333 #0d0d0d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #333;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #4d4d4d;
  border-bottom-color: #333;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *margin-left: 0.3em;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.5);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.5);
  padding: 1px 6px;
  font-size: 12.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#reset-map:hover,
#reset-map:active,
#reset-map.active,
#reset-map.disabled,
#reset-map[disabled] {
  color: white;
  background-color: #333;
  *background-color: #262626;
}
#reset-map:active,
#reset-map.active {
  background-color: #1a1a1a \9;
}
#reset-map:first-child {
  *margin-left: 0;
}
#reset-map:hover {
  text-decoration: none;
  background-color: #333;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
#reset-map:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#reset-map.active,
#reset-map:active {
  background-color: #0d0d0d \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
#reset-map.disabled,
#reset-map[disabled] {
  cursor: default;
  background-color: #1a1a1a;
  background-image: none;
  opacity: 65 / 100;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*map infobox styling*/
.m_tooltip {
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  z-index: -2;
  color: #FFFFFF;
  float: left;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #313436;
  text-shadow: 0px 0px 3px #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px #000;
  -moz-box-shadow: 0px 1px 2px #000;
  box-shadow: 0px 1px 2px #000;
  background-color: rgba(24, 26, 28, 0.54);
  background-image: -moz-linear-gradient(top, rgba(31, 34, 36, 0.7), rgba(0, 0, 0, 0.3));
  background-image: -ms-linear-gradient(top, rgba(31, 34, 36, 0.7), rgba(0, 0, 0, 0.3));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(31, 34, 36, 0.7)), to(rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(top, rgba(31, 34, 36, 0.7), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(31, 34, 36, 0.7), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(top, rgba(31, 34, 36, 0.7), rgba(0, 0, 0, 0.3));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(31, 34, 36, 0.7)', endColorstr='rgba(0, 0, 0, 0.3)', GradientType=0);
}
.no-cssgradients .m_tooltip {
  background-color: #313436;
}
.m_tooltip p {
  margin-bottom: 0;
  font-size: 16px;
}
h4 {
  border: 0;
  color: #ac3f3c;
  margin: 0.7em 0 0.2em 0;
}
/* Image gallery setup (more specific styles are included in twig template, _image_gallery_inline_styles.html, as they are dependant on number of images)
---------------- */
.taxa-detail aside {
  width: 35%;
  float: right;
  text-align: right;
}
@media (max-width: 795px) {
  .taxa-detail aside {
    width: 100%;
    float: left;
    text-align: left;
  }
}
/* @end */
/* @group
 * search page
 * ----------------------------------------------------------------- */
.taxa-list aside {
  *zoom: 1;
  border: 1px black solid;
}
.taxa-list aside:before,
.taxa-list aside:after {
  display: table;
  content: "";
}
.taxa-list aside:after {
  clear: both;
}
.taxa-list .main {
  width: 62%;
  float: right;
}
.taxa-list object {
  min-width: 100%;
}
#taxa-field {
  width: 20%;
  height: 1.9em;
}
.input-append {
  position: relative;
}
.search-query {
  padding: 0.6em 0.8em 0.5em 0.8em;
  padding-left: 2.3em;
  margin-bottom: 0;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  border: 1px #999 solid;
  -webkit-box-shadow: inset 0 0 6px rgba(91, 76, 76, 0.16);
  -moz-box-shadow: inset 0 0 6px rgba(91, 76, 76, 0.16);
  box-shadow: inset 0 0 6px rgba(91, 76, 76, 0.16);
}
input.search-query:focus {
  outline: none;
  border: 2px #cd795a solid;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  background-image: inherit;
}
.input-append:after {
  content: '';
  position: absolute;
  left: 0.85em;
  top: 36%;
  width: 1.2em;
  height: 1.2em;
  background: url('/images/interface/magnifyingglass.svg') no-repeat;
  background-size: cover;
}
.input-append button {
  position: absolute;
  right: 0.85em;
  top: 36%;
  width: 1.2em;
  height: 1.2em;
  padding: none;
  border: none;
  font-family: inherit;
  background: none;
  background: url('/images/interface/multiply.circle.fill.svg') no-repeat;
  background-size: cover;
}
.input-append button:active {
  outline: none;
}
input.search-query {
  margin: 1em 0;
  width: 100%;
  position: relative;
}
.modal-trigger {
  background-color: gray;
  color: white;
  font-style: italic;
  font-weight: 600;
  direction: inline-block;
  min-width: 0.5rem;
  min-height: 1rem;
  padding: 0.05rem 0.65rem 0.05rem 0.55rem;
  margin-left: 0.6rem;
  border-radius: 50%;
}
.modal-pop-up {
  background-color: #f7f1e4;
}
.pagination-bar {
  color: #5e5e5e;
  font-size: 0.9rem;
  margin: 1rem 0;
}
.pagination-bar p.info {
  margin-bottom: 0.25rem;
}
.pagination-bar p.info small {
  font-size: 0.9rem;
  font-weight: 100;
}
.pagination-bar ul {
  /* border: 1px gray solid; */
  border-radius: 7px;
  width: auto;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: rgba(205, 121, 90, 0.8);
  color: white;
  font-size: 0.8rem;
}
.pagination-bar ul li {
  border-right: 1px white solid;
  margin: 0;
}
.pagination-bar ul li:last-child {
  border-right: none;
}
.pagination-bar ul li a {
  padding: 0.5rem 0.7rem;
  display: block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.pagination-bar ul li.active {
  background-color: #e3a445;
}
.pagination-bar ul li.active a {
  color: black;
}
.pagination-bar ul li.disabled {
  pointer-events: none;
}
.pagination-bar ul li.disabled a {
  color: #e5b9a8;
}
li.mix,
h3.mix {
  transition: all 300ms ease-in-out;
  display: block;
  max-height: 52px;
  transform: scaleY(1);
  transform: translate3d(0, 0, 0);
  margin: 0.2em 0;
  opacity: 1;
  visibility: visible;
  border-bottom: none;
}
h3.mix {
  border-bottom: 1px #cd795a solid;
  margin: 0.7rem 0 0.3em 0;
  width: 80%;
}
li.mix {
  margin-left: 1.2em;
  text-indent: -1.2em;
  line-height: 1.2em;
}
li.mix.hide,
h3.mix.hide {
  transition: all 300ms ease-in-out;
  transform: scaleY(0.000001);
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border-bottom: 0 white solid;
}
#taxa-list li.synonym a:after {
  content: url(/images/interface/synonym-symbol.svg);
  vertical-align: middle;
  fill: #f8cf7a;
  width: 1em;
  height: 1em;
  margin-bottom: 0.3em;
  display: inline-block;
  vertical-align: text-top;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.4rem;
}
/* @end */
/* @group
 * index pages
 * ----------------------------------------------------------------- */
.indexes div.article-header {
  padding-bottom: 0;
  *zoom: 1;
}
.indexes div.article-header:before,
.indexes div.article-header:after {
  display: table;
  content: "";
}
.indexes div.article-header:after {
  clear: both;
}
.syns-checkbox {
  display: inline-block;
}
.syn-symbol {
  display: inline-block;
  vertical-align: middle;
  fill: #f8cf7a;
  width: 1em;
  height: 1em;
  margin-bottom: 0.3em;
}
.alphabetical-index {
  font-size: 0;
  line-height: 0;
  margin: 0.5em 0 0 0;
  text-align: justify;
  text-justify: distribute-all-lines;
  /* distribute items in IE */
}
.alphabetical-index:after {
  display: inline-block;
  content: '';
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (max-width: 640px) {
  .alphabetical-index {
    border-top: 1px #d99981 solid;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }
}
.alphabetical-index > a {
  font-size: 17px;
  line-height: 26px;
  color: white;
  display: inline-block;
  text-align: center;
  min-width: 3.6%;
  padding: 0.2em 0;
}
@media (max-width: 640px) {
  .alphabetical-index > a {
    margin: 0 2%;
    padding: 0 0.5%;
  }
}
@media (max-width: 500px) {
  .alphabetical-index > a {
    margin: 0 3.4%;
    padding: 0 0.5%;
  }
}
.alphabetical-index a.active {
  color: #444444;
  background-color: #f7f1e4;
  border: 2px #ffffff solid;
  border-bottom: none;
  position: relative;
  pointer-events: none;
  cursor: default;
}
.alphabetical-index a.active:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 3px #f7f1e4 solid;
  display: block;
}
@media (max-width: 640px) {
  .alphabetical-index a.active:after {
    display: none;
  }
}
.alphabetical-index a:hover {
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  background-color: #94492d;
  color: white;
}
.alphabetical-index .disabled {
  color: #d99981;
  pointer-events: none;
  cursor: default;
}
.index-list .author {
  color: #808080;
  font-size: 13.6px;
  white-space: nowrap;
}
@media (min-width: 500px) {
  .index-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
@media (min-width: 940px) {
  .index-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
.index-list ul {
  margin: 0 0 0 0;
}
@media (min-width: 940px) {
  article.cols-1 .index-list {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    width: 50%;
  }
}
@media (min-width: 940px) {
  article.cols-2 .index-list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
@media (min-width: 940px) {
  article.cols-3 .index-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}
.index-list small {
  font-size: 11.9px;
  color: #333;
}
.filter {
  margin-top: 1em;
  font-size: 13.6px;
}
/* @end */
/* @group
* about page
* ----------------------------------------------------------------- */
.about .main {
  width: 100%;
}
.static-section {
  *zoom: 1;
}
.static-section:before,
.static-section:after {
  display: table;
  content: "";
}
.static-section:after {
  clear: both;
}
.static-section .text {
  width: 60%;
  float: left;
}
@media (max-width: 650px) {
  .static-section .text {
    width: 100%;
  }
}
.static-section .text figure img {
  float: left;
  max-width: 15%;
  clear: both;
  margin: 1rem 1rem 0 0 ;
}
.home .static-section .text {
  width: 100%;
  float: left;
}
@media (max-width: 650px) {
  .home .static-section .text {
    width: 100%;
  }
}
/* @group
 * region and habitat pages
 * ----------------------------------------------------------------- */
.category.no-images .article-header {
  margin-top: -2.5rem;
}
.category .taxa-lists ul {
  column-count: 2;
}
@media (max-width: 650px) {
  .category .taxa-lists ul {
    column-count: 1;
  }
}
.category .text {
  font-size: 1.1rem;
  line-height: 2rem;
  margin-top: 1.5rem;
}
.category .text p:first-line {
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
.regions .article-header {
  position: relative;
  min-height: 20rem;
}
.regions .map {
  top: 0;
  right: 0;
  bottom: -3.2rem;
  display: inline-block;
  position: absolute;
  width: 30%;
  overflow: hidden;
  z-index: 100;
}
.regions .map svg {
  z-index: 500;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: -1rem;
}
/* @group
 * footer
 * ----------------------------------------------------------------- */
footer {
  *zoom: 1;
  background-color: #ac3f3c;
  min-height: 3em;
  width: 100%;
  padding: 2% 0;
  margin: 0	0	0	0;
  grid-row: 3/4;
}
footer:before,
footer:after {
  display: table;
  content: "";
}
footer:after {
  clear: both;
}
footer img {
  float: left;
  min-width: 20%;
}
footer .details {
  float: right;
  width: 75%;
}
footer .details small {
  color: #f8cf7a;
  font-size: 17px / 1.3;
  line-height: 17px;
}
footer .details small a {
  color: inherit;
}
footer .details small a:hover {
  color: white;
}
footer .details ul {
  list-style: none;
  margin: 0 0 0.2em;
}
footer .details ul > li {
  -webkit-font-smoothing: antialiased;
  color: white;
  display: inline-block;
  padding: 0 1em 0 0;
}
footer .details ul > li a {
  color: inherit;
}
footer .details ul > li a:hover {
  color: #f8cf7a;
}
/* @end */
/*# sourceMappingURL=style.css.map */