{#
#  template
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = category.title %}
{% set images = category.categoryPhoto %}
{% set imageCount = images|length %}
{% set bodyClass = "category #{category.group.handle} #{(images|length == 0) ? "no-images" }" %}
{% set entry = category %}

{% block content %}
		{% if category.categoryPhoto|length %}

		 {% include '_includes/_image_gallery_inline_styles' %}
		 {% include '_includes/_image_gallery' %}
			 {# {% elseif category.group.handle == "regions" %}
			 <img class="region-image" src="/images/interface/{{ category.slug|upper }}.svg" alt="{{ category.title }}" /> #}
		 {% endif %}
		<div class="article-header">
			<p class="family"> {{ category.group.name | t | singularize }}</p>	
			<h2 class="taxa"> {{ category.title }}</h2>
			{% if category.group.handle == "regions" %}
			<div class="map">
				{% include '_includes/chile_regions_map_for_regions.svg' %}
			</div>
			{% endif %}
		</div><!--article-header-->
		<div class="article-content">
			<nav class="tabs info-tabs">
				<ul>
					<li><a href="#description">{{ 'Description'|t }}</a></li><!--
					--><li><a href="#assocated-taxa">{{ 'Associated Chilean Endemics'|t }}</a></li>
					<li><a href="#endemic-to-category">{{ 'Endemic to this '|t ~ category.group.name | t | singularize }}</a></li>
				</ul>
			</nav> 
			<section id="description" class="static-section tabbed">
				<div class="text">
						 {{ category.description }}
				</div>
			</section>
 			{% set entries =	craft.entries()
 			 					.section('taxa')
 			 					.relatedTo(category)
 			 					.isASynonym('0')
 			 					.orderBy('title')
 			 					.with([category.group.handle]) 
 			 %}
 			 {# Array to store ids of Endemics to category only#}
 			 {% set endemicToCategoryIds = [] %}
 			<section id="assocated-taxa"  class="taxa-lists tabbed">
				 <div class="text">
	 			<h3>{{ "Endemic Taxa in "|t ~ " " ~category.title }}</h3>
				<ul>
				
				{% for taxa in entries.all() %}
					<li><a href="{{ siteUrl ~ "taxa/" ~  taxa.slug }}">{{ taxa.title }}</a>
						{% if taxa[category.group.handle]|length == 1 %} 
							{# {{ "[Only found in this #{category.group.name | singularize | lower }]"|t }} #}
							{% set endemicToCategoryIds = endemicToCategoryIds|merge([taxa.id]) %}
						{% endif %}
					</li>
				{% endfor %}	
				</ul>
	
				</div>
			</section>
			<section id="endemic-to-category"  class="taxa-lists tabbed">
				{% if endemicToCategoryIds|length %}
				{% set entries =	craft.entries().id(endemicToCategoryIds).order('title') %} 
				<h3>{{ "Endemic taxa only occurring in "|t ~ " " ~ category.title  }}</h3>
				<ul>
				{% for taxa in entries %}
					<li><a href="{{ siteUrl ~ "taxa/" ~  taxa.slug }}">{{ taxa.title }}</a></li>
				{% endfor %}	
				</ul>
			{% endif %}
			</section>
		</div>
{% endblock %}		
{% block scriptPageBottom %}
<script src="https://d3js.org/d3.v4.js"></script>
<script>

	var width = 948.7;
	var height = 1385.6;

	  const svg = d3.create("svg")
			.attr("viewBox", [0, 0, width, height])
	var regionMap = d3.select('#regions-map');
	var svg_group = d3.select('#outer_group');
	var regions = regionMap.selectAll('.region');	
	var regionId = '#{{ entry.slug }}';
	
	var currentRegion = regionMap.select(regionId);
	var currentRegionBB = currentRegion.node().getBBox();
	var currentRegionZoomT = d3.zoomTransform(currentRegion.node());
	
	zoom = d3.zoom()
	.extent([[0, 0], [948.7, 1385.6]])
	.translateExtent([[0, 0],[948.7, 1385.6]])
	.scaleExtent([.5, 50])
	.on("zoom", zoomed);
	
	regionMap
	
	.call(zoom);
 
	
	regionMap
		.attr("preserveAspectRatio","xMinYMin meet")
		.style('visibility', 'visible')
		.style('fill', 'rgba(255,255,255,0.2)')
		// .attr('width', width)
		// .attr('height', height)
		.attr('viewbox', [0,0, width, height])
		.call(intitalTransition, currentRegion)
		.call(zoom);
		
	regions
	.style('fill', 'rgba(255,255,255,.3)')
	.style('stroke-width', "0.5")
	.style('stroke', 'white')
	.attr('pointer-events', 'none')
	.attr("cursor", "none")
	//.on("click", clicked); Uncomment to allow zoom to click on other regions
	.on("click", reset); //Uncomment to allow zoom to click on other regions
	
	currentRegion.style('fill', '#c76946');	
		
	
	function center() {
		  return d3.zoomIdentity
				  .scale(0.5);
		}
	
	function intitalTransition(selection, currentRegion) {
			var bb = currentRegion.node().getBBox();
			var x0 = bb.x;
			var x1 = bb.x + bb.width;
			var y0 = bb.y;
			var y1 = bb.y + bb.height;
			 regions.transition().style("fill", null);
			 currentRegion.transition().style("fill", "#c76946");
			 regionMap.transition().duration(1200).call(
				zoom.transform,
				d3.zoomIdentity
				.translate(width / 2, height / 2)
				.scale(Math.min(40, .4 / Math.max((x1 - x0) / width, (y1 - y0) / height)))
				.translate(-(x0 + x1) / 2, -(y0 + y1) / 2), width/2, height/2);
	}
	
	function clicked() {
		console.log(d3.event);
		d3.event.stopPropagation();
		var bb = this.getBBox();
		var x0 = bb.x;
		var x1 = bb.x + bb.width;
		var y0 = bb.y;
		var y1 = bb.y + bb.height;
		
		if (currentRegion.node() === this) return reset();
		  currentRegion.classed("active", false);
		  currentRegion = d3.select(this).classed("active", true);
		  
		 regions.transition().style("fill", null);
		 d3.select(this).classed("active", true);
		 // d3.select(this).transition().style("fill", "#c76946");
		 regionMap.transition().duration(1200).call(
			zoom.transform,
			d3.zoomIdentity
			.translate(width / 2, height / 2)
			.scale(Math.min(40, .3 / Math.max((x1 - x0) / width, (y1 - y0) / height)))
			.translate(-(x0 + x1) / 2, -(y0 + y1) / 2), d3.clientPoint(regionMap.node(), d3.event));
	  }	
	
	function reset() {
		  currentRegion.classed("active", false);
		  currentRegion = d3.select(null);
		  regionMap.transition()
			 .duration(750)
			 // .call( zoom.transform, d3.zoomIdentity.translate(0, 0).scale(1) ); // not in d3 v4
			 .call(zoom.transform, d3.zoomIdentity.scale(.5)); // updated for d3 v4
		}
		
function zoomed() {
	 svg_group.style("stroke-width", 1.2 / d3.event.transform.k);
	 svg_group.attr("transform", d3.event.transform);
  }
	

	
	
	
	



  

	
	  
	  

</script>
{% endblock %}