{% extends "_layout" %}
{% set subtitle = "Search"|t %}
{% set bodyClass = "search" %}

{% block content %}
<div id="el" class="search-form" >
	<div class="article-header rev">
		<div class="filters control-group" v-cloak>

			 <fieldset v-for="(facet, index) in facetGroupUIState" v-bind:class="['drop-down', facet.hasSelected ? 'active' : 'not-active', facet.isOpen ? 'expanded' : '', ]"	@click.self='toggleFilterContolOpen(facet)'>

				 <h4 class="label" v-cloak>
					 ${ facet.title |t }<svg class="svg-icon down-arrow">
						 <use xlink:href="#down-arrow"></use>
					 </svg>
				 </h4>
				 <div class="scroller transition-ended">

					 <template v-if="dataLoading">
						 <p>… {{ "Loading Filters"|t }} </p>
					 </template>
					 <template v-else>
						 <template v-if="searchResult.data.aggregations[facet.name].buckets.length == 0">
							 <label class="active"><input class="checkbox "/>{{ "None available, or unknown"|t }}</label>
						 </template>
						 <template v-else>
							 <label v-bind:class="[facet.hasSelected ? '' : 'active']">{{ 'All'|t }}<input type="checkbox" value="all" @click='resetThisAggregation(facet)' /></label>
						 </template>
						 <label v-for="bucket in searchResult.data.aggregations[facet.name].buckets" v-bind:class="bucket.selected ? 'active' : ''">
							 <input class="checkbox"
								 type="checkbox"
								 v-model="filters[facet.name]"
								 v-bind:value="bucket.key" 
								 />${ bucket.key } (${ bucket.doc_count})
						 </label>
					 </template>
				 </div>
			 </fieldset>
			 <fieldset v-bind:class="[anyFiltersActive || isSearching ? 'active' : '', 'drop-down', 'reset']" v-on:click="reset()" v-cloak>
				 <button>{{ "Clear all filters"|t }}</button>
			 </fieldset>
		</template>
		</div>
	</div>


	<section class="article-content">
		<div class="main">
			{% set introText = siteText.siteText.code('search-page').one().text %}
			{{ introText }}
			<div class="filter-options">
				<input type="radio" id="one" v-bind:value="false" v-model="filtersConjugateResults">
				<label for="one">{{ "<b>Cumulative</b> (superset of matches)"|t|raw }}</label>
				<a class="modal-trigger" data-fancybox data-src="#hidden-content" href="javascript:;">i</a>
				<br>
				<input type="radio" id="two" v-bind:value="true" v-model="filtersConjugateResults">
				<label for="two">{{ "<b>Subtractive</b> (subset of matches)"|t|raw }}</label>
				<a class="modal-trigger" data-fancybox data-src="#hidden-content" href="javascript:;">i</a>
			</div>
			<div class="search">
				<div v-bind:class="[isSearching ? 'searching' : '', 'input-append']">
					<input type="text"	id="search_input" v-model="query" class="search-query" class="search-query" placeholder="{{ "Search"|t }} …">
					<template v-if="isSearching">
						<button v-on:click="reset()" class="cancel-search" aria-label="{{ "Cancel search"|t }}"></button>
					</template>
				</div>
			</div>
			<template v-if="dataLoading">
				<h3>{{ "Taxa list loading …" | t }}</h3>
			</template>
			<template v-else>
			<template v-if="dataLoading">
				<h3>{{ "Taxa list loading …" | t }} <img src="/images/interface/three-dots-loading.svg"></h3>
			</template>
				<template v-if="searchResult.data.items.length == 0">
					<h3>{{ "Sorry, no results match filters or search terms"|t }}</h3>
				</template>
				<template v-else>
					<h3>{{ "Total of"|t }} ${ searchResult.pagination.total } {{ "taxa matched"|t }}. (${ totalAccepted } {{ "accepted"|t }}, ${ totalSynonyms } {{ "synonyms"|t }})</h3>
					{% set debug = false %}
					{% if debug %}<small>[ Search performed in ${ searchResult.timings.search } ms, facets in ${ searchResult.timings.facets } ms]</small>{% endif %}
					<p class="download-message"><a v-on:click="downloadResults">{{ "Download this result as CSV"|t }}</a></p>
				</template>
				<template v-if="pageCount > 1">
					<div class="pagination-bar">
						<p class="info">{{ "Showing page ${ searchResult.pagination.page } of ${ pageCount }"|t }}</p>
						<paginate :page-count="pageCount"
							:click-handler="goToPage"
							:prev-text="'{{ "Prev"|t }}'"
							:next-text="'{{ "Next"|t }}'"
							:container-class="'pagination'">
						</paginate>
					</div>
				</template>
				<ul id='taxa-list'>
					 <li v-for="item of searchResult.data.items" :class="[item.isASynonym ? 'synonym' : 'accepted']">
						 <a	:href="`/taxa/${item.slug}`">${ item.title }</a>
					 </li>
				</ul>
			</template>
		</div>
		<!-- main -->
		<aside>
			<div id="regions-map" class="svg-container">
				{{ include('_includes/chile_regions_map_new.svg') }}
			</div>
		</aside>
	</section>
	<div class="modal-pop-up" style="display: none;" id="hidden-content">
		<h2>{{ "Filter modes"|t }}</h2>
		<img src="/images/interface/search_info_{{ currentSite.language }}.png" width="800"></img>
	</div>	
</div>
{% endblock %}
{% block scriptPageBottom %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>  {# // remove for production #}
<script> 
translations = {
	 'showing_all_msg': '{{ "Showing all taxa"|t }}',
	 'taxa_matched':'{{ "taxa matched"|t }}',
	 'no_results_msg':'{{ "Sorry, no results match filters or search terms"|t }}',
	 'accepted':'{{ "accepted"|t }}',
	 'Accepted':'{{ "Accepted"|t }}',
	 'synonyms':'{{ "synomyms"|t }}',
	 'Synonyms':'{{ "Synonyms"|t }}',
	 'Accepted_names': '{{ "Accepted names"|t }}',
	 'Not_in_listed_collections': '{{ "Not in listed collections"|t }}',
	 'Life Forms': '{{ "Life forms"|t }}',
	 'All': '{{ "All"|t }}',
	 'Regions': '{{ "Regions"|t }}',
	 'Families': '{{ "Families"|t }}',
	 'Genera': '{{ "Genera"|t }}',
	 'All': '{{ "All"|t }}',
	 'Taxa': '{{ "Taxa"|t }}',
	 'Collections': '{{ "Collections"|t }}',
	 'Loading': '{{ "Loading"|t }}',
	 'Habitats': '{{ "Habitats"|t }}',
};


//Create lookup of regionId to names
{% set regions = craft.categories.group('regions').all() %}
var regionIdtoName = {

						{% for item in regions %}
							 {{ item.slug }}: '{{ item.title|escape('js') }}',
						 {% endfor %} 
					}

//console.log(regionIdtoName)
// Itemjs configuration


// CraftGraphQL configuration
let requestURL = 'https://chileanendemics.rbge.org.uk/api';
let token ="GG0D06rIS2SAMKZXEtrpZn9utghWv8Jr";
let query = {
	 query: `query {
	 entries(site: "{{ currentSite.handle }}", section: ["taxa"], orderBy: "title ASC", limit: 10000) {
	 title
	 id
	 slug
	 species
	 genus {
		genusSlug: slug
		genusId: id
		genusTitle: title
		parentTaxonomicGroup {
			title
			id
			slug
		}
	 }
	 isASynonym
	 regions {
		title
	 }
	 plantForms {
		title
	 }
	 collections {
		 title
	  }
	  habitats {
		  title
	  }

	}
}`
};



 // add vue component for pagination
 Vue.component('paginate', VuejsPaginate);

 // enables for Vue templates translations
	Vue.filter('t', function (value) {
	if (!value) return ''
	value = translations[value]
	return value
 })

 var vm = new Vue({
	el: '#el',
	delimiters: ['${', '}'],
	itemsJs: null,
	data: function () {	
		var filtersConjugateResults = false;
		var rows = [];
		var itemsjsConfiguration = {
			searchableFields: ['title', 'region'],
			
			sortings: {
				name_asc: {
					field: 'title',
					order: 'asc'
				}
			},
			aggregations: {
				regions: {
					title: 'Regions',
					conjunction: filtersConjugateResults,
					size: 20,
					sort: 'term',
					order: 'asc'
				},
				family: {
					title: 'Families',
					conjunction: filtersConjugateResults,
					size: 800,
					sort: 'term',
					order: 'asc'
				},
				collections: {
					title: 'Collections',
					conjunction: filtersConjugateResults,
					size: 10,
					sort: 'term',
					order: 'asc'
				},
				accepted: {
					title: 'Accepted',
					conjunction: filtersConjugateResults,
					size: 2,
					sort: 'term',
					order: 'asc'
				},
				habitats: {
					title: 'Habitats',
					conjunction: filtersConjugateResults,
					size: 40,
					sort: 'term',
					order: 'asc'
				},
				lifeForms: {
					title: 'Life Forms',
					conjunction: filtersConjugateResults,
					size: 100,
					sort: 'term',
					order: 'asc'
				},
				
				genus: {
					title: 'Genera',
					conjunction: filtersConjugateResults,
					size: 1200,
					sort: 'term',
					order: 'asc'
				}
			}
		}
		
		var rows = [];
	   var filters = {};
	   Object.keys(itemsjsConfiguration.aggregations).map(function(v) {
		 	filters[v] = [];
	  })

	 // pagination variables
	 var page = this.page || 1;
	 var per_page = this.per_page || 200;

	//UI state object
	var facetGroupUIState = []
	Object.keys(itemsjsConfiguration.aggregations).map(function(name, index) {
		var facetUI = {}
		var configObject = itemsjsConfiguration.aggregations[name]
		facetUI.name = name;
		facetUI.title = configObject.title;
		facetUI.isOpen = false;
		facetUI.hasSelected = false;
		facetGroupUIState.push(facetUI);
	});
	
	
	  return {
		itemsjsConfiguration: itemsjsConfiguration,
		query: '',
		filters: filters,
		page: page,
		per_page: per_page,
		facetGroupUIState: facetGroupUIState,
		dataLoading: false,
		filtersConjugateResults: filtersConjugateResults,
		
	  }
	},
	created() {
		 this.init()
		 
	},
	methods: {
		init: function () {
			this.getData()
		},
		addEventListeners: function () {
			var self = this; 
			//and add event listeners to the SVG Regions
			let regions = document.querySelectorAll('#Chile_Regions g.region');
			//console.log('regions', regions)
			regions.forEach(item => {
			  item.addEventListener('click', event => {
				vm.selectRegion(event.currentTarget.getAttribute('data-filter'))
			  })
			})
		},
		
		getData: function () {
			this.dataLoading = true;
			let request = new XMLHttpRequest();
			request.open("POST", requestURL);
			request.setRequestHeader("Authorization", "Bearer " + token);
			request.setRequestHeader("Content-Type", "application/json");
			request.responseType = "json";
			request.send(JSON.stringify(query));
			var self = this; // because using anonymous function below, it overwrites the 'this' keyword. So assigning it to self instead
			request.onload = async function () {
				const data = request.response.data;
				//massage the json data to something more usable
				const rows = data.entries.map(function (entry) {
					entry.accepted = entry.isASynonym ? "{{ "Synomym"|t }}" : "{{ "Accepted"|t }}";
					var genus = entry.genus[0];
					entry.genus = genus ? entry.genus[0].genusTitle : "";
					if (genus && !entry.isASynonym) {
						if (genus.parentTaxonomicGroup[0]) {
							entry.family = genus.parentTaxonomicGroup[0].title;
						} else {
							entry.family = "";
						}
					}
					if (!entry.isASynonym) {
						entry.regions = entry.regions.map(region => region.title);
						entry.lifeForms = entry.plantForms.map(plantForm => plantForm.title);
						if (entry.collections.length > 0) {
							entry.collections = entry.collections.map(collection => collection.title);
						} else {
							entry.collections = "{{ "Not listed in any collection"|t }}"
						}
						entry.habitats = entry.habitats.map(habitat => habitat.title);
					} else { // if a synonym, then ignore all categories
						entry.regions = []
						entry.lifeForms = []
						entry.collections = []
					}
					return entry;
				});
				//console.log('rows', JSON.stringify(rows, null, 2));
				var processedData = JSON.stringify(rows);
				const hashCode = s => s.split('').reduce((a,b) => (((a << 5) - a) + b.charCodeAt(0))|0, 0)
				var processedDataHash = hashCode(processedData);
				
				//if locally stored data is different from from API response then update it and init the facetted search
				if (localStorage.getItem('rowsHash') != processedDataHash || localStorage.getItem('rows') == null) {
					self.rows = rows;
					self.itemsjs = itemsjs(self.rows, self.itemsjsConfiguration);
					self.dataLoading = false;
					
					localStorage.setItem('rows', processedData);
					localStorage.setItem('rowsHash', processedDataHash);
					console.log("Reset cached from API")
				}
				// and once all initialised, then
				self.addEventListeners()
			};
			
			if (localStorage.getItem('rows')) {
				 self.rows = JSON.parse(localStorage.getItem('rows'));
				 // console.log(self.rows);
				 // console.log(self.itemsjsConfiguration);
				 self.itemsjs = itemsjs(self.rows, self.itemsjsConfiguration);
				 self.dataLoading = false;
				 console.log("Used data from local storage")
			 }
		},
		
	 selectRegion: function(regionID) {
		 var regionFilters = this.filters.regions;
		 //console.log('regionFilters', regionFilters)
		 var regionName = regionIdtoName[regionID];
		 var index = regionFilters.indexOf(regionName);
		 //console.log(index);
		if (index !== -1) {
			regionFilters.splice(index, 1)
		} else {
			regionFilters.push(regionName)
		}
	 },
	 updateMapUI: function(result) {
		 var regions = document.querySelectorAll('#Chile_Regions g.region');
		 var buckets = result.data.aggregations.regions.buckets;

		 //console.log("buckets", buckets);
		 regions.forEach(region => {

			 var regionName = regionIdtoName[region.id];
			 //console.log(regionName);
			 //set selected
			 var index =  this.filters.regions.indexOf(regionName);
			 if (index !== -1) {
				 region.classList.add("active")
			 } else {
				 region.classList.remove("active")
			 }
			 //set disabled 
			 var regionBucket = buckets.find(obj => obj.key === regionName)
			 //console.log(regionBucket);
			  if (!regionBucket){
			  region.classList.add("disabled")
			  } else {
				 region.classList.remove("disabled")
			  }
		 });
	  },
	  updateItemsJsConfig(value, config){
		  
	  },
	  			 	 
	  reset: function () {
		 var filters = {};
		 Object.keys(this.itemsjsConfiguration.aggregations).map(function(v) {
			 filters[v] = [];
		 })

		 this.filters = filters;
		 this.page = 1;
		 this.query = '';
	  },
	  resetThisAggregation: function (facet) {
		  this.filters[facet.name] = []
	  },

	  goToPage: function (page) {
		 this.page = page;
		 return page;
	  },
	  toggleFilterContolOpen: function(facet){
			facet.isOpen = !facet.isOpen;
			//console.log(facet.isOpen)
	  },
	  downloadResults: function(){
		  var csv = JSON2CSV(this.searchResult.data.allItems);
		  var downloadLink = document.createElement("a");
		  var blob = new Blob(["\ufeff", csv]);
		  var url = URL.createObjectURL(blob);
		  downloadLink.href = url;
		  downloadLink.download = "data.csv";
		  
		  document.body.appendChild(downloadLink);
		  downloadLink.click();
		  document.body.removeChild(downloadLink);
	  }
	},
	watch: {
		query: function() {
			this.page = 1;
			console.log("Query changed")
		},
		filters: {
			deep: true,
			// We have to move our method to a handler field
			handler(filters) {
			  this.page = 1;
			  console.log("Filters changed")
			}
		},
		filtersConjugateResults: function() {
			console.log("Filter prefs changed")
			//console.log(this.itemsJsConfig);
			this.$options.itemsjs = itemsjs(this.rows, this.itemsJsConfig)
		},
	},
	computed: {
		 searchResult: function () { 	
				var result = this.itemsjs.search({ 
					query: this.query,
					page: this.page,
					per_page: this.per_page, 
					filters: this.filters, });
					//add a property to result for the number of pages
					result.pagination.totalPages = Math.ceil(result.pagination.total / result.pagination.per_page)
					console.log(result.timings)
					//console.log(this.filters)

				 //and also update the facet group ui model if anything selected, TODO: check if this is best place to do that.
				this.facetGroupUIState.forEach(function (d, i) {
					 var buckets = result.data.aggregations[d.name].buckets;
					 const isSelected = (currentValue) => currentValue.selected;
					 var hasSelected = buckets.some(isSelected);
					 d.hasSelected = hasSelected;
				})
				this.updateMapUI(result);
				return result
		},
		anyFiltersActive: function () {
			var values = Object.values(this.filters)
			return  values.some(function(element){
				return element.length > 0;
			})
		},
		itemsJsConfig: function () { //update config based on user preference for whether filters of same type are cumulative, or subtractive
			 var config =  this.itemsjsConfiguration;
			 Object.keys(config.aggregations).forEach((aggregation) => {
				 config.aggregations[aggregation].conjunction = this.filtersConjugateResults
			 })
			 return config
		},
		isSearching: function () {
			return this.query != ""	
		},
		pageCount: function () {
			return this.searchResult.pagination.totalPages
		},
		totalAccepted: function () {
			return this.searchResult.data.allItems.filter(taxa => taxa.isASynonym == false).length
		},
		totalSynonyms: function () {
			return this.searchResult.pagination.total - this.totalAccepted
		},


	}
 });
function JSON2CSV(objArray) {
	//console.log(objArray)
	var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
	let csv = '';
	let header = Object.keys(array[0]).join(',');
	let rowValues = array.map(row => {
		var temp = []
		
		Object.values(row).forEach(val => {
			if(Array.isArray(val)){
				temp.push(`"${val.join(';')}"`)
			} else {
				temp.push(`"${val}"`)
			}
		});
		return temp.join(',')
	}).join('\n');
	csv += header + '\n' + rowValues;
	return csv;
}

</script>

{% endblock %}