{#
# Index of Regions
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Regions"|t %}
{% set bodyClass = "regions" %}
{% block content %}
	<div class="article-header rev">
		<h2 class="rev">{{ "Index of Regions"|t }}</h2>

	</div><!--article-header-->
	
		
		{% set categories = craft.categories.group('regions') %}	
		<table class="tg">
			<tr>
				<th>Region Name</th>
				<th>Chilean Endemics</th>
				<th>Region Endemics</th>
			</tr>
		{% for category in categories %}
		{# Get entries related to `region` #}
		{% set entries = craft.entries
						.isASynonym('0')
						.relatedTo(category)
						.with(['regions']) %}
		{% set chileEndemicsCount = entries.total() %}
		{# loop and check if they have more than one category #}
		{% set regionEndemicsCount = 0 %}
		{% for entry in entries %}
			{% if entry.regions|length == 1 %}{% set regionEndemicsCount = regionEndemicsCount + 1 %}{% endif %}
		{% endfor %}
			<tr>
				<td><a href="{{ category.url }}">{{ category.title }}</a></td>
				<td>{{ chileEndemicsCount }}</td>
				<td>{{ regionEndemicsCount }}</td>	
			</tr>
		{% endfor %}
		</table>
		
		
{% endblock %}