
{% set lastGenus = "" %}
{% for taxa in taxon %}
{% set genus = taxa.title | split(' ')[0] %}
		{% if lastGenus != genus %}
			{% if not loop.first %}</ul>{% endif %}
			<h3 class="genus mix" ><a href="{{ siteUrl ~ "taxonomic-groups/" ~ genus|lower }}">{{ genus }}</a></h3>
		<ul>
		{% endif %}
		<li class=" mix {% if taxa.isASynonym %}synonym{% endif %}">
			<a href="{{ siteUrl ~ "taxa/" ~  taxa.slug  }}">
			
				{{ taxa.title }} {% if taxa.isASynonym %}<svg class="syn-symbol" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid"><use xlink:href="#syn-symbol"></use></svg>{% endif %}
			</a>
		</li>
		{% if loop.last %}</ul>{% endif %}

{% set lastGenus = genus %}		
{% endfor %}