{#
# Index of Common Names
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Index of Common-names"|t %}
{% set bodyClass = "indexes common-names" %}

{% set taxa = craft.entries
            .section('taxa')
%}
{% set commonNameBlocks =    craft.matrixBlocks()
                        .type('commonNames')
                        .fieldId('26')
                        .orderby('commonName')
                        .all()
%}
  
{% set groupedCommonNameBlocks = commonNameBlocks|group('commonName') %}


{% block content %}
    <h2>{{ "Index of Common Names"|t }}</h2>
    <div class="article-content index-list">
        <ul>
        {% for commonNameBlocks in groupedCommonNameBlocks %}
            {% for commonNameBlock in commonNameBlocks %}
                <li><a href="{{ commonNameBlock.owner.url }}">{{ commonNameBlock.commonName  }}{% if commonNameBlocks|length > 1 %} (<i>{{ commonNameBlock.owner.title|split(" ")|slice(0, 2)|join(" ") }}</i>){% endif %}</a></li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}