{#
# Index of Genera
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Index of Genera"|t %}
{% set bodyClass = "indexes genera" %}
{% block content %}
    <div class="article-header rev">
        <h2 class="rev">{{ "Index of Genera"|t }}</h2>
        <div class="syns-checkbox">
            <input type="checkbox" value="true" id="filter-syns" />
            <label for="filter-syns">{{ "Show synonyms?"|t }}
                <svg class="syn-symbol" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid"><use xlink:href="#syn-symbol"></use></svg>
            </label>
        </div>

    </div><!--article-header-->
    {# Set up the taxa list from plugin for good performance #}
    {% set allTaxa = craft.taxaListSqlModule.getList %}
    
    {# Set up the taxa list group by the letter field, 
    see https://docs.craftcms.com/v3/templating/filters.html#group #}
    {% set allTaxaByGenus = allTaxa|group('genus') %}  
    
    {% for genus, entriesInGenus in allTaxaByGenus %}
        <h3 class="genus mix" ><a href="{{ siteUrl ~ "taxonomic-groups/" ~ genus|lower }}">{{ genus }}</a></h3>
        <ul>
        {% for entry in entriesInGenus %}
            <li class="{{ entry.synClass }} mix" ><a href="{{ siteUrl ~ "taxa/" ~  entry.slug  }}">{{ entry.title }} {% if entry.synClass == "synonym"  %}<svg class="syn-symbol" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid"><use xlink:href="#syn-symbol"></use></svg>{% endif %}</a></li>
        {% endfor %}
        </ul>
    {% endfor %} 
{% endblock %}