


{#
# Number of taxa with images images
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Seed-banked endemics"|t %}
{% set bodyClass = "indexes seed-banked" %}

{% set entries =	craft.entries()
					  .section('taxa')
					  .isASynonym('0')
					  .orderBy('title') 
 %}
{#  
{% set groupedCommonNameBlocks = commonNameBlocks|group('commonName') %}
#}

{% block content %}
	<h2>{{ "List of endemics with images"|t }}</h2>
	<div class="article-content index-list">
		<ul>
		{% for entry in entries %}
			{% if entry.images|length > 0 %}
				<li><a href="{{ entry.url }}" style="{{ entry.images|length > 8 ? "color: red" : "" }}">{{ entry.title  }}, images count = {{ entry.images|length }}</a></li>
			{% endif %}	
		{% endfor %}
		</ul>
	</div>    
{% endblock %}