{#
# Taxonomic Groups Visualisation / svg version
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Taxonomic Groups Visualisation"|t %}
{% set bodyClass = "indexes tree-diagram" %}

{% block content %}
		<article id="scroll-container">
	<div class="scroll-inner charts">
		<div class='visualisation'>
			<div id="dataVizTree" class="chart-vis"></div>
		</div>
	</div>		  	
	</article> <!--container-->
{% endblock %}
{% block scriptPageBottom %}
	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="https://d3js.org/d3-force.v2.js"></script>
	<script src="https://d3js.org/d3-array.v2.min.js"></script>
	<script>
		
	var taxomonyjson;
	var width = 1200;
	var height = 900;
	
	// load the data using d3 v5 promises
	const url = 'taxonomy.json';
	
	var topoDataPromise = d3.json(url);
	var countriesDataPromise = d3.csv("/data/country_stats.csv")
	
	Promise.all([topoDataPromise, countriesDataPromise]).then(function(values){
		  taxomonyJson = values[0];
		 countriesData = values[1];
		 //parse CountriesData
		 countriesData.forEach(d => {
			 d.totalVascularPlants = +d.totalVascularPlants;
			 d.totalEndemicPlants = +d.totalEndemicPlants
		 })
	
		//console.log((taxomonyJson.groups))
		
		
		var nodes = [];
		var links = []
		
	
		
		var data = taxomonyJson.groups
		
		// Create nodes and link for each unique source and target.
		data.forEach(function(data) {
			nodes.push({id: data.id, name:data.name, rank:data.rank})
			  if (data.parentId && data.parentId != 1) {
				  links.push({"source": data.id, "target": data.parentId});
			  }	
		});
		
		var graph = {
			nodes: nodes,
			links: links
		}
		
		
		//add the number of links to the node
		graph.nodes.forEach(function(node){
			node.score = graph.links
			  .filter(function(d){
				 return (d.source === node.id || d.target === node.id);
			  }).length
			return node;
		});
		
	
		console.log(d3.group(data, d => d.rank))
	
		console.log(data.filter(d => d.parentId == 1 && d.rank !="Family" ))
		
		console.log('nodes', nodes[1])
		console.log('links', links[2])
		console.log('graph', JSON.stringify(graph,null, '\t'))
		
		renderNetwork();
		
		// var root = d3.stratify()
		// .id(function(d) { return d.id; })
		// .parentId(function(d) { return d.parentId; })
		// (taxomonyJson.groups);
		
		//stratify = d3.stratify()
		
		//var root =stratify(taxomonyJson.groups)
		//console.log(root)
	
		//const tree = renderTree();
		
		function renderNetwork() {
			//base SVG
		var simulation = d3.forceSimulation()
		.force("link", d3.forceLink().id(function(d) { return d.id; }).distance(25).strength(1.5))
		.force("charge", d3.forceManyBody().strength(-40).distanceMax(100).distanceMin(10))
		.force("center", d3.forceCenter(width / 2, height / 2))
		
		var opacityScale = d3.scaleLinear() 
		.domain([0, 1])
		.range([0, 1]);
		var displayThreshold = 2000;
		
			
			var svg = d3.select('#dataVizTree')
				.append("svg")
				.attr("preserveAspectRatio", "xMinYMin meet")
				.attr("viewBox", "0 0 " + width + " " + height)
				.attr("width", width)
				.attr("height", height)
				.style("transform-origin", "50% 50% 0")
				.classed("svg-vis-content", true);
			var g = svg.append("g");
		
		
			// Create the link lines.
			var link = g.append("g")
			  .attr("class", "links")
			.selectAll("line")
			.data(graph.links)
			.enter().append("line")
			.attr('stroke', "gray")
			.attr('stroke-width', ".3");;
			
			var nodes = g.append("g")
				 .attr("class", "nodes");
			
			var node = nodes	 
			  .selectAll("g.node")
			  .data(graph.nodes)
			  .enter().append("g")
			  .attr("class", "node")
				 .call(d3.drag()
					  .on("start", dragstarted)
					  .on("drag", dragged)
					  .on("end", dragended));
					  
			var circle = node.append('circle')
			  .attr('fill', function(d) { 
					if (d.score == 0) {
						return 'red'
					} else if (d.rank == "Family") {
						return '#962d2c'
					} else if (d.rank == "Genus") {
							return '#cacd40'	
					} else {
						return '#72a4cc'	
					}
					
				})
			  .attr('r', function(d) { 
					if (d.score == 0) {
						return 3
					} else if (d.rank == "Family") {
						return 3
					} else if (d.rank == "Genus") {
							return 1.5	
					} else {
						return 1
					}
				})	
			 
			
			circle.append("title")
				 .text(function(d) { return d.name; });
			
			node.append('text')
				.text(function(d) { 
					 return d.name; 
				})
				.attr('font-size', d => {
					if (d.rank == "Family"){
						return '.4em' 
					}
					else if (d.rank == "Genus"){
						return '.2em';
					} 
					else {
					return '.08em';
					}
				})
				.attr('opacity', d => {
					if (d.rank == "Family"){
						return 1
					}
					else if (d.rank == "Genus"){
						return .5
					} 
					else {
					return .3
					}
				})
				
				.style('text-shadow', '1px 1px 2px white');	 
				 
			simulation
					  .nodes(graph.nodes)
					  .on("tick", ticked);
				 
				 simulation.force("link")
					  .links(graph.links);
				 
				 function ticked() {
					link
						 .attr("x1", function(d) { return d.source.x; })
						 .attr("y1", function(d) { return d.source.y; })
						 .attr("x2", function(d) { return d.target.x; })
						 .attr("y2", function(d) { return d.target.y; });
				 
					node
						.attr('transform', d => `translate(${d.x}, ${d.y})`);
				 }	 
			
			//add zoom capabilities 
			var zoom_handler = d3.zoom()
				 .on("zoom", zoom_actions);
			
			zoom_handler(svg);
			
			//Zoom functions 
			function zoom_actions(){
				 g.attr("transform", d3.event.transform)
				 
				 //console.log(opacityScale(d3.event.transform.k));
				 // d3.selectAll('text')
				 // .attr('opacity', function(d) {
				 //   //if (d3.event.scale > d.scaleThreshold) {
				 // 	// return opacityScale(d3.event.transform.k);
				 //   //} 
				 //   //return 0;
				 // });
			}
				
				 
			function dragstarted(d) {
					if (!d3.event.active) simulation.alphaTarget(0.3).restart();
					d.fx = d.x;
					d.fy = d.y;
				 }
				 
				 function dragged(d) {
					d.fx = d3.event.x;
					d.fy = d3.event.y;
				 }
				 
				 function dragended(d) {
					if (!d3.event.active) simulation.alphaTarget(0);
					d.fx = null;
					d.fy = null;
				 }	 
			
		}
		
	});//promsise
	
	
	function renderTree() {
		//base SVG
		var svg = d3.select('#dataVizTree')
			.append("svg")
			.attr("preserveAspectRatio", "xMinYMin meet")
			.attr("viewBox", "0 0 " + width + " " + height)
			.attr("width", width)
			.attr("height", height)
			.style("transform-origin", "50% 50% 0")
			.classed("svg-vis-content", true);
		var g = svg.append("g");
	
	}
	</script>
{% endblock %}
