{#
# Taxonomic Groups Visualisation / canvas version
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Taxonomic Groups Visualisation"|t %}
{% set bodyClass = "indexes tree-diagram" %}

{% block content %}
		<article id="scroll-container">
	<div class="scroll-inner charts">
		<div class='visualisation'>
			<div id="dataVizTree" class="chart-vis"></div>
		</div>
	</div>		  	
	</article> <!--container-->
{% endblock %}
{% block scriptPageBottom %}
	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="https://d3js.org/d3-force.v2.js"></script>
	<script src="https://d3js.org/d3-array.v2.min.js"></script>
	<script>

var taxomonyjson;
var width = 1200;
var height = 900;

// load the data using d3 v5 promises
const url = 'taxonomy.json';

var topoDataPromise = d3.json(url);

Promise.all([topoDataPromise]).then(function(values){
	  taxomonyJson = values[0];
	var nodes = [];
	var links = []
	var data = taxomonyJson.groups;
	
	// Create nodes and link for each unique source and target.
	data.forEach(function(data) {
		nodes.push({id: data.id, name:data.name, rank:data.rank})
	  	if (data.parentId && data.parentId != '1') {
	  		links.push({"source": data.id, "target": data.parentId});
	  	}	
	});
	
	var graph = {
		nodes: nodes,
		links: links
	}
	
	
	// //add the number of links to the node
	// graph.nodes.forEach(function(node){
	// 	node.score = graph.links
	// 	  .filter(function(d){
	// 		 return (d.source === node.id || d.target === node.id);
	// 	  }).length
	// 	return node;
	// });
	

	//console.log(d3.group(data, d => d.rank))
	//console.log(data.filter(d => d.parentId == 1 && d.rank !="Family" ))
	// console.log('nodes', nodes[1])
	// console.log('links', links[2])
	//console.log('graph', JSON.stringify(graph,null, '\t'))
	
	renderNetwork();
	
	function renderNetwork() {
	var simulation = d3.forceSimulation()
	.force("link", d3.forceLink().id(function(d) { return d.id; }).distance(25).strength(1.5))
	.force("charge", d3.forceManyBody().strength(-40).distanceMax(100).distanceMin(10))
	.force("center", d3.forceCenter(width / 2, height / 2));
	
	const nodeRadius = 5;
	
	
	let transform = d3.zoomIdentity.scale(1);
	
	var opacityScale = d3.scaleLinear() 
	.domain([0, 1])
	.range([0, 1]);
	var displayThreshold = 2000;
	
	
	var pixelRatio = window.devicePixelRatio || 1;
		
		let canvas = d3.select('#dataVizTree')
			.append("canvas")
			.attr("width", width * pixelRatio)
			.attr("height", height * pixelRatio)
			.style('width', width + 'px')
			.style('height', height + 'px');
			
			
		
						
			canvas.call(d3.drag()
			// Must set this in order to drag nodes. New in v5?
			.subject(dragSubject)
			//.container(canvas)
    		.on('start', dragStarted)
    		.on('drag', dragged)
    		.on('end', dragEnded))

    
   		 canvas.call(d3.zoom()
    			.scaleExtent([1 / 2, 10])
    			.on('zoom', zoomed));
	
		var context = canvas.node().getContext("2d");
		context.scale(pixelRatio, pixelRatio); 
			 
		simulation
			 	 .nodes(graph.nodes)
			 	 .on("tick", simulationUpdate);
			 
			 simulation.force("link")
			 	 .links(graph.links);
			 
			 function simulationUpdate() {
				 context.save();	
			   context.clearRect(0, 0, width * pixelRatio,  height * pixelRatio)
			   context.translate(transform.x, transform.y);
			   context.scale(transform.k, transform.k);
			   
			   // draw links

			   graph.links.forEach(function(link){
				   drawLink(link)
			   })
			     
			   
			   graph.nodes.forEach(function(node) {
				   drawNode(node)
			   });
			
			   
			   context.restore();
			 }	
			 
			 
			 function drawNode(d) {
				 context.beginPath();
				  	context.moveTo(d.x, d.y);
			  	 	var area;
			  	 	var textFill;
			  	 	if (d.score == 0) {
			  	 		area = 3;
			  	 	} else if (d.rank == "Family") {
			  	 		context.fillStyle =  '#962d2c';
			  	 		context.font = '0.4em sans-serif';
			  	 		textFill = '#6e2120';
			  	 		area = 3;
			  	 	} else if (d.rank == "Genus") {
			  	 			context.fillStyle =  '#91b941';
			  	 			context.font = '0.3em sans-serif';
			  	 			textFill = '#536925';
							area = 1.5;
			  	 	} else {
			  	 		context.fillStyle =  '#72a4cc';
			  	 		context.font = '0.1em sans-serif';
			  	 		textFill = '#26445c'
						area = 1;	
			  	 	}
			  	 	context.arc(d.x, d.y, area, 0, 2 * Math.PI);
			  	 	context.fill();
			  	 	context.beginPath();
			  	 	context.strokeStyle = 'white';
			  	 	context.lineWidth = .4;
			  	 	context.strokeText(d.name, d.x+5, d.y+4);
			  	 	context.fillStyle = textFill;
			  	 	context.fillText(d.name, d.x+5, d.y+4);
			  	 context.fill();	
			  } 
		
			function drawLink(d) {
				 context.strokeStyle = "#ccc";
				 if (d.target.rank == "Genus") {
				 	context.lineWidth = .3;
				 }
				 context.beginPath();
				   context.moveTo(d.source.x, d.source.y);
				   context.lineTo(d.target.x, d.target.y);
				 context.stroke();	  
			  } 
		   

		function zoomed() {
		  transform = d3.event.transform;
		  simulationUpdate();
		}
		
		/** Find the node that was clicked, if any, and return it. */
		function dragSubject() {
			
		  const x = transform.invertX(d3.event.x),
				  y = transform.invertY(d3.event.y);
		  const node = findNode(graph.nodes, x, y, nodeRadius);
		  if (node) {
			 node.x =  transform.applyX(node.x);
			 node.y = transform.applyY(node.y);
		  }
		  // else: No node selected, drag container
		  console.log(node.name)
		
		  return node;
		}
		
		
		
		function dragStarted() {
		  if (!d3.event.active) {
			 simulation.alphaTarget(0.3).restart();
		  }
		  d3.event.subject.fx = transform.invertX(d3.event.x);
		  d3.event.subject.fy = transform.invertY(d3.event.y);
		}
		
		function dragged() {
		  d3.event.subject.fx = transform.invertX(d3.event.x);
		  d3.event.subject.fy = transform.invertY(d3.event.y);
		}
		
		function dragEnded() {
		  if (!d3.event.active) {
			 simulation.alphaTarget(0);
		  }
		  d3.event.subject.fx = null;
		  d3.event.subject.fy = null;
		}
		
		function findNode(nodes, x, y, radius) {
		  const rSq = radius * radius;
		  let i;
		  for (i = nodes.length - 1; i >= 0; --i) {
			 const node = nodes[i],
					 dx = x - node.x,
					 dy = y - node.y,
					 distSq = (dx * dx) + (dy * dy);
			 if (distSq < rSq) {
				return node;
			 }
		  }
		  // No node selected
		  return undefined; 
		}
		
	}
	
});//promsise

</script>
{% endblock %}