{#
# List of seedbanked endemics
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Seed-banked endemics"|t %}
{% set bodyClass = "indexes seed-banked" %}

{% set entries =	craft.entries()
 			 		.section('taxa')
 			 		.seedBanked('1')
 			 		.isASynonym('0')
 			 		.orderBy('title') 
 %}
{#  
{% set groupedCommonNameBlocks = commonNameBlocks|group('commonName') %}
#}

{% block content %}
	<h2>{{ "List of seed-banked endemics"|t }}</h2>
	<div class="article-content index-list">
		<ul>
		{% for entry in entries %}
				<li><a href="{{ entry.url }}">{{ entry.title  }}</a></li>
		{% endfor %}
		</ul>
	</div>    
{% endblock %}