{#
# Index of Taxa
# ---------------
#}
{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set subtitle = "Index of taxa"|t %}
{% set bodyClass = "indexes taxa" %}
{% block content %}
    {% set queryParams = {
      section: 'taxa',
      order: 'title'
    } %}
    {% set letter = craft.app.request.getParam('letter') %}
    {% if letter is not empty %}
      {% set queryParams = queryParams|merge({
        search: ('title::' ~ letter ~ '*'),
      }) %}
    {% else %}
    {% set queryParams = queryParams|merge({
      search: ('title::A*'),
    }) %}
    {% endif %}
    {% set taxon = craft.entries(queryParams).all() %}
    {% set resultsLength = craft.entries(queryParams).count() %}
    {% if craft.app.request.isAjax and not craft.app.request.isLivePreview %}
        {% include 'indexes/_taxa-list.html' %}
    {% else %}
        <div class="article-header rev">
            <h2 class="rev">{{ "Index of Taxa"|t }}</h2>
            <div class="syns-checkbox">
                <input type="checkbox" value="true" id="filter-syns" />
                <label for="filter-syns">{{ "Show synonyms?"|t }}
                    <svg class="syn-symbol" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid"><use xlink:href="#syn-symbol"></use></svg>
                </label>
            </div>
            <nav class="alphabetical-index">
            {% for letterTitle in 'A'..'Z' %}
                <a  href="{{ siteUrl }}indexes/taxa?{{ {'letter': letterTitle}|url_encode }}" class="letter {% if letterTitle == letter or loop.first %}active{% endif %}">{{ letterTitle }}</a>
            {% endfor %}
            </nav>
        </div><!--article-header-->
 
        <div class="article-content index-list">
                {% include 'indexes/_taxa-list.html' %}
        </div><!--article-content-->
    {% endif %} 
{% endblock %}
