//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.btn (@btnText: #333, @btnBackground:#eee) {
  display: inline-block;
  .ie7-inline-block();
  padding: 4px 12px;
  margin: .5em 0;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  *line-height: @baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: @btnText;
  text-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px;
 .buttonBackground(lighten(@btnBackground, 20%), @btnBackground, @btnText, 0 -1px 0 rgba(0,0,0,.25));
  border: 1px solid lighten(@btnBackground, 10%);
  border-bottom-color: @btnBackground;
  .border-radius(6px);
  .ie7-restore-left-whitespace(); // Give IE7 some love
  .box-shadow(~"inset 0px 1px 0px rgba(255,255,255,.3), 0 1px 2px rgba(0,0,0,.5)");
  
  // Hover state
  &:hover {
    text-decoration: none;
    background-color:@btnBackground;
    background-position: 0 -15px;
    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    .transition (background-position .1s linear);
  }

  // Focus state for keyboard and accessibility
  &:focus {
    .tab-focus();
  }

  // Active state
  &.active,
  &:active {
    background-color: darken(@btnBackground, 15%) e("\9");
    background-image: none;
    outline: 0;
    .box-shadow(~"inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: darken(@btnBackground, 10%);
    background-image: none;
    .opacity(65);
    .box-shadow(none);
  }
}


// Button Sizes
// --------------------------------------------------


.btn-large {
  padding: @paddingLarge;
  font-size: @fontSizeLarge;
  .border-radius(@borderRadiusLarge);
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 2px;
}

// Small
.btn-small {
  padding: @paddingSmall;
  font-size: @fontSizeSmall;
  .border-radius(@borderRadiusSmall);
}


// Mini
.btn-mini {
  padding: @paddingMini;
  font-size: @fontSizeMini;
  .border-radius(@borderRadiusSmall);
}


// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}



// Switch
// --------------------------------------------------
.switch>input {
position: absolute;
top: 0;
left: 0;
width: inherit;
height: inherit;
opacity: 0;
-webkit-appearance: none;
}

@switchWidth: 58px;
@switchHeight: 25px;

.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: @switchWidth;
  -webkit-user-select: none;

   > label {
    display: block;
    position: relative;
    height: @switchHeight;
    line-height: @switchHeight - 5px;
    font-size: 10px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: ceil((@switchHeight / 2));
    transition: .15s ease-out;

    &:before {
      content: attr(data-off);
      position: absolute;
      top: 0;
      right: 3px;
      width: @switchWidth - @switchHeight;
    }

    &:after {
      content: '';
      display: block;
      margin: 2px;
      width: @switchHeight - 8px;
      height: @switchHeight - 8px;
      background: #ccc;
      border-radius: ceil((@switchHeight / 2));
    }
  }
  
  > input {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    -webkit-appearance: none;

    &:focus { outline: none; }
  }

  > input:focus + label {
    color: darken(@focusColor, 10%);
    border-color: @focusColor;

    &:after { background: @focusColor; }
  }

  > input:checked + label {
    padding-left: @switchWidth - @switchHeight;
    color: white;
    background: @focusColor;
    border-color: @focusColor;

    &:before {
      content: attr(data-on);
      left: 1px;
    }

    &:after {
      margin: 1px;
      width: @switchHeight - 6px;
      height: @switchHeight - 6px;
      background: white;
    }
  }

  > input:checked:focus + label {
    background: darken(@focusColor, 10%);
    border-color: darken(@focusColor, 10%);
  }
}

.lang-chooser .switch{

  > input  {
    background: white;
    &:focus {
      color: white;
      background: red;
    }
  }

  > input + label {
    background: @switchES;
    border-color: @switchES;
    color: white;
    &:after {
      background: white;
    }
  }
  
  
  input:focus + label {
    color: white;
    background: darken(@switchES, 14%);
    &:after{
      background: white;
    }
  }
  
  > input:checked + label {
    background: @switchEN;
    border-color: @switchEN;
    color: white;
    }
    
    input:checked:focus + label{
    color: white;
    background: darken(@switchEN, 14%);
    &:after{
      background: white;
    }
    
  }
}


// IE 8 doesn't support the :checked selector — revert to native inputs

.lt-ie9 .switch {
  width: @switchWidth - 4px;
  height: @switchHeight - 4px;
  background: white;
  border: 2px solid #d9d9d9;

  > label { display: none; }

  > input {
    position: static;
    width: inherit;
    height: inherit;
    vertical-align: top;
  }
}



// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;

  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}
