/* CONTROLS STYLES */


@dropDownWidth: 19%;

.filters{
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	
	@media (max-width: 1000px) {
			//styles for this width
			justify-content: space-between;
	}

}


.generic-filter-styles {
	
	/* display: inline-block; */
	vertical-align: top;
	position: relative;


	min-width: 16.2%;
	justify-content: space-between;
	padding: .8rem;
	//max-height: 3.1em;
	margin-bottom: .3em;

	border: 1px lighten(@contentHeaderColor, 10%) solid;
	border-radius: 4px;
	background: @contentHeaderColor;
	background: fadeout(@contentHeaderColor, 10%);
	cursor: pointer;
	
	font-size: @baseFontSize * .9;
	font-weight: 200;
	line-height: 30px;
	color: white;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;
}

.filters {
fieldset {
	.generic-filter-styles ;
	&:hover {
		background: darken(@contentHeaderColor, 5%);
	}
	&.expanded, &:focus {
	 //box-shadow: 0 0 2px rgba(0,0,0,.2);
	 border-radius: 4px 4px 0 0;
	 border-bottom: 0;
	 svg {
		 transform: rotate(180deg);
	 }
	}
	&.reset {
		min-width: 32.4%;
	}
	
	@media (max-width: 1200px) {
			//styles for this width
			min-width: 32.4%;
			justify-content: space-between;
			&.reset {
				min-width: 32.4%;
			}
	}
	
	
	@media (max-width: 928px) {
			//styles for this width
			min-width: 49%;
			&.reset {
				min-width: 49%;
			}
	}
	
	@media (max-width: 470px) {
			//styles for this width
			width: 100%;
			
	}
	
	
}




.scroller {
	transition: all 300ms ease-in-out;
	//box-shadow: 0 0 2px rgba(0,0,0,.2);
	position: absolute;
	z-index: 1999;
	background: @contentHeaderColor;
	background: fadeout(@contentHeaderColor, 10%);
	width: 101%;
	left: -1px;
	top: 2.7em;
	padding: 0 1em;
	max-height: 0;
	overflow: hidden;
	border: 1px @contentHeaderColor solid;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	z-index: 100;
}

fieldset.expanded > .scroller, fieldset:focus > .scroller {
	max-height: 50em;
	background: @contentHeaderColor;
	background: fadeout(@contentHeaderColor, 8%);
	background-blend-mode: multiply;
	border-radius: 0 0 4px 4px;
	border: 1px lighten(@contentHeaderColor, 10%) solid;
	border-top: 0;

}

.transition-ended { //added by jquery function	
	overflow-y: auto;
}

fieldset.expanded:hover > .scroller, fieldset:focus > .scroller {
	background-color: darken(@contentHeaderColor, 5%)
}

fieldset.active h4:after {
		content: '';
		position: relative;
		display: inline-block;
		background: #f5e493;
		width: 10px;
		height: 10px;
		top: 1px;
		margin-left: 6px;
		border-radius: 50%;
}


.drop-down-header-style {
	-webkit-font-smoothing: antialiased;
	position: relative;
	font-size: @baseFontSize * .8;
	line-height:  @baseFontSize;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 0 0;
	pointer-events: none;
	fill: white;
	color: white;
	background: none;
	
	svg {
		position: absolute;
		right: .3em;
		top: .25em;
		fill: white;
		height: 10px;
		transition: transform 300ms ease-in-out;
	}
}


.reset {
	button {
	 .drop-down-header-style;
	 text-align: center;
	 border: 0;
	 font-weight: normal;
	 width: 100%;
	 display: block;
	}

	
	&.active {
		-webkit-font-smoothing: auto;
		background-color: #f5e493 ;
		button {
			color: black;
		}
	 }
}

.drop-down h4 {
		.drop-down-header-style; 
		color: inherit;
		padding-right: 2.2rem;
}



.drop-down label{
	display: block;
	letter-spacing: .5px;
	text-transform: none;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 10px;
	transition: all 150ms;
	cursor: pointer;
	text-align: left;
}

.drop-down label>input{
	display: none;
}

//and display our own check box
.drop-down label:after {
	transition: all 200ms ease-in-out;
	content: '';
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 1px;
	margin-left: 6px;
	border: 1px solid #ccc;
	border-radius: 50%;
}

.drop-down label:hover{
	color: #f5e493;
}

.drop-down label:active {
	color: #5dd0f5;
}
.drop-down label:active:after {
	background: #5dd0f5;
	border: #5dd0f5;
}

.drop-down label.active{
	color: #f5e493;
	font-weight: 400;
}

.drop-down label.active:after, label:hover:after {
	background: #f5e493;
	border-color: #f5e493;
	}

.drop-down label.active:hover{
color: white;
}

.drop-down label.active:hover:after {
background: white;
}
	
	
.drop-down fieldset::-webkit-scrollbar {
width: .8em;
padding: 2px;
background: lighten(@contentHeaderColor, 20%);
}

.drop-down fieldset::-webkit-scrollbar-thumb {
margin: 3px;
transition: background-color 300ms ease-in-out;
background-color: @mastheadFooter;
border-radius: 1em;
border: 2px lighten(@contentHeaderColor, 20%) solid;
	&:hover {
		background-color: darken(@mastheadFooter, 5%);
	}
}		



.button.active{
	background: #e96d51;
}

.button i{
	position: relative;
	display: inline-block;
	background: #f9f6f0;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	top: 3px;
}

.button i:before,
.button i:after{
	content: '';
	position: absolute;
	display: block;
	background: #c3bdb8;
}

#ToGrid i:before,
#ToGrid i:after{
	width: 100%;
	height: 3px;
	top: 7px;
}

#ToGrid i:after{
	width: 3px;
	height: 100%;
	top: 0;
	left: 7px;
}

#ToList i:before,
#ToList i:after{
	width: 100%;
	height: 4px;
	top: 3px;
}

#ToList i:after{
	top: 10px;
}

.button.active i:before,
.button.active i:after{
	background: #e96d51;
}

}