.image-gallery {
	margin: -@padding -4.5%  0 -4.5% ;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-template-rows: 300px 300px auto;
	grid-template-auto-rows: 300px;
	grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l";
	grid-gap: .5rem;
}

@media (min-width: 500px) {
	.image-gallery {
		grid-template-areas: "a b"
		"c d"
		"e f"
		"g h"
		"i j"
		"k l";
	}	
}	
.gallery-item {
	background-color: lightgrey;
	grid-area: auto;
	width: 100%;
	height: 100%;
	position: relative;
	
	&.extra-image {
		display: none;
	} 
}

.gallery-item figure {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	
		figcaption {
			position:absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			left: 0;
			z-index: 2000;
			
			margin: auto;
			padding: .4rem .7rem;

			transition: all .5s ease-in-out;
			opacity: 0;
			background:  fadeout(darken(@contentHeaderColor, 50%), 20%);
			text-align: left;
			font-size: @baseFontSize * .8;
			line-height: @baseLineHeight * .8;
			color: white;
			-webkit-font-smoothing: antialiased;
			span.credit {
				color: LightGray ;
				font-size: @baseFontSize * .75;
			}
	}
	
	&:hover .caption {
		opacity: 1;
	}
	
	&:hover img {
		transform: scale(1.1);
	}
	
	
}

.gallery-item a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	& img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		transition: transform .5s;
	}
}

.see-more-message {
	grid-area: i;
	padding: .3rem;
	margin-bottom: .5rem;
	background: lighten(rgb(55,62,64), 20);
	color: white;
	.allCaps;
	font-size: .6rem;
	line-height: .6rem;
	text-align: center;
}


