body.biogeography-story {
	  position: relative;
	}
	
.biogeography-story {	
	
		.intro {
		  max-width: 30rem;
		  margin-bottom: 4rem;
		}
		article {
		  position: relative;
		  overflow: visible !important;
		}
		.scroll-inner {
		  border-top: 1px solid;
		  padding: 2rem 0;
		  display: flex;
		}
		.visualisation {
		  position: -webkit-sticky;
		  position: sticky;
		  top: 2rem;
		  z-index: 0;
		  height: 860px;
		  order: 2;
		}
		.steps {
		  margin-right: 2rem;
		  padding-left: 1rem;
		  border-left: 10px rgba(255, 255, 255, 0.5) dotted;
		}
		.steps section {
		  height: 900px;
		  z-index: 10;
		  transition: opacity 1s;
		  opacity: 0.2;
		}
		.steps section p {
		  color: black;
		  padding: 2.5rem 1rem 2rem 0rem;
		  position: -webkit-sticky;
		  position: sticky;
		  top: 2rem;
		  border-top: 1px rgba(54, 105, 150, 0.3) solid;
		  border-bottom: 1px rgba(54, 105, 150, 0.3) solid;
		}
		.steps section:first-of-type {
		  margin-top: 4rem;
		}
		.steps section.active {
		  opacity: 1;
		}
		#step14 {
		  height: 1400px;
		}
		#dataVizMap svg {
		  border: 1px #000 solid;
		  background-color: #c9e8fd;
		}
		#dataVizMap path {
		  fill: #ccc;
		  stroke: #fff;
		  stroke-width: 0.5px;
		  transition: fill 1s;
		}
		@-webkit-keyframes pulse {
		  0% {
			 fill: #4727a2;
		  }
		  50% {
			 fill: #50349d;
		  }
		  100% {
			 fill: #4727a2;
		  }
		}
		@keyframes pulse {
		  0% {
			 fill: #4727a2;
		  }
		  50% {
			 fill: #50349d;
		  }
		  100% {
			 fill: #4727a2;
		  }
		}
		#dataVizMap #countries path {
		  transition: fill 1s;
		}
		#dataVizMap #countries path.highlight {
		  transition: fill, -webkit-animation 1s;
		  transition: fill, animation 1s;
		  transition: fill, animation 1s, -webkit-animation 1s;
		  stroke: none;
		  -webkit-animation: pulse 2.5s infinite;
					 animation: pulse 2.5s infinite;
		}
		#dataVizMap path.graticule {
		  fill: none;
		  stroke: rgba(236, 242, 243, 0.4);
		  pointer-events: none;
		}
		#dataVizMap path.water {
		  fill: #7c9bb3;
		  stroke: black;
		}
		#dataVizMap path.andes-line {
		  fill: none;
		  stroke: rgba(148, 101, 49, 0.6);
		  stroke-width: 22px;
		  stroke-dasharray: 2px;
		}
		#dataVizMap #countries .north-america {
		  fill: #366996;
		  stroke: none;
		}
		.poi-label {
		  text-transform: uppercase;
		  font-size: 14px;
		  letter-spacing: 1px;
		  text-anchor: middle;
		}
		.place-label,
		.country-label {
		  text-transform: uppercase;
		  font-size: 10px;
		  letter-spacing: 1px;
		  fill: #787b7c;
		  text-anchor: middle;
		}
		.labels-group circle {
		  fill: rgba(188, 96, 68, 0.86);
		}
		.stats {
		  text-transform: uppercase;
		  font-size: 12px;
		  letter-spacing: 1px;
		  fill: white;
		}
		.stats .value {
		  text-transform: uppercase;
		  font-size: 32px;
		  letter-spacing: 1px;
		  fill: white;
		  font-weight: 200;
		}
		#dataVizBarChart rect {
		  fill: #bc6044;
		}
		#dataVizBarChart .tick text {
		  font-size: 1.4em;
		  font-family: "prenton", "Gill Sans", sans-serif;
		}
		#dataVizBarChart .x-axis .tick line {
		  stroke-dasharray: 2 2;
		  stroke: #a4a2b6;
		}
		#dataVizBarChart text.value {
		  font-size: 0.9em;
		}
		#dataVizBarChart .domain {
		  stroke: #c7c7c7;
		}
		#dataVizBarChart text.title {
		  font-size: 1.4em;
		  font-weight: 200;
		  text-anchor: middle;
		}
	}
	