/* @group
 * Preferences
 * ----------------------------------------------------------------- */

@import "reset.less";

// GLOBAL VALUES
// --------------------------------------------------

.n {
	color: #db7900;
}

// Basic Colours
// -------------------------
@white:								#fff;
@grayLighter: 					#eee;
@grayLight:						#999;
@grayDarker:						#222;
@grayDark:							#333;
@alertcolor: 					#a4301c;

// Backgrounds
// -------------------------
@bodyBackground:				#bcbf81;
@pageBackground:				#f7f1e4;
@accentColor: 					#500d0a;
@textColor:					  #444444;

// Page areas
// -------------------------
@mastheadFooter:				#ac3f3c;
@navBackground:				#52663a;
@contentHeaderColor:  #cd795a;
@taxaHeader:  #474f51;

// Nav text color
// -------------------------
@navActive:				@white;
@nav:					#c8dccd;


// Form colors
// -------------------------
@focusColor:				#500d0a;
@nav:							#c8dccd;
@switchEN: 				#ef9e30;
@switchES: 				#389cbf;

// Links
// -------------------------
@linkColor:						 @textColor;
@linkColorHover:				#db7900;
@linkUnderlineColor:		@grayLight;
@hrBorder:							@grayLight;

// Button Colours
// -------------------------
@btnColor: 												@grayDark;
@btnInfoBackground:								 #5bc0de;
@btnInfoBackgroundHighlight:				#2f96b4;

@btnSuccessBackground:							#62c462;
@btnSuccessBackgroundHighlight:		 #51a351;

@btnWarningBackground:							lighten(#f89406, 15%);
@btnWarningBackgroundHighlight:		 #f89406;

@btnDangerBackground:							 #ee5f5b;
@btnDangerBackgroundHighlight:			#bd362f;	

// Typography
// -------------------------
@sansFontFamily:				"prenton", "Gill Sans", sans-serif;
@serifFontFamily:			 Georgia, "Times New Roman", Times, serif;
@monoFontFamily:				Menlo, Monaco, Consolas, "Courier New", monospace;
@baseFontSize:					17px;
@baseFontFamily:				@sansFontFamily;
@baseLineHeight:				26px;
@altFontFamily:				 @serifFontFamily;

// weights
// -------
@fwLight: 				300;
@fwRegular	:			400;
@fwMedium:				500;
@fwBold:					700;
@fwBlack	:				900;


@headingsFontFamily:		inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:		400;		// instead of browser default, bold
@headingsColor:				#555c5c; //
@h2Color:			@mastheadFooter;
@headingParaRuleColour:  #b9b1ab;

// Iconography
// -------------------------

@defaultIconSize: 17px;
.svg-icon {
	width: @defaultIconSize;
	height: @defaultIconSize;
}

// Selection / Taps
// -------------------------

@selectionBackgroundColor:			lighten(#cd795a, 15%);
@selectionColor:									black;
@tapHighlightColor: 							@accentColor;


// Tables
// -------------------------
@tableBackground:							transparent; // overall background-color
@tableBackgroundAccent:						 #f9f9f9; // for striping
@tableBackgroundHover:						 #f5f5f5; // for hover
@tableBorder:								 #ddd; // table and cell border

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

@fontSizeLarge:				 @baseFontSize * 1.25; // ~18px
@fontSizeSmall:				 @baseFontSize * 0.85; // ~12px
@fontSizeMini:					@baseFontSize * 0.75; // ~11px

@paddingLarge:					11px 19px; // 44px
@paddingSmall:					2px 10px;	// 26px
@paddingMini:					 1px 6px;	 // 24px

@baseBorderRadius:			4px;
@borderRadiusLarge:		 6px;
@borderRadiusSmall:		 3px;

// Responsive Breakpoints
// -------------------------

@tabletBrPt: 750px;
@phoneBrPt: 500px;

// Sizes and grid
// -------------------------
@basewidth: 92%;
@pageMaxWidth: 1200px;
@padding: 4%;
@gridColumns:						 12;
@gridColumnWidth:				 60px;
@gridGutterWidth:				 20px;
//@gridRowWidth:	(@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:		6.382978723%;
@fluidGridGutterWidth:		2.127659574%;

@import "mixins.less";
@import "type.less";
@import "jquery.fancybox.less";
@import "buttons.less";
@import "filter-controls.less";
@import "gallery.less";
@import "scrollytelling.less";

/* @end */

/* @group
 * Reset and base styles
 * ----------------------------------------------------------------- */

// Body reset
// ----------

/* apply a natural box layout model to all elements- http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
	height: 100%;
}
body {
	margin: 0;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background-color: @bodyBackground;
	background: @bodyBackground url(../images/interface/background-2.jpg) no-repeat center -4em ;
	position: relative; // need
	// sticky footer
	min-height: 100%;
	display: grid;
	grid-template-rows:  auto 1fr auto;
	overflow-x: hidden;
}

#container, .masthead-inner, .footer-inner {
	width: @basewidth;
	max-width: @pageMaxWidth;
	margin: 0 auto 0 auto;
	display: block;
}

div#container > article { // forms the main 'page' of the site
	background-color: @pageBackground;
	padding: 2em @padding;
	.with-header & {
		padding:  0rem @padding 2em @padding;
	}
	margin-bottom: 2em;
	.border-radius(4px);
	.box-shadow(0 0 30px 20px fadeout(darken(@bodyBackground, 10%), 10%));
	overflow: hidden;
}

.article-header {
  margin-bottom: 1.5em;
  padding-top: 1.5rem;
}


.article-header.rev {
	color: white;
	background-color: @contentHeaderColor;
	.border-radius-full(8px 8px 0 0);
	margin: -2em  -4.5% 2em -4.5% ;
	padding: 2em @padding 0 @padding;
	border-bottom: 2px lighten(@pageBackground, 20%) solid;
	text-align: justify;
	text-justify: distribute-all-lines; /* distribute items in IE */
	&:after{
		content: "";
		width: 100%;
		display: inline-block;
		height:0;
		padding:0;
		margin: 0;
	}
	h2 {
		-webkit-font-smoothing: antialiased;
		border: none;
		color: white;
		display: inline-block;
		width: 80%;
	}
}

.main {
	float: left;
	width: 54%;
	@media only screen and (min-width: @phoneBrPt) { 
	} 
}

aside {
	float: right;
	width: 40%;
}
	


/* @end */
 
/* @group
 * Header
 * ----------------------------------------------------------------- */

.top-nav {
	@menuAnimationDuration: 0.4s;
	color: white;
	font-size: @baseFontSize * 0.8;
	transition: all @menuAnimationDuration;
	position: absolute;
	z-index: 10000;
	margin: 4.8rem 0 0 4%;	
	width: calc(100vw - 2rem - (100vw - 100%));
	max-width: 30rem;
	height: calc(100vh - 4.8rem);
	/* border: 1px solid blue; */
	overflow: hidden;
	pointer-events: none;
	font-size: 1.1rem;
	
	@media (min-width: 856px) {
		background-color: @navBackground;
		font-size: .95rem;
		position: static;
		overflow: auto;
		height:auto;
		width: 100vw;
		max-width: none;
		margin: 0;
		overflow: visible;	
	}
	
	ul {
		background-color: @navBackground;
		list-style: none;
		transition: all @menuAnimationDuration;
		pointer-events: auto;
		border-radius: 4px;
	}
	
	& > ul { //top level nav items
		transform: translateX(-100%);
		width: 100%;
		margin: 0;
		padding: 1rem;
		border-bottom: 1px solid @nav;
		.allCaps;
		font-weight: @fwRegular;
		
		&.opened {
			transform: translateX(0vw);
		}
		
		
		
		@media (min-width: 856px) {
			transform: none;
			display: flex;
			border-bottom: none;
			justify-content: space-between;
			max-width: @pageMaxWidth;
			margin:  0 auto 0 auto;
			padding: 0 4%;
			/* border: 1px blue solid; */
			
			li.contains-subitems {
				position: relative;
				&:hover{
					color: @contentHeaderColor;
					ul {
						opacity: 1;
						visibility: visible;
						transform: translateX(0);
					}
				}
				& > ul {
					transistion: all 0.3s ease-in-out;
					color: white;
					opacity: 0;
					visibility: hidden;
					position: absolute;
					z-index: 1500;
					top: 1rem;
					left: -1rem;
					z-index: 200;
					padding: 1rem;
					width: 20rem;
					transform: translateX(-4rem);
					li {
						border-bottom: .5px solid @nav;
					}
				}
			}
			
			
			li.contains-subitems li.contains-subitems {
				position: relative;
			}
			
			li.contains-subitems li.contains-subitems ul {
				opacity: 0;
				position: absolute;
				z-index: 2500;
				left:50%;
				top: -.5rem;
				transform: translateX(-4rem);
				height: auto;
				visibility: hidden;
				h3, button {
					display:none;
				}
			}
			
			li.contains-subitems li.contains-subitems:hover ul {
				visibility: visible;
				opacity: 1;
				transform: translateX(0);
				z-index: 3000;
			}
		}
		
		li {
			border-bottom: .5px solid @nav;
			padding: .8rem 0;
			@media (min-width: 856px) {
				border-bottom: none;
			}
		}
		
		ul { //subsquent level items
			margin-top: .8rem;
			.notAllCaps;
			@media (min-width: 856px) {
				position: relative;
			}
			li {
				border-bottom: none;
			}
			h3 {
				color: white;
			}
		}
		
		ul.subsublist { //last level level
			width: 100%;
			height: calc(100vh - 4.8rem);
			transform: translateX(200%);
			position: absolute;
			overflow-y: auto;
			top:0;
			left:0;
			z-index: 1000;
			padding: .8rem;
			
			button {
				.non-styled-button;
				display: inline;
				padding: 0;
				color: white;
				margin-bottom: 1rem;
				font-size: 1rem;
				transition: color .2s;
				&:hover {
					color: @contentHeaderColor;
				}
				span {
					margin: 0;
					margin-right: .2em;
					font-size: .75rem;
				
				}
			}
			&.opened {
				display: block;
				transform: translateX(100%);
			}

		}
	}
	
	li {
		&.contains-subitems span {
			font-size: 0.75rem;
			margin-left: .5em;
		}
		&.active a {
			color: @contentHeaderColor;
		}
		
	}
	
	a {
		color: inherit;
		
		&:hover {
			color: @contentHeaderColor;
		}
	
	}
	.social {
		a {
			display: inline;
			&:hover svg {
				fill: @contentHeaderColor;
			}
		}
		svg {
			fill: white;
			width: 1.5rem;
			margin-bottom: -0.5rem;
		}
	}	
}



.masthead {
	background-color: @mastheadFooter;
	background-color: fadeout(@mastheadFooter, 5%);
	margin: 0 0 2em 0;
	.clearfix;
}

.masthead-inner {
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.headline {
	order: 2;
	width: 75%;
	margin-top: -.7em;
	@media (max-width: 855px) {
	//styles for this width
	clear: both;
	width: 100%;
	margin-top: .1rem;
	}
}	

h1.responsive_headline {
	display: inline;
	vertical-align: middle;
	font-weight: @fwLight;
	font-size:	@baseFontSize * 1.8;
	line-height: @baseLineHeight * 2;
	color: #fff;
	padding: 0 1em 0 0;

}

.rbge-logo {
vertical-align: middle;
display:inline-block;
width: 42%;
max-width: 180px;
}



.lang-chooser-container {
	order: 2;
	color: white;
	float: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12rem;
	font-size: @baseFontSize * .7;
	font-weight: @fwLight;
	margin-top: -1.4em;
	border-radius: 4px;
	
	
	button.menu-icon {
		border: none;
		background: none;
		display: none;
		@media (max-width: 855px) {
			display: inline-block;
		}
		.non-styled-button;
		padding: .25rem;
		font-size: 2em;
		svg {
			float: left;
			cursor: pointer;
			@animationDuration: .2s;
			stroke-width: 3;
			/* border: 1px solid white; */
			width: 2.5rem;
			height: 2.5rem;
			#top {
				transition: transform @animationDuration ease-in-out;
				transform: rotate(0deg) translate(0%,0%);
				transform-origin: 50% 29%;
			}
			#middle {
				transition: opacity @animationDuration ease-in-out;
				opacity: 1;
			}
			#bottom {
				transition: transform @animationDuration ease-in-out;
				transform: rotate(0deg) translate(0%,0%);
				transform-origin: 50% 71%;
			}
			&.opened {
				#top {
					transform: rotate(45deg) translate(15%,15%);
				}
				#middle {
					opacity: 0;
				}
				
				#bottom {
					transform: rotate(-45deg) translate(15%,-15%);
				}
			
			}
		}
	}
	
	
	@media (max-width: 855px) {
	//styles for this width
	width: 100%;
	order: 1;
	background: #86312f;
	margin: -1em 0% 1em;
	padding: .6em 1em .6em .25em;
	background: darken(@mastheadFooter, 10%);
	}
	
	.lang-chooser{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		text-align: right;
		justify-content: space-evenly;
		
		p {
			line-height: 2em;
			display: inline;
			margin-bottom: .25rem;
			padding: 0;
			@media (max-width: 540px) {
			display: none;
			}
		}
		img {
			margin: 0 .8em;
			height: 1.5rem;
			width: auto;
		}
		
		a:last-of-type img {
		}
		
		a {
			margin: 0;
			border: 0;
			padding: 0;
		};
	}

	
}

/* @end */
 
 /* @group
 * Home Page
 * ----------------------------------------------------------------- */

.home figure {
	.clearfix;
	width: 100%;
	figcaption {
	text-align: left;
		float: right;
		width: 50%;
		padding: 15% 2em 0 0 ;
	}
	img {
		float: left;
		width: 40%;
	}
}

 /*
  * Home page bar chart
  * ----------------------------------------------------------------- */
#endemics-graph label {
	margin-left: .6rem;
}

#endemics-graph input {
	vertical-align:  2px;
}


 /*
  * svg map
  * ----------------------------------------------------------------- */

.home aside, .search aside {
  width: 50%;
	margin: -2em  -4.4%;
	//position: relative;
}
 
// hide map if viewport too small

 .home aside, .search aside {
	 @media (max-width: 630px) {
	 		//styles for this width
	 		display: none;
	 }
 }
 
 .home .main, .search main {
 	 @media (max-width: 630px) {
 	 		//styles for this width
 	 		width: 100%;
 	 }
  }

 
  
  .svg-container {
	.border-radius(8px);
  float: right;

  width: 100%;
	height: 100%;

  vertical-align: middle; 
  overflow: hidden; 
  }
 
  
  .svg-content {
  float: right;
	  right: -3em;
	  position: relative;
	  .border-radius(8px);
  }
  
  .svg-tool-tip{
	  position: absolute;
	  z-index: 10;
	  //visibility: hidden;
	  width: 10rem;
	  padding: 1.5rem 1rem;
	  background-color: darken(@alertcolor, 15);
	  color: white;
	  text-align: center;
	  font-size: .9rem;
	  line-height: 1.2rem;
	  border-radius: 5rem;
	  box-shadow: 0px 0px 0px 2px white;
	  &:after {
		  @arrowSize: 30px;
		  content: "";
		  position: absolute;
		  top: -(@arrowSize / 5);
		  left: -(@arrowSize / 5);
		  width: 0; 
		  height: 0; 
		  border-top: @arrowSize*.5 solid transparent;
		  border-bottom: @arrowSize*.5 solid transparent; 
		  border-right:	@arrowSize*2 solid  darken(@alertcolor, 16);
		  transform: rotate(45deg);
		  
	  }
	  .big-number {
		  font-size: 3.3rem;
		  line-height: 3.2rem;
		  color: rgb(226,189,127);
		  font-weight: 100;
	  }
  }

// hide Juan Fernandez if too small

#JF {
	@media (max-width: 700px) {
		display: none;
	 }
}

	.fill-grey{fill:#A9A9A6;}
	.fill-pale{fill:#E5C690;}
	.fill-darker{fill:#DC9E6C;}
	.svg-stroked-box {
		stroke: #DC9E6C;
		stroke-width: 1px;
		fill: none;
	}
	.map-label, .region-code {
		font-family:"prenton", "Gill Sans", sans-serif;
		font-size:12px;
		fill: #000;	
		}

	.fill-darker:hover {fill:white;}
	
	@keyframes pulse {
		0, 100% {fill:darken(@mastheadFooter, 10%);}
		50% {fill:darken(@contentHeaderColor, 5%);}	
	}

	.region {
			transition: all .25s;
			}

		.region.active {
				fill:@mastheadFooter;
				.category & path {
					fill: #c76946;
				}
			}
		
			
			
		.region.disabled {
				fill:#c3beaf;
				pointer-events: none;
			}		

		.region.active .region-code {
			fill:#fff;
		}	
		
		.region.disabled .region-code {
			fill:#d4d4d4;
		}
		
		.region.disabled .map-label {
				fill:#b0b0b0;
			}		


			.region:hover{
				fill:#b1413a;
				 box-shadow: 3px 3px 5px 6px #ccc;
				 cursor: pointer;
			}
			
			.region:active{
				animation: pulse .8s infinite ease-in-out;
			}
			
			
			
			.region:hover .region-code {
				fill:#fff;
			}

		#JF:hover .region-code {
		fill:black; 
		} 


/* 
 
 /* @group
 * Taxa detail
 * ----------------------------------------------------------------- */
.taxa-detail .main {
width: 80%;
}
.taxa-detail .main.with-photos {
	width: 62%;
	float: left;
	
	@media (max-width: 795px) {
			//styles for this width
			width: 100%;
			float: right;
	}
}

// taxa tabbed navigation

@tabColour1: rgb(215,107,70);
@tabColour2: rgb(18,140,181);
@tabColour3: rgb(214,142,91);
@arrowSize: 1.2rem;
@slashSize: 2.2rem;

.tab-common {
	//clip-path: polygon(0% 0%, calc(100% - 2.5rem) 0, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, calc(100% - @slashSize) 0%, 
					calc(100% - @arrowSize)  calc(100% - @arrowSize), calc(100% - @arrowSize) calc(100% - @arrowSize), 
					0% calc(100% - @arrowSize));
	border-radius: .5rem;
	position: relative;
	padding: 1rem (1rem + @slashSize) (1rem + @arrowSize) @slashSize;
	margin: 0;
	margin-left: -@slashSize;
	transition: all .3s ease-in-out;
	&:hover, &.active, &:active {	
		clip-path: polygon(0% 0%, calc(100% - (@slashSize)) 0%, 100% 100%, calc(100% - @arrowSize * 2) calc(100% - @arrowSize), 0 calc(100% - @arrowSize));
	}
	&.active {
		pointer-events: none;
	}
}

.tabs ul {
	display: flex;
	margin: 0 calc(-@padding - 4px) 0  calc(-@padding - 4px);
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: calc(100% - (@arrowSize + 4px));
		background-color: @taxaHeader;
		border-bottom: 1px white solid;
	}
	
} 
.tabs li {

	&:first-child a, &[style*="none"] + li a  {
		margin-left: 0 !important;
		padding-left: 2.5rem !important;
	}	
	
	&:nth-child(3n+1) a {
		.tab-common; 
		background: @tabColour1;
		z-index: 60;
		&:hover{
			background: spin(darken(@tabColour1, 10), 5);
		}

	}
	&:nth-child(3n+2) a {
		.tab-common;
		background: @tabColour2;
		z-index: 40;
		&:hover{
			background: spin(darken(@tabColour2, 10), 5);
		}

	}	
	&:nth-child(3n+3) a {
		.tab-common; 
		background: @tabColour3;
		z-index: 10;
		&:hover{
			background:spin(darken(@tabColour3, 10), 5);
		}
	}
	a { 
		color: white;
		display: block;
	}
	
}

.taxa-detail h3 {
	border-bottom: none;
	color: @mastheadFooter;
	.allCaps;
	font-size: 1rem;
	margin: 1.5rem 0 0 0;
}

article ul, article ol {
	list-style: none;
	margin: 0 0	@baseLineHeight * .4 0;
}

// .no-images.taxa-detail .article-header {
// 	margin: calc(-@padding - 4px) calc(-@padding - 4px) 0 calc(-@padding - 4px);
// }

.article-header {
	background: @taxaHeader;
	margin: 0 calc(-@padding - 4px) 0 calc(-@padding - 4px);

	padding: 2.5rem 2.5rem .6rem 2.5rem;
	color: white;
	
	.family {
		color: white;
		.allCaps;
		margin-bottom: .1rem;
	}
	
	 h2{
		font-size: @baseFontSize * 2.1;
		font-weight: @fwLight;
		border: none;
		color: white;
		margin-bottom: .8rem;
		margin-right: 1rem;
		-webkit-font-smoothing: antialiased;
		i{
			font-style: normal;
		}
		span{
			font-size: @baseFontSize * 1.2;
			font-weight: @fwRegular;	
			white-space: nowrap;
		}
	}
}


.is_a_syn p {
	margin: 1em 0;
	color: white;
	a {
		color: lighten(@mastheadFooter, 20);
		transition: color .24s ease-in-out;
		&:hover{
			color: lighten(@linkColorHover, 20);
		}
	}
}

.taxonomic-links {
	float: right;
}


.classified-in, .prev-next-links {
	.horiz-list;
	font-weight: @fwLight;	
	color: lighten(@grayLight, 30);
	font-smoothing: antialiased;
	li{
	  padding: 0 .3em 0 0;
	}
	a{
		color: lighten(@grayLight, 20);
		transition: color .24s ease-in-out;
		&:hover{
		color: @linkColorHover;
		}
	}
}


.taxa-list article{
// .content-columns(2, @fluidGridGutterWidth);
}

.ref-url{ // prevent long urls from breaking container
	-ms-word-break: break-all;
	word-break: break-word;
}

#map {
	height: 750px;
	margin-bottom: 1em;
}
#map img{
/*min-width: 100%;*/
max-width: inherit;}

#reset-map {
	.btn(white, @btnColor);
	.btn-mini;
}

/*map infobox styling*/

	.m_tooltip{
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	z-index: -2;
	color: #FFFFFF;
    float: left;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #313436;
    text-shadow: 0px 0px 3px #000;
    
    .border-radius(5px);
    .box-shadow(0px 1px 2px #000);
    #gradient > .vertical(rgba(31,34,36,.7),rgba(0, 0, 0, 0.3));
  
    }
    
    .no-cssgradients .m_tooltip{
        background-color: #313436;
    }
    	

	.m_tooltip p{
	margin-bottom: 0;
	font-size: 16px;
	}
	
	h4 {
	  border: 0;
	  color: @mastheadFooter;
	  margin: .7em 0 .2em 0;
	}

/* Image gallery setup (more specific styles are included in twig template, _image_gallery_inline_styles.html, as they are dependant on number of images)
---------------- */
.taxa-detail aside{
	width:35%;
	float:right;
	text-align: right;
	
	@media (max-width: 795px) {
			//styles for this width
			width: 100%;
			float: left;
			text-align: left;
	}
}



/* @end */

/* @group
 * search page
 * ----------------------------------------------------------------- */

.taxa-list aside {
.clearfix;
border: 1px black solid; 
}

.taxa-list .main {
	width: 62%;
	float: right;
}

.taxa-list object {
	min-width: 100%;
}

#taxa-field {
	width: 20%;
	height: 1.9em;
}

.input-append {
	position: relative;
}


 .search-query {
		padding: .6em .8em .5em .8em;
		padding-left: 2.3em;
		 margin-bottom: 0;
		 .border-radius(3em);
		 border: 1px @grayLight solid;
		 .box-shadow(inset 0 0 6px rgba(91, 76, 76, 0.16));
	}


	 input.search-query:focus {
		outline:none;
	
		border: 2px @contentHeaderColor solid;
		 .border-radius(3em);
		background-image: inherit;    
	}


.input-append:after{
	content: '';
	position: absolute;
	left: .85em;
	top: 36%;
	width: 1.2em;
	height: 1.2em;
	background: url('/images/interface/magnifyingglass.svg') no-repeat;
	background-size: cover;
}

.input-append button {
	position: absolute;
	right: .85em;
	top: 36%;
	width: 1.2em;
	height: 1.2em;
	padding: none;
	border: none;
	font-family: inherit;
	background: none;
	background: url('/images/interface/multiply.circle.fill.svg') no-repeat;
	background-size: cover;
	
	&:active {
		outline: none;
	}
}


input.search-query {
	 margin: 1em 0;
	 width: 100%;
	 position: relative;
 }

.modal-trigger {
	background-color: gray;
	color: white;
	font-style: italic;
	font-weight: 600;
	direction: inline-block;
	min-width: .5rem;
	min-height: 1rem;
	padding: .05rem .65rem  .05rem  .55rem ;
	margin-left: .6rem;
	border-radius: 50%;
}

.modal-pop-up {
	background-color: @pageBackground;
} 
 
.pagination-bar {
	color: #5e5e5e;
	font-size: 0.9rem;
	margin: 1rem 0;
	p.info {
		margin-bottom: 0.25rem;
		small {
			font-size: 0.9rem;
			font-weight: 100;
		}
	}
	ul {
		/* border: 1px gray solid; */
		border-radius: 7px;
		width: auto;
		display: inline-flex;
		flex-wrap: wrap;
		background-color: fade(@contentHeaderColor, 80%);
		color: white;
		font-size: 0.8rem;
		li {
			border-right: 1px white solid;
			margin: 0;
			&:last-child {
				border-right: none;
			}
			a {
				padding: 0.5rem 0.7rem;
				display: block;
				color: white;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}
			&.active {
				background-color: spin(saturate(@contentHeaderColor, 20%), 20);
				a {
				color: black;
				}
			}
			 &.disabled {
				//background-color:spin(@contentHeaderColor, 5);
				pointer-events: none;
				a {
					color: lighten(@contentHeaderColor, 20%)
				}
				
			}
		}
	}
}

 
li.mix, h3.mix {
	transition: all 300ms ease-in-out;
	display: block;
	max-height: @baseLineHeight*2;
	transform: scaleY(1);
	transform: translate3d(0, 0, 0);
	margin: .2em 0;
	opacity: 1;
	visibility: visible;
	border-bottom: none;
	}

h3.mix {
	border-bottom: 1px @contentHeaderColor solid;
	margin: .7rem 0 .3em 0;
	width: 80%;
	}
	
li.mix {
	margin-left: 1.2em;
	text-indent: -1.2em;
	line-height: 1.2em;
	}		
		
	
li.mix.hide, h3.mix.hide {
		transition: all 300ms ease-in-out;
		transform: scaleY(0.000001);
		max-height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
		border-bottom: 0 white solid;
	}

#taxa-list li.synonym a {
	&:after {
		content: url(/images/interface/synonym-symbol.svg);
		.syn-symbol;
		display: inline-block;
		vertical-align: text-top;
		width: .75em;
		height: .75em;
		margin-left: 0.4rem;
		
	}
}	
/* @end */

/* @group
 * index pages
 * ----------------------------------------------------------------- */
  
  
  .indexes div.article-header {
	  padding-bottom: 0;
	  .clearfix;
  }
  
	.syns-checkbox {
		display: inline-block;
	}
	
	.syn-symbol{
			display: inline-block;
			vertical-align: middle;
			fill: #f8cf7a;	 
			width: 1em;
			height: 1em;
			margin-bottom: .3em;
		}
  
  .alphabetical-index {
  font-size: 0;
  line-height: 0;
   margin: .5em  0 0 0 ;
   text-align: justify;
   text-justify: distribute-all-lines; /* distribute items in IE */
   &:after{
	   display: inline-block;
	   content: '';
	   font-size: 0;
	   line-height: 0;
	   height: 0;
	   width: 100%;
	   padding: 0;
	   margin: 0;
   }
   @media (max-width: 640px) {
   
	border-top: 1px 	lighten(@contentHeaderColor, 10%) solid;
	padding-top: .5rem;
	margin-top: .5rem;
   }
  }	
  
 .alphabetical-index > a {
 font-size: @baseFontSize;
 line-height: @baseLineHeight;
  color: white;  
  display: inline-block;
 	text-align: center;
 	min-width: 3.6%;
 	padding: .2em 0;
 	
	 	@media (max-width: 640px) {
	 	
	 		margin: 0 2%;
	 		padding: 0 0.5%;

	 	}
	 	@media (max-width: 500px) {
	 	
	 		margin: 0 3.4%;
	 		padding: 0 0.5%;
	 	
	 	}
	}
	
	
	.alphabetical-index a.active{
		color: @textColor;
		background-color: @pageBackground;
		border: 2px lighten(@pageBackground, 20%) solid;
		border-bottom: none;
		position: relative;	
		pointer-events: none;
		cursor: default;	
	}
	
	
	.alphabetical-index  a.active:after{
	    content: '';
	    position: absolute;
	    bottom: -3px;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    border-top: 3px @pageBackground solid;
	    display: block;
	    
	    @media (max-width: 640px) {
	  		display: none;
	    }

	}
	
	.alphabetical-index a:hover {
	.transition(background 0.3s ease);
	background-color: darken(@contentHeaderColor, 20%);
	color:white;
	}
	
	
	
	.alphabetical-index  .disabled {
		color: lighten(@contentHeaderColor, 10%);
		pointer-events: none;
		cursor: default;
	}
	

 
 .index-list {
 		.author {
 		color: lighten(black, 50%);
 		font-size: @baseFontSize * .8;
 		white-space: nowrap;
 		}
 	 @media (min-width: 500px) {
 			.columns(2, 2em);
 	 }
 	 @media (min-width: 940px) {
 	 		.columns(2, 2em);
 	 }
 	 ul { 
 	 margin: 0 0 0 0;
 	 }
 }
 
 article.cols-1 .index-list{
 @media (min-width: 940px) {
 		.columns(1, 2em);
 		width: 50%;
 		}
 }
 
 article.cols-2 .index-list{
 @media (min-width: 940px) {
 		.columns(2, 2em);
 		}
 }
 
 article.cols-3 .index-list{
 @media (min-width: 940px) {
 		.columns(3, 2em);
 		}
 }
 
 
 
.index-list small {
	font-size: @baseFontSize  * .7;
	color: @grayDark;
}
 
 .filter {
 		margin-top: 1em;
 		font-size: @baseFontSize * .8;
 }
  
/* @end */

/* @group
* about page
* ----------------------------------------------------------------- */
.about .main {
	width: 100%;
}

.static-section {
	.clearfix();
	.text {
		width: 60%;
		float: left;
	
		@media (max-width: 650px) {
				width: 100%;
		 }
	}
	
	.text figure img  {
		float: left;
		max-width: 15%;
		clear: both;
		margin: 1rem 1rem 0 0 ;
	}
}

.home .static-section {
	.text {
		width: 100%;
		float: left;
		
		@media (max-width: 650px) {
				width: 100%;
		 }
	}

}


/* @group
 * region and habitat pages
 * ----------------------------------------------------------------- */

.category.no-images .article-header{
	margin-top: -2.5rem;
} 

.category .taxa-lists ul {
	column-count: 2;
	@media (max-width: 650px) {
		column-count: 1;
	}
}

.category .text {
	font-size: 1.1rem;
	line-height: 2rem;
	margin-top: 1.5rem;
	 p:first-line { 
		.allCaps;
  } 
}

.regions .article-header {
	position: relative;
	min-height: 20rem;
}

.regions .article-content {
}

// http://thenewcode.com/744/Make-SVG-Responsive
.regions .map {
	top:0;
	right:0;
	bottom: -3.2rem;
	display: inline-block;
	position: absolute;
	width: 30%;
	overflow: hidden;

	z-index: 100;
	svg {
		z-index: 500;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		background: -1rem;
	}
}

/* @group
 * footer
 * ----------------------------------------------------------------- */

footer {
	.clearfix;
	background-color: @mastheadFooter;
	min-height: 3em;
	width: 100%;
	padding: (@padding/2) 0;
	margin: 0	0	0	0;
	grid-row: 3/4;
	
	img {
		float: left;
		min-width: 20%;
	}
	
	.details {
		float: right;
		width: 75%;
		small {
			color: #f8cf7a;
			font-size:  @baseFontSize / 1.3;
			line-height:  @baseFontSize;
			a {
				color: inherit;
				&:hover {
					color:white;
				}
			}	
		}
		ul {
			list-style: none;
			margin: 0 0 .2em;
			> li {
				-webkit-font-smoothing: antialiased;
				color: white;	
				display: inline-block;	
				padding: 0 1em 0 0;
				
				a {
					color: inherit;
					&:hover {
						color: #f8cf7a;
					}
				}
			}
		}	
	}
}

/* @end */


 
    
