// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------





// BODY TEXT
// ---------

p {
  margin: 0 0 @baseLineHeight * .4;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-variant-ligatures: common-ligatures;
  small {
    font-size: @baseFontSize - 2;
    color: @grayLight;
  }
}

// Links
// ---------

a {
	text-decoration: none;
	color: @linkColor;
	&:hover, &:active {
		color: @linkColorHover;

	}
}


// Body copy Links
// ---------
p > a {
  color: darken(@linkColorHover, 10%);
  border-bottom:  1px solid #b5b5b5;
  &:hover, &:active {
    border-bottom: 1px solid @linkColorHover;
  
  }
}


// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .4em 0;
  border-bottom: 1px @headingParaRuleColour solid;
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
  color: @headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-variant-ligatures: common-ligatures;
  small {
    font-weight: normal;
    color: @grayLight;
  }
}
h1, .h1 {
   font-size:	@baseFontSize * 2.1;
  line-height: @baseLineHeight * 1.6;
  border: 0;
  small {
    font-size: 18px;
  }
}
h2, .h2{
  font-size: @baseFontSize * 2.1;
  line-height: @baseLineHeight * 2;
  font-weight: @fwLight;
  color: @h2Color;
  small {
    font-size: 18px;
  }
}
h3, h3 {
  font-size:  @baseFontSize * 1.35;
  line-height: @baseLineHeight * 1.4;
  small {
    font-size: 14px;
  }
}
	

h4, h5, h6, .h4, .h5, .h6 {
  line-height: @baseLineHeight;
}
h4, .h4 {
  font-size: @baseFontSize * 1.2;
  small {
    font-size: 12px;
  }
}
h5, .h5 {
  font-size: 12px;
}
h6, .h6 {
  font-size: 11px;
  color: @grayLight;
  text-transform: uppercase;
}



// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 @baseLineHeight * .6;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: @baseLineHeight * .8;
  margin: 0 0 @baseLineHeight * .2;
  
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: @baseLineHeight;
}
dt,
dd {
  line-height: @baseLineHeight;
}
dt {
  font-weight: bold;
  line-height: @baseLineHeight - 1; // fix jank Helvetica Neue font bug
}
dd {
  margin-left: @baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: 130px;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: @baseLineHeight 0;
  border: 0;
  border-top: 1px solid @hrBorder;
  border-bottom: 1px solid @white;
}

// Emphasis
strong, b {
  font-weight: 500; //Prenton medium weight is 500
}
em {
  font-style: italic;
}
.muted {
  color: @grayLight;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted @grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 @baseLineHeight;
  border-left: 5px solid @grayLighter;
  p {
    margin-bottom: 0;
    #font > .shorthand(16px,300,@baseLineHeight * 1.25);
  }
  small {
    display: block;
    line-height: @baseLineHeight;
    color: @grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: @baseLineHeight;
  font-style: normal;
  line-height: @baseLineHeight;
}

//tables

th, td {
  padding: .5rem 1.5rem .5rem 0;
  text-align: left;
  border-bottom: 1px solid #ddd;

}


// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}



/* From HTML5 Boilder Plate These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
 */
::-moz-selection{ background: @selectionBackgroundColor; text-shadow: none; }
::selection { background:@selectionBackgroundColor; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: @tapHighlightColor; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }
