{#
# Index of Habitats
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Habitats"|t %}
{% set bodyClass = "habitats" %}
{% block content %}
	<div class="article-header rev">
		<h2 class="rev">{{ "Index of Habitats"|t }}</h2>

	</div><!--article-header-->
	
		
		{% set categories = craft.categories.group('habitats') %}	
		<table class="tg">
			<tr>
				<th>Habitat Name</th>
				<th>Chilean Endemics</th>
				<th>Habitat Endemics</th>
			</tr>
		{% for category in categories %}
		{# Get entries related to `habitat` #}
		{% set entries = craft.entries
						.isASynonym('0')
						.relatedTo(category)
						.with(['habitat']) %}
		{% set chileEndemicsCount = entries.total() %}
		{# loop and check if they have more than one category #}
		{% set categoryEndemicsCount = 0 %}
		{% for entry in entries %}
			{% if entry.habitat|length == 1 %}{% set categoryEndemicsCount = categoryEndemicsCount + 1 %}{% endif %}
		{% endfor %}
			<tr>
				<td><a href="{{ category.url }}">{{ category.title }}</a></td>
				<td>{{ chileEndemicsCount }}</td>
				<td>{{ categoryEndemicsCount }}</td>	
			</tr>
		{% endfor %}
		</table>
		
		
{% endblock %}