<section class="image-gallery">
	{% set letters = "abcdefghijklmnopqrstuvwxyz"|slice(0,imageCount)|split("") %}
	{% set captions = [] %}
	{% set hideIfMoreThan = 8 %}
	{% for image in images %}
		<div class="gallery-item {{(loop.index > hideIfMoreThan)?'extra-image'}}" style="grid-area: {{ letters[loop.index -1] }};">
			<a data-fancybox="gallery" data-caption="{{ image.photoCaption|striptags('<i><em>')|raw ~ " Photo"|t ~ '&nbsp;' ~ image.photoCredit }}" href="{{ image.getUrl('hero') }}" title="{{ image.photoCaption|striptags() }}">
				<figure>
					<img src="{{ image.getUrl('hero') }}" alt="{{ image.title|striptags('<i><em>')|raw }}">
					{% if image.photoCaption or image.photoCredit %}
						{% set figcaptionText %}
							{% if image.photoCaption %}{{ image.photoCaption|striptags('<i><em>')|raw }}.<br/>{% endif %}
							{% if image.photoCredit %}<span class="credit">{{ "Photo"|t }}: &nbsp;{{ image.photoCredit }}</span>{% endif %}
						{% endset %}
						<figcaption class="caption">{{ figcaptionText }}</figcaption>
						{% set captions = captions | merge([figcaptionText]) %}
						{% set captions = captions | merge([figcaptionText]) %}
					{% endif %}
				</figure>
			</a>	
		</div>
	{% endfor %}
	{% if images|length > hideIfMoreThan %}<a id="show-more-images" class="see-more-message" href="javascript:;">{{ "See #{images|length - 8} more images …"|t }}</a>{% endif %}  
</section>