{% for section in entry.staticSections.all() %}
	 <section class="static-section">
	 	<div class="text">
			{% if loop.first %}
				 <h2>{{ section.sectionTitle }}</h2>
			 {% else %}
				 <h3>{{ section.sectionTitle }}</h3>
			 {% endif %}
			 {{ section.sectionContent }}
		</div>
		 		 {% if section.sectionImage|length %}
		 {% set image = section.sectionImage.one() %}
		 	<figure class="section-image">
		 		{% if image.extension  == "svg" %}
			 		<img src="{{ image.url }}" alt="{{ image.photoCaption  }}">
				{% elseif image.filename == "combined-logos.jpg" %}
					<img src="{{ image.url }}" alt="{{ image.photoCaption  }}">
				{% else %}
					<a data-fancybox="gallery" data-caption="{{ image.photoCaption }}" href="{{ image.getUrl('lightbox') }}" title="{{ image.photoCaption }}">
					<img src="{{ image.getUrl('square') }}" alt="{{ image.photoCaption  }}">
				{% endif %}
		 		{% if image.photoCaption %}
			 		<figcaption>{{ image.photoCaption|striptags('<i><a>')}}
						<br/>{% if  image.photoCredit %}{{ "Photo"|t ~ ": " ~ image.photoCredit }}{% endif %}
					</figcaption>
				{% endif %}
				</a>
		 	</figure>
		 {% endif %}
		 </section>
 {% endfor %}
