<!DOCTYPE html>
 <html class="no-js" lang="{{  craft.app.language|split('-')[0] }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		{% if subtitle is defined %}
			{% set title = subtitle ~ " | " ~ "The Endemic Plants of Chile"|t %}
		{% else %}
			{% set title = "The Endemic Plants of Chile"|t %}
		{% endif %}
		<title>{{ title }}</title>
		{% if siteText.siteText.code('meta-description').one().text  is defined %}
			{% set metaDescription = siteText.siteText.code('meta-description').one().text  %}
			<meta name="description" content="{{ metaDescription| striptags | raw }}">
		{% endif %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icon" href="/images/interface/favicon.png" type="image/png" />
		<script type="text/javascript" src="//use.typekit.net/aux0csc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script> var site_url = "{{ siteUrl }}"; var lang = "{{  craft.app.language|split('-')[0] }}"; var translations= {}; </script>
	 
	</head>
	<body class="{{ bodyClass }}">
		<!--[if lt IE 9]>
			<h3 style="background: white">Warning: you are using a legacy and unsupported browser and aspects of this site will look broken and fail to work. To use this site, please <a href="http://whatbrowser.org/">upgrade your browser</a>. | Advertencia: se está utilizando un navegador no compatible y legado y los aspectos de este sitio se verá roto y no funcione. Para utilizar este sitio, por favor, <a href="http://whatbrowser.org/intl/es"> actualizar su navegador.</h3>
		<![endif]-->
			<!-- define svg icons -->
								<svg style="display:none" >
										<defs>
											<g id="down-arrow">
		<path d="M12.8,0.3c0.4-0.4,1.1-0.4,1.6,0c0.4,0.4,0.4,1.1,0,1.6L8.1,8C7.7,8.4,7,8.4,6.6,8L0.3,1.9c-0.4-0.4-0.4-1.1,0-1.6
		c0.4-0.4,1.1-0.4,1.6,0l5.5,5C7.4,5.3,12.8,0.3,12.8,0.3z"/>
											</g >
											<g id="loading-indicator"	>
													<g>
														<path d="M50 15A35 35 0 1 0 74.787 25.213" fill="none" stroke="grey" stroke-width="12px"></path>
														<path d="M50 0L50 30L66 15L50 0" fill="grey"></path>
														<animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="1.5s" repeatCount="indefinite"></animateTransform>
													</g>
											</g>
										<g id="syn-symbol">
											<circle class="syn-symbol" cx="10" cy="10" r="10"/>
											<g>
												<path fill="white" d="M6.3,13.9c0.8,0.4,1.9,0.8,3.2,0.8c1.5,0,2.4-0.7,2.4-1.8c0-1-0.7-1.6-2.3-2.2C7.3,10,6,8.9,6,7c0-2.1,1.8-3.8,4.6-3.8
													c1.4,0,2.5,0.3,3.1,0.7l-0.6,1.9c-0.5-0.3-1.4-0.6-2.6-0.6C9,5.2,8.4,6,8.4,6.8c0,1,0.8,1.5,2.5,2.1c2.3,0.9,3.4,2,3.4,3.9
													c0,2.1-1.6,3.9-5,3.9c-1.4,0-2.8-0.4-3.5-0.8L6.3,13.9z"/>
											</g>
										</g>
										
										<g id="twitter">
											<path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-.139 9.237c.209 4.617-3.234 9.765-9.33 9.765-1.854 0-3.579-.543-5.032-1.475 1.742.205 3.48-.278 4.86-1.359-1.437-.027-2.649-.976-3.066-2.28.515.098 1.021.069 1.482-.056-1.579-.317-2.668-1.739-2.633-3.26.442.246.949.394 1.486.411-1.461-.977-1.875-2.907-1.016-4.383 1.619 1.986 4.038 3.293 6.766 3.43-.479-2.053 1.08-4.03 3.199-4.03.943 0 1.797.398 2.395 1.037.748-.147 1.451-.42 2.086-.796-.246.767-.766 1.41-1.443 1.816.664-.08 1.297-.256 1.885-.517-.439.656-.996 1.234-1.639 1.697z"/>
										</g>
										
										<g id="instagram">
			<path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
										</g>
										
										</defs>
								</svg>
		<header>
			<nav class="top-nav">
				{% macro is_active(pageName) %}{% if craft.app.request.segments|last|split('#')[0] == pageName %}active{% endif %}{% endmacro %}
				{% import _self as helpers %}
				<ul>
					<li class="{{ helpers.is_active('') }}"> <a href="{{ siteUrl }}">{{ "Home"|t }}</a></li>
					<li class="{{ helpers.is_active('search') }}"><a href="{{ siteUrl }}search">{{ "Search"|t }}</a></li>
					<li class="{{ helpers.is_active('taxomonic-indexes') }} contains-subitems">{{ "Taxonomic Indexes"|t }}
						<ul class="sublist">
							<li class="{{ helpers.is_active('taxa') }}"><a href="{{ siteUrl }}indexes/taxa#A">{{ "Index of Taxa"|t }}</a></li>
							<li class="{{ helpers.is_active('common-names') }}"><a href="{{ siteUrl }}indexes/common-names">{{ "Index of common names"|t }}</a></li>
							<li class="{{ helpers.is_active('genera') }}"><a href="{{ siteUrl }}taxonomic-groups/endemic-genera">{{ "Index of endemic genera"|t }}</a></li>
							<li class="{{ helpers.is_active('node-diagram') }}"><a href="{{ siteUrl }}indexes/node-diagram-canvas">{{ "Visualisation of taxonomic relationships"|t }}</a></li>
						</ul>
					</li>
					<li class="{{ helpers.is_active('biogeography') }} contains-subitems">{{ "Biogeography"|t }}
						<ul class="sublist" >
							{# <li class="{{ helpers.is_active('biogeography-story') }}"><a href="/biogeography-story">{{ "About Chile’s Unique Biogeography"|t }}</a></li> #}
							<li class="{{ helpers.is_active('habitats') }} contains-subitems"><a href="#">{{ "Habitats"|t }} <span class="disclosure-arrow">▶︎</span></a>
								<ul class="sublist subsublist">
									<button class="sublist-close"><span class="disclosure-arrow">◀︎</span> {{ 'Back to main menu' }}</button>
									<h3>{{ 'Habitats'|t }}</h3>
									{% for habitat in craft.categories().group('habitats').all %}
										<li><a href="{{ habitat.url }}">{{ habitat.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li class="{{ helpers.is_active('regions') }} contains-subitems" ><a href="#">{{ "Regions"|t }} <span class="disclosure-arrow">▶︎</span></a>
								<ul class="sublist subsublist" >
									<button class="sublist-close"><span class="disclosure-arrow">◀︎</span>{{ 'Back to main menu' }}</button>	
									<h3>{{ 'Regions'|t }}</h3>	
									{% for region in craft.categories().group('regions').all %}
										<li><a href="{{ region.url }}">{{ region.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					</li>		
					<li class="{{ helpers.is_active('about') }}"><a href="{{ siteUrl }}about">{{ "Who are we?"|t }}</a></li>
					<li class="social">
						<a href="https://twitter.com/ChileEndemics"> <svg class="icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid"><use xlink:href="#twitter"></use></svg></a>
						<a href="https://www.instagram.com/chileendemics/"> <svg class="icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid"><use xlink:href="#instagram"></use></svg></a>
					</li>
				</ul>
			</nav>
			<div class="masthead">
				<div class="masthead-inner">
					<div class="headline">
						<h1 class="responsive_headline">{{ "The Endemic Plants of Chile"|t }}</h1>
						<img class="rbge-logo" src="/images/interface/rbge_logo_rev.svg" alt="RBGE logo" />
					</div>	
					<div class="lang-chooser-container">
						<button class="menu-icon" aria-label="Main Menu">
							<svg class="menu-icon btn-content" width="100" height="100" viewBox="0 0 100 100" stroke="white">
								<path id="top" d="M 20,29 H 80" />
								<path id="middle" d="M 20,50 H 80" />
								<path id="bottom" d="M 20,71 H 80" />
							</svg>
						</button>
						<div  class="lang-chooser">
							<p>Choose language / Elija su lenguaje</p>
							{% set enSiteBaseURL =  craft.app.getSites().getSiteByHandle('default').baseURL %}
							{% set englishSiteCurrentURL = enSiteBaseURL ~	craft.app.request.pathInfo	%}
							{% set chileanSiteCurrentURL = alias(craft.app.sites.getSiteByHandle('endemicsChileanVersion').baseUrl ~	craft.app.request.pathInfo)	%}
							<a href="{% if craft.app.language == 'en-GB'	%}{{ chileanSiteCurrentURL }}{% endif %}" title="Español">
									<img src="/images/interface/Flag_of_Chile.svg" alt="Español"/>
							</a>
						
							<span class="switch">
								<input type="checkbox" id="s5"
									{% if craft.app.language == 'en-GB' %}
										checked
									{% endif %}
								>
								<label for="s5" data-on="EN" data-off="ES"></label>
							</span>
							
								<a href="{% if craft.app.language == 'es-CL'	%}{{ englishSiteCurrentURL }}{% endif %}" title="English">
									<img src="/images/interface/Flag_of_the_United_Kingdom.svg" alt="English"/>
								</a>
						</div> <!--lang-chooser-->
					</div> <!--lang-chooser-container-->
						
				</div> <!-- masthead-inner -->
			</div>
		</header>
		<div id="container">
			<article>
				{% block content %}
				{% endblock %}
			</article>
		</div> <!--container-->
		<footer>
			<div class="footer-inner">
				<img class="rbge-logo" src="/images/interface/rbge_logo_rev.svg" alt="RBGE logo" />
				<div class="details">
					<ul>
						<li><a href="http://www.rbge.org.uk/accessibility" title="">{{ "Accessibility"|t }}</a></li>
						<li><a href="http://www.rbge.org.uk/sitemap" title="">{{ "Site Map"|t }}</a></li>
						<li><a href="http://www.rbge.org.uk/privacy-policy" title="">{{ "Privacy and cookie policy"|t }}</a></li>
						<li><a href="http://www.rbge.org.uk/terms-and-conditions" title="">{{ "Terms and conditions"|t }}</a></li>
					</ul>
					<small>{{ "A Checklist of the Endemic Plants of Chile is a sub-site of "|t }} <a href="http://www.rbge.org.uk/">{{ "Royal Botanic Garden Edinburgh Website."|t }}</a> {{ "Copyright © %0000% Royal Botanic Garden Edinburgh"|t|replace('%0000%', "now"|date("Y")) }}. </small>
					<small>{{ "Website design and development by"|t }} <a href="http://www.dalrymple.eu/nye-hughes">{{ "Nye Hughes, Dalrymple"|t }}</a></small>
				</div>
			</div>
		</footer>
		<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHeeYg_FOTXMl8d65C8aAKTq__Bd3ONP8&language={{  craft.app.language|split('-')[0] }}">
		</script>
		<script src="/js/min/script-min.js"></script>
		{% block scriptPageBottom %}
		{% endblock %}
	</body>
</html>