{#
# Home Page Template
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Introduction"|t %}
{% set bodyClass = "home" %}
{% block content %}
	<div class="article-content">	
		<div class="main">
			{% include '_includes/_static_sections.html' %}
		</div><!--main-->
		<aside>
 			<div id="regions-map" class="svg-container">
 			{% include '_includes/chile_regions_map_new.svg' %}
 			</div>
		</aside>
	</div> <!--article-content-->	
{% endblock %}

{% block scriptPageBottom %}
	<script src="https://d3js.org/d3.v4.js"></script>
	<script>
		d3.csv("/csv?type=regions", function(regionsData){
			//console.log(regionsData);
				toolTipMap(regionsData);
		});
		
	var radioButtonCode =   '<form>' +
		'<fieldset>' +
		'<legend>' + '{{ "Select graph data"|t }}' + '</legend>' +
		'<div><input type="radio" id="totalVascularPlants" value="totalVascularPlants" name="graphData" checked /><label for="totalVascularPlants">' +
			'{{ "Number of plant species by country"|t }}' + 
		'</label></div>' +
		'<div><input type="radio" id="totalEndemicPlants" value="totalEndemicPlants" name="graphData" /><label for="totalEndemicPlants">' + '{{ "Number of endemic plant species by country"|t }}' + '</label></div>' +
		'<div><input type="radio" id="percentage" value="percentage" name="graphData" /><label for="percentage">' + '{{ "Percentage of endemic plant species by country"|t }}' + '</label></div>' +
		'</fieldset>' +
		'</form>'; 
	
	
		var $graphDiv1 =  $( "<section id='endemics-graph' class='static-section'></section>").insertAfter( $("section.static-section").first() );
		
		var $radiobuttons = $(radioButtonCode).prependTo( $graphDiv1 );
	
	
		d3.csv("/csv?type=countries", function(countriesData){
			//console.log(countriesData);
			var title = "{{ "Number of plant species by country"|t }}"
			var chart =  Object.create(D3BarChart);
			var options = {
				barLabelWidth: 88,
			}
			
			chart.init(countriesData, "countryName", "totalVascularPlants", title, $graphDiv1, options);					
			$('input[type=radio][name=graphData]').change(function() {
				title = $(this).parent().find('label').text()
				chart.updateValues(this.value, title);
			});
			$( window ).resize(function() {
				chart.resize(); 
			});
		});	
	
	
		function toolTipMap(data) {
			//console.log('tool tip map function run');
			var svg = d3.select("#regions-map > svg");
			var w = svg.node().getBBox().width;
			var h = svg.node().getBBox().height;
			
			var tooltipLeftOffset = 8;
			var tooltipTopOffset = 10;
			
			// Tooltip auto-animation
			var shuffledRegions = d3.shuffle(data);
			var numberOfMouseOvers = 0;
			var stopAnimationAfterHowManyMouseOvers = 15;
			var i = 0;
			
			//Add the regions data to the svg map
			//https://stackoverflow.com/questions/28339501/populating-existing-svg-elements-with-json-data-using-d3?rq=1
			var regions = svg.selectAll("#Chile_Regions>g")
			.each(function() { this.__data__ = { regionId: this.id.toUpperCase() }})
			.data(data, function(d) { return d.regionId; })
			console.log('regions', regions);
			
			// Define the div for the tooltip
			var div = d3.select("#regions-map")
			.append("div")
			.attr("class", "tooltip")
			.attr("class", "svg-tool-tip")
			.style("opacity", 1)
			.style("pointer-events", "none")
			.style("min-width", "120px")
			.property("_last_centroid", {x:w/2, y:h/2})
			.property("_last_eir_stat", 0)
			.property("_last_re_stat", 0)
			.property('_last_dimensions', {width:100, height:40})
			.property('_last_region_name', "start")
			
			regions
				.on("mouseover", showToolTip)				
				.on("mouseout", hideToolTip)
				.on("click", goToRegion);
	
			step();	
				
			function showToolTip(d, i) {
				var duration = 800;//800
				var triggerdByMouseOver = false;  
				// if d3.event is not null then the function was called by mouseover,
				// so pause the animation				
				if (d3.event) {
					triggerdByMouseOver = true;
					svg.interrupt('step');
					svg.interrupt('resume_step');
					numberOfMouseOvers ++;
					duration = 200; //200
					//console.log('Mouse over triggered.', `Transition from ${div.property('last_region_name')} to ${d.regionName} (Regional Endemics: ${d.re})`); 
				} else {
					//console.log('Auto step triggered.', `Transition from ${div.property('last_region_name')} to ${d.regionName}, (Regional Endemics: ${d.re})`); 
				}
				
				// remove highlight on all other selctions
				var regions = d3.selectAll('g.region');
				regions.classed("active", false);
				
				
				//generate the tool tip text
				var toolTipText = `
				<p class="eir-number big-number">${div.property("_last_eir_stat")}</p>
				<p class="taxa-represented">{{ "Chilean endemics in region. Of these"|t}}</p>
				<p class="re-number big-number">${div.property("_last_re_stat")}</p>
				<p class="taxa-represented">{{ "are found only in ${d.regionName}"|t }}</p>
				`
				//highlight the current region
				d3.select(this).classed("active", true);
				
				//get centre of current region (without the labels)
				//if using a svg based tooltip we use  bb = this.getBBox() which gets the coordinates in svg space
				//however we are using html tool tip, so get the combined bounding box in dom space:
				//more details: https://www.sitepoint.com/how-to-translate-from-dom-to-svg-coordinates-and-back-again/
				var regionSansLabels = d3.select(this).selectAll('path');
							
				// var combined_bb =  { x:Infinity, y:Infinity, width: 0, height: 0, cx: Infinity, cy: Infinity} //not used as svg only
				var combined_bcr =  { bottom: Infinity, height: -Infinity, left: Infinity, right: Infinity, top: Infinity, width: -Infinity, x: Infinity, y: Infinity, cx: Infinity, cy: Infinity}
				// var bb = {};
				var bcr = {};
				
				regionSansLabels.each(function(d,i) {
					// bb = this.getBBox();
					// 
					// combined_bb.x = Math.min(combined_bb.x,bb.x);
					// combined_bb.y = Math.min(combined_bb.y,bb.y);
					// combined_bb.width = Math.max(combined_bb.width,bb.width);
					// combined_bb.height = Math.max(combined_bb.height,bb.height);
					
					bcr = this.getBoundingClientRect();
					combined_bcr.x = Math.min(combined_bcr.x, (bcr.x + window.scrollX));
					combined_bcr.y = Math.min(combined_bcr.y,(bcr.y + window.scrollY));
					combined_bcr.top = Math.min(combined_bcr.top,(bcr.top + window.scrollY));
					combined_bcr.bottom = Math.min(combined_bcr.bottom,(bcr.bottom + window.bottom));
					combined_bcr.left = Math.min(combined_bcr.left,(bcr.left + window.left));
					combined_bcr.right = Math.min(combined_bcr.right,(bcr.right + window.left));
					combined_bcr.width = Math.max(combined_bcr.width,bcr.width);
					combined_bcr.height = Math.max(combined_bcr.height,bcr.height);
					
				})
				combined_bcr.cx = combined_bcr.x + (combined_bcr.width /2);
				combined_bcr.cy = combined_bcr.y + (combined_bcr.height /2);
				
				
				//useful for testing, puts a rect around current region
				//console.log('bcr:', bcr);
				// var body = d3.select('body')
				// var rect = body.append("div")
				// 	.style("left",  `${combined_bcr.x}px`)
				// 	.style("top",  `${combined_bcr.y}px`)
				// 	.style("position", "absolute")
				// 	.style("width", `${combined_bcr.width}px`)
				// 	.style("height", `${combined_bcr.height}px`)
				// 	.style("border", "1px solid red")
	
		
				// If using mouse to select region show new region text immediately
				if(triggerdByMouseOver) {
					div.html(toolTipText)
				}
				
				// Transition from old position to new position
				div.style("left",	`${div.property("_last_centroid").cx + tooltipLeftOffset}px`)
					.style("top", `${div.property("_last_centroid").cy  + tooltipTopOffset}px`)
					.transition()
					.duration(duration)
					.ease(d3.easeCubicInOut)
					.style("opacity", 0.9)
					.style("left",`${combined_bcr.cx + tooltipLeftOffset}px`)
					.style("top",`${combined_bcr.cy + tooltipTopOffset}px`)
					.on('end', () =>{
						 div.property('last_region_name', d.regionName );	
						 // if (!triggerdByMouseOver) div.html(toolTipText)
					 });   
					
					div.html(toolTipText);
					
					// Set properties for tweening
					div.property('_last_centroid', {cx:combined_bcr.cx, cy:combined_bcr.cy});				
					div.property('_last_dimensions', div.node().getBoundingClientRect());
				
				
				// Tween the Endemics in Region number
				var eirText = div.select('.eir-number');		
				eirText
					.transition()
					.duration(duration+500)
					.ease(d3.easeCubicInOut)
					.tween("text", function() {
						 var i = d3.interpolateRound(div.property('_last_eir_stat'), +d.eir);
						 var node = this;
						 return function(t) {
								node.innerHTML = i(t);
							 };
					 })
					 .on('interrupt', () => { div.property('_last_eir_stat', +statText.text() )}	)
					 .on('end', () =>{
						 //console.log('_last_eir_stat set to:', +d.eir )
						 div.property('_last_eir_stat', +d.eir );	
						 // if (!triggerdByMouseOver) div.html(toolTipText)
					 });   	
				
				// Tween the regional endemics number
				var reText = div.select('.re-number');	
				//console.log(`about to tween re number from ${div.property('_last_re_stat')}  to ${+d.re}`);	
				reText
					.transition()
					.duration((duration+500)*1.5)
					.ease(d3.easeCubicInOut)
					.tween("text", function() {
						 var i = d3.interpolateRound(div.property('_last_re_stat'), +d.re);
						 var node = this;
						 return function(t) {
								node.innerHTML = i(t);
							 };
					 })
					 .on('interrupt', () => { div.property('_last_re_stat', +statText.text() )}	)
					 .on('end', () =>{
						 div.property('_last_re_stat', +d.re );	
						 //console.log('_last_re_stat set to:', +d.re )
						 // if (!triggerdByMouseOver) div.html(toolTipText)
					 });   
			}
			
			function hideToolTip(d, i) {
				d3.select(this).classed("active", false);
				div.transition()
					.duration(500)
					.style("opacity", 0);
					
				//resume auto-animation after 4 sec of no activity
				if (numberOfMouseOvers < 10){
					svg.interrupt('resume_step');
					svg.transition("resume_step")
					.delay(4000)
					.transition()
					.duration(1)
					.on("end", function() {
						 step();
					});
				}	
			}
			
		function goToRegion(d,i) {
			var newPath =   window.location.origin + window.location.pathname + 'regions/' + d.regionId.toLowerCase() +  window.location.search
			window.location = newPath;
		}
			
			function step() {
				//console.log('Step!');
				if (numberOfMouseOvers < stopAnimationAfterHowManyMouseOvers) {
					if (++i > shuffledRegions.length - 1) i = 0;
					var region = shuffledRegions[i];
					regions.classed("active", false);
					//console.log('Step', `Transition from ${div.property('last_region_name')} to ${region.regionName}`);
					d3.select(`#${region.regionId.toLowerCase()}`)
						.each(showToolTip); //call show tooltip on current region. 'Each' used as it makes d,i and 'this' available to callback
					
					//the animation timer, set on svg so can be cancelled thus, svg.interrupt('step');
					svg.transition("step")
						.delay(3500)
						.transition()
						.duration(1)
						.on("end", function() {
							if (numberOfMouseOvers < 10) step();
						});
				}
			}
				
		}
	</script>
{% endblock %}