{% extends "_layout" %}
{% set subtitle = entry.title %}
{% set imageCount = entry.images|length %}
{% set bodyClass = (imageCount > 0) ? "taxa-detail has-images" : "taxa-detail no-images with-header" %}
{% block content %}
	{# Get the prev/next elements #}
	{# Set parameters for prev/next elements list #}
	{% set genus = entry.genus.one() %}
	{% set family = genus.parentTaxonomicGroup.one()|default(null) %}
	{% set siblingGenera = craft.entries().section('taxonomicGroups').relatedTo(family) %}
	{% set rand = random(0,1)  %}
	
	{% set params = craft.entries()
		.section('taxa')
		.order('title')
		.isASynonym(0)
		.relatedTo(siblingGenera)
	%}
	
	{% set prevEntry = entry.getPrev(params) %}
	{% set nextEntry = entry.getNext(params) %}
	
	{% if entry.images|length %}
		{% set images = entry.images.all() %}
		{% include '_includes/_image_gallery_inline_styles' %}
		{% include '_includes/_image_gallery' %}
	{% endif %}
	<div class="article-header">
		<div class="taxonomic-links">	
			<ol class="classified-in">
				<li>{{ "Classified in"|t }} > </li>
				<li>
					<a href="{{ genus.url }}" class="genus">
					 {{ "genus"|t }}: {{ genus.title }} </a> >
				</li>
				{% if family %}
					<li>
						<a href=" {{ family.url }}" class="tribe">
							{{ "Family"|t }}: {{ family.title }}
						</a>
					</li>
				{% endif %}
			</ol>
			<div class="prev-next-links">
				{# And make sure to only output the links if the element exists #}
				{% if prevEntry %}<a href="{{ prevEntry.url }}">{{ 'Previous in genus'|t }}</a>&nbsp;|&nbsp;{% endif %}
				{% if nextEntry %}<a href="{{ nextEntry.url }}">{{ 'Next in genus'|t }}</a>{% endif %}
				{% if entry.isEditable() %} | <a href="{{ entry.cpEditUrl }}">{{ 'Edit entry'|t }}</a>{% endif %}
			</div>
		</div>
		{% if family %}
			<a class="family" href="{{ family.url }}" class="tribe">
				{{ family.title }}
			</a>
		{% endif %}
		{% set name %}
		<i class="taxonomy">{{ genus.title }} {{ entry.species }}</i>
		<span class="author">{{ entry.authorCitation }}</span>
		{% if entry.infraspecificStatus|length %}<span class="infra-status">{{ entry.infraspecificStatus }}</span>
		<i class="taxonomy">{{ entry.infraspecificEpithet }}</i>
		<span class="author"> {{ entry.infraspecificAuthor }}</span>{% endif %}
	{% endset %}
		<h2 class="taxa-name">{{ name }}</h2>
		{% if entry.isASynonym %}
		<div class="is_a_syn">
			<p>{{ name }} {{ "is a synonym of:"|t }}<br />
			{% set acceptedTaxa = craft.entries.section('taxa').relatedTo(entry).all() %}
				{% for synonym in acceptedTaxa %}
					<a href="{{ synonym.url }}">
						<i class="taxonomy">{{ synonym.genus.one() ? synonym.genus.one().title : "Genus not set" }} {{ synonym.species }}</i>
						{{ synonym.authorCitation }}
						{% if synonym.infraspecificStatus|length %}<span class="infra-status">{{ synonym.infraspecificStatus }}&nbsp;</span>
						 <i class="taxonomy">{{ synonym.infraspecificEpithet }}&nbsp;</i>
						<span class="author"> {{ synonym.infraspecificAuthor }}</span>{% endif %}<b class="iicon-chevron-sign-right"></b>
					</a>
				{% endfor %}
			</p>
		</div>
	{% endif %} {# end if images #}
	</div> <!--article-header-->
	<div class="article-content">
		<nav class="tabs info-tabs">
			<ul>
				<li><a href="#taxonomy">{{ 'Taxonomy'|t }}</a></li><!--
				--><li><a href="#biogeography">{{ 'Biogeography'|t }}</a></li><!--
				--><li><a href="#descriptions">{{ 'Descriptions'|t }}</a></li>
			</ul>
		</nav> 
		<div class="main" >
			<article id="taxonomy" class="tabbed">
				{# ******* Place of Publication ******* #}
				{% if entry.protolog|length and entry.protolog.one().protologReference|length %}
					<h3>{{ "Place of Publication"|t }}</h3>
					<p>
					{% for proto in entry.protolog.all() %}
						{% if proto.protologReference|length %}
							{{ proto.protologReference.one().abbreviatedName }}: {{ proto.pageOrFigureReference }} ({{ proto.protologReference.one().publicationYear }})
						{% endif %}
					{% endfor %}
					</p>
				{% endif %}
				{# ******* Type citation ******* #}
				{% if entry.typeInformation %}
					<h3>{{ "Type citation"|t }}</h3>
					{{ entry.typeInformation }}
				{% endif %}
				{# ******* Synonyms ******* #}
				{% set synonyms = entry.synonyms.all() %}
				{% set maxSyns = 10 %}
				{% if synonyms|length %}
					 <h3>{{ "Synonyms"|t }}</h3>
					 <ul {% if  synonyms|length > maxSyns %}id="syn-list" {% endif %}>
					 {% for synonym in synonyms %}
						<li>
							<a href="{{ synonym.url }}">
								<i class="taxonomy">{{ synonym.genus.one() ? synonym.genus.one().title : "[Genus not set]" }} {{ synonym.species }}</i> {{ synonym.authorCitation }} {% if synonym.infraspecificStatus|length %}<span class="infra-status">{{ synonym.infraspecificStatus }}&nbsp;</span>{% endif %}
								<i class="taxonomy">{{ synonym.infraspecificEpithet }}</i>
							</a>
						</li>
					{% endfor %}
					</ul>
					{% if synonyms|length > maxSyns %}
						<a href="javascript:;" id="syn-list-viewall"> {{ "View more synonyms … "|t }} </a>
					{% endif %}
				{% endif %}
				{# ******* Common names ******* #}
				{% if entry.commonNames|length %}
					<h3>{{ "Common names"|t }}</h3>
					<ul id="syn-list">
						{% for commonName in entry.commonNames.all() %}
							<li>
								{{ commonName.commonName}}
								{% if commonName.commonNameReferences|length %}
									{% for item in commonName.commonNameReferences.all() %}
										({{ item.title }})
									{% endfor %}
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{# ******* References ******* #}
				{% if entry.references|length %}
				<h3>{{ "References"|t }}</h3>
				<ul>
					{% for reference in entry.references.all() %}
						<li>
							<h4 class="reference-title">{{ reference.title }}</h4>
							<p>
								{% for author in reference.authors %}
									{{ author.surname }}, {{ author.initials }}
									{{ loop.index < loop.length-1 ? ', ' : loop.index < loop.length ? "and"|t }}
								{% endfor %}
								{{ reference.publicationYear }}. {{ reference.fullReference|striptags('<i><em><b><strong>')|raw }}
							</p>
						</li>
						{# {% if reference.referenceUrl %}
							<br />
							<a	class="ref-url" href="{{ entry.referenceUrl }}">{{ "External link"|t }}</a>
						{% endif %}
						#}
					{% endfor %}
				</ul>
				{# ******* Iconography ******* #}
				{% if entry.iconography|length %}
				<h3>{{ "Iconography"|t }}</h3>
					<ul>
					{% for item in entry.iconography.all()  %}
						<li>{{ item.iconographyReference.one().title }}: {{ item.IconographyFigureReference }}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endif %}
			</article><!-- taxonomy -->
			<article id="biogeography" class="tabbed">
				{# ******* Regions ******* #}
				{% if entry.regions|length %}
				<h3>{{ "Regions"|t }}</h3>
					<p>
						{% for region in entry.regions.all() %}
							<a href="{{ region.url }}">{{ region.title }}</a>{{ loop.index < loop.length-1 ? ', ' : loop.index < loop.length ? " " ~ "and"|t }}
						{% endfor %}
					</p>
				{% endif %}
				{# ******* Habitat ******* #}
				{% if entry.habitats|length %}
				<h3>{{ "Habitat"|t }}</h3>
					<p>
						{% for habitat in entry.habitats.all() %}
							<a href="{{ habitat.url }}">{{ habitat.title }}</a>{{ loop.index < loop.length-1 ? ', ' : loop.index < loop.length ? " " ~ "and"|t }}
						{% endfor %}
					</p>
				{% endif %}
				{# ******* Distribution and habitat ******* #}
				{% if entry.distributionAndHabitat %}
					<h3>{{ "Distribution and habitat"|t }}</h3>
					{{ entry.distributionAndHabitat }}
				{% endif %}
				{# ******* Typical Locations ******* #}	
				{% if (entry.typicalLocations|length and entry.typicalLocations[0].latitude) or (entry.distributionMapPoints|length and entry.distributionMapPoints[0].latitude)%}
					<h3>{{ "Distribution"|t }}</h3>
						{% if entry.typicalLocations|length and entry.typicalLocations[0].latitude %}
							<h4>{{ "Classic Locations"|t }}</h4>
						<ul class ="map_1_list">
							{% for location in entry.typicalLocations %}
								{% if location.latitude is defined %}
									<li class="dist-point" data-lat="{{ location.latitude }}" data-lng="{{ location.longitude }}" data-cat="blue">
										<a href="#" class="maplink">{{ location.location }} <b class="icon-location"></b>
											 <div class="infobox">
												<div class="m_tooltip">{{ location.location }}</div>
											</div>
										</a>
									<li>
								{% endif %}
							{% endfor %}
						 </ul>
						 {% endif %}
						{% if entry.distributionMapPoints|length and entry.distributionMapPoints[0].latitude %}
							{% for location in entry.distributionMapPoints %}
							<ul class ="map_1_list">
								<li class="dist-point" data-lat="{{ location.latitude }}" data-lng="{{ location.longitude }}" data-cat="red">
									 <div class="infobox">
										<div class="m_tooltip">{{ entry.title }}</div>
									</div>
								<li>
							{% endfor %}
							{% endif %}
							</ul>
						<a href="#" id="reset-map"><b class="icon-location"></b> {{ "Show all locations"|t }}</a>
					<div id="map" class="mapbox">Here is #map_1</div>
				{% endif %}
			</article><!-- biogeography -->
			<article id="descriptions" class="tabbed">
				{# ******* Conservation status ******* #}	
				{% if entry.conservationStatus|length %}
					<h3>{{ "Conservation status"|t }}</h3>
					 <ul id="syn-list">
					 {% for item in entry.conservationStatus.all() %}
						<li>
							{{ item.conservationStatus}}
							{% if item.conservationStatusReferences|length %}
								{% for item in item.conservationStatusReferences.all() %}
									({{ item.title }})
								{% endfor %}
							{% endif %}
						</li>
					 {% endfor %}
					 </ul>
				{% endif %}
				{# ******* Conservation status ******* #}
				{% if entry.descriptions|length %}
					<h3>{{ "Descriptions"|t }}</h3>
					<ul>
					{% for item in entry.descriptions.all()  %}
						<li>{{ item.title }}</li>
					{% endfor %}
					</ul>
				{% endif %}
				{# ******* Habit ******* #}
				{% if entry.habit %}
					<h3>{{ "Habit"|t }}</h3>
					{{ entry.habit }}
				{% endif %}
				{# ******* Key characteristics ******* #}
				{% if entry.keyCharacteristics %}
					<h3>{{ "Key characteristics"|t }}</h3>
					{{  entry.keyCharacteristics }}
				{% endif %}
				{# ******* Notes ******* #}
				{% if entry.notes or entry.collections|length %}
					<h3>{{ "Notes"|t }}</h3>
					{% if entry.notes %}
						{{ entry.notes }}
					{% endif %}
					{% if entry.collections|length %}
						{% for collection in entry.collections.all() %}
							{{ collection.collectionDescriptionSentence }}
						{% endfor %}
					{% endif %}
				{% endif %}
			</article><!-- descriptions -->
		</div><!-- main-->
   </div> <!--article-content-->
{% endblock %}

