{#
# Species list template
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Index of Species" %}
{% set bodyClass = "" %}


{% block content %}
<div class="main-content">
	<h2>Entries that may need attention</h2>
	
	<h3>Marked as accepted, but possible synomnys</h3>
	
	{% set queryParams = {
	section: 'taxa',
	limit: null,
	orderBy: 'title',
	isASynonym: '0',
	limit: 20		
	
} %}
	{# {% set total = craft.entries(queryParams).total() %}  #}

	{% paginate  craft.entries(queryParams) as section, entries %}
	
	{# <p> {{ total }} entries where found</p> #}
	
	


	
	{% for item in entries %}
	
	{% if craft.entries.section('taxa').relatedTo(item)|length %}
	<li><a href="{{ item.url }}">{{ item.title }}</a> {% if item.isEditable() %}
	<a href="{{ item.cpEditUrl }}">Edit entry</a>
{% endif %}</li>
	{% endif %}
	{% endfor %}
	
	
	{% if section.prevUrl %}<a href="{{ section.prevUrl }}">Previous Page</a>{% endif %}
		{% if section.nextUrl %}<a href="{{ section.nextUrl }}">Next Page</a>{% endif %}	
	{#  
	{% for entry in entries %}
					<a href="{{ entry.url }}"><li>{{ entry.title }}</li></a>
	{% endfor %}
	#}


</div> <!--end of main-content-->
{% endblock %}


