<!DOCTYPE html>
 <html class="no-js" lang="{{  craft.app.language|split('-')[0] }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="robots" content="noindex">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="styles.css">
		<link rel="icon" href="/images/interface/favicon.png" type="image/png" />
		<script type="text/javascript" src="//use.typekit.net/aux0csc.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script> var site_url = "{{ siteUrl }}"; var lang = "{{  craft.app.language|split('-')[0] }}"; var translations= {}; </script> 	

	</head>
	<body class="{{ bodyClass }}">
		<header>
			<div class="top-nav">
				<div class="top-nav-inner">	
					<nav>
						<ul>
							<li class="{{ helpers.is_active('') }}"> <a href="/">Home</a></li>
						</ul>
					</nav>
				</div> <!--top-nav-inner-->
			</div> <!--top-nav-->
			<div class="masthead">
				<div class="masthead-inner">
					<div class="headline">
						<h1 class="responsive_headline">The Endemic Plants of Chile – interactive story of Chile’s biogeography</h1>
						<img class="rbge-logo" src="/images/interface/rbge_logo_rev.svg" alt="RBGE logo" />
					</div>
				</div> <!-- masthead-inner -->	
			</div>
		</header>
		<article id="scroll-container">
	
			  <div id='sections'>
			  	<h3 class="title">Exploring Chile’s Plant Endemism</h3>
			  	<p class="intro">This page gives an interactive illustration which explores why Chile has a high level of Endemic Plant species. Just scroll slowly down the page – each step will reveal itself. 
			  	</p>
			  	<div class="scroll-inner geographic">
					<div class='visualisation'>
						<div id="dataVizMap" class="map-vis"></div>
						<p id="status"></p>
					</div>
					<div class="steps">
						<h4>A Biogeographic island</h4>
					 <section class="step" id="step1"  data-location="[-59.09662, -15.9968628]", data-zoom="600" data-label="South America" data-highlighted="">		
						<p> Chile is sometimes described as a biogeographic island. What does that mean? <br>Keep scolling to find out …<br> ↓ </p>
					 </section>
					 <section class="step" id="step2"  data-location="[-59.09662, -15.9968628]", data-zoom="680" data-label="South America" data-highlighted="Chile">		
					 	 <p>To understand, it helps to look at Chile’s geography in the context of South America.
					 	 	</p>	</section>
					 
					 <section class="step" id="step3" data-location="[-75.9280902, -23.4250285]" data-zoom="800"  data-label="Pacific Ocean" data-highlighted="Chile">
					 	 <p>We can see that is confined to the west by the Pacific Ocean …</p>
					  </section>
					 <section class="step" id="step4" data-location="[-69.1503587, -23.8634175]"  data-zoom="2000" data-label="Atacama Desert" data-highlighted="null">
						<p>… in north by the Atacama Desert …</p>
					 </section>
					 <section class="step" id="step5" data-location="[-75.70960810627223, 7.547123628593198]"  data-zoom="1200"  data-label="Andes" data-highlighted="null">
					 <p>	… to the east by the mighty Andes mountain range. </p>
					 </section>
					 <section class="step" id="step6" data-location="[-78.936554, -33.6613702]"  data-zoom="6000" data-label="Juan Fernández" data-highlighted="null">
					 	<p>Furthermore, Chile’s territory includes some remote oceanic locations which include the Juan Fernández Archipelego (shown here), the Desventurados Islands and Easter Island.</p>
					 </section> <!-- 
					{#  <section class="step " id="step7"  data-location="[-70.7702554, -33.4724224]", data-zoom="800"  data-label="Santiago" data-highlighted="Chile">			
						 Test zoom to Santiago
					 </section>
					 <section class="step " id="step8"  data-location="[-43.7268438, -22.9132514]", data-zoom="1400"  data-label="Rio de Janeiro" data-highlighted="Brazil">			
					 	Zoom to Rio, Brazil -22.9132514,-43.7268438
					  </section>
					  <section class="step" id="step9"  data-location="[-60.6515577, -51.7206049]", data-zoom="2000" data-label="Falklands" data-highlighted="Falkland Is.">			
					  	Zoom to Falklands -51.7206049,-60.6515577		
					   </section>#} -->
					   <section class="step" id="step10"  data-location="[-59.09662, -15.9968628]", data-zoom="600" data-label="" data-highlighted="Chile">			
					 <p>  This unique geography means that Chile's biology has evolved in comparative isolation. Botanists term this a ‘biogeographic island’. How has this impacted the number of plant species?</p>
					    </section>
					    <section class="step" id="step11"  data-location="[-59.09662, -15.9968628]", data-zoom="800" data-label="South America" data-highlighted="Brazil">			
					   <p>Let's compare the Chile's plant endemics with some other countries … </p>				     </section>
					   <section class="step" id="step12"  data-location="[-53.6875534, -6.443137]", data-zoom="1000" data-label="" data-highlighted="Brazil">
					   <p>Brazil, with huge landmass and its rich rainforest and dryforest habitats has the the most species and endemics</p></section>
					   <section class="step" id="step13" data-location="[-70.7702554, -33.4724224]", data-zoom="1200" data-label="" data-highlighted="Chile">
					  <p> And how does that compare with Chile?</p>
					   </section>
					   <section class="step" id="step14" data-location="[-59.09662, -15.9968628]", data-zoom="850" data-label="">
					   <p>And the rest of South America?</p>
					   </section>
				   	</div> <!-- steps -->
					</div> <!-- scroll-inner -->	
					<div class="scroll-inner charts">
						<div class='visualisation'>
							<div id="dataVizBarChart" class="chart-vis"></div>
						</div>
						<div class="steps">
							<h4>High levels of endemism</h4>
							<section class="step" id="step15">
							<p>Its easier to compare these figures with a bar chart</p>
							</section>
							<section class="step" id="step16">
							<p>Here are the figures for total taxa per country</p>
							</section>
							<section class="step" id="step17">
							<p>Sorting them shows Brazil has the most species, and Chile is quite far down in the pecking order</p>
							</section>
							<section class="step" id="step18">
							<p>Now let’s look at number of endemics</p>
							</section>
							<section class="step" id="step19">
							<p>And again, sorting them by number</p>
							</section>
							<section class="step" id="step20">
							<p>Now let’s look at the percentage of endemic plants</p>
							</section>
							<section class="step" id="step21">
							<p>This changes things quite dramatically</p>
							</section>
							<section class="step" id="step22">
							<p>The conclusion is that Chile has a very high level of endemic flora, and this should shape conservation efforts. Over to you … here are some buttons for you to play with the data</p>
							</section>
							<section class="step" id="step23">
							<p>Thanks for taking the time to explore the endemics of Chile, that's all folks!</p>
							</section>							
						</div> <!-- steps -->
					</div> <!-- scroll-inner -->			
			  </div>	  
			</div>
		</article> <!--container-->
	
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://d3js.org/topojson.v2.min.js"></script>
		<script src="noframework.waypoints.js"></script>
		<script>
//these variables need to be in the global scope as they are used in both setting up the map, and in updating it from the animation triggers. (I think anyway, they don't seem to work if I put them in the promise that is returned from loading the GeoJson files).

var geojson;
var landGeojson;
var andesLine;
var w = 860;
var h = 860;
var m = 20; //margin
var sphere = ({
	type: "Sphere"
})
var projection = d3.geoOrthographic()
	.scale(700)
	.rotate([63, 27])
	.translate([w / 2, h / 2])
	.clipAngle(90)
	.fitExtent([
		[10, 10],
		[w - 10, h - 10]
	], sphere)
	//.clipExtent([[0, 0],[w, h]]);
var path = d3.geoPath()
	.projection(projection);
var graticule = d3.geoGraticule();
var currentRotate = projection.rotate();
var currentScale = projection.scale();
var nextRotate, nextScale;
var transitionTimer = 1000;

// load the data using d3 v5 promises
var topoDataPromise = d3.json("south_america.topojson");
var countriesDataPromise = d3.csv("country_stats.csv")

Promise.all([topoDataPromise, countriesDataPromise]).then(function(values){
	 var topoData = values[0];
	 countriesData = values[1];
	 countriesData = parseCountriesData(countriesData)
	
	geojson = topojson.feature(topoData,topoData.objects.ne_50m_admin_0_countries);	
	andesLine = topojson.feature(topoData,topoData.objects.andesline);
	
	setStepTriggers(); 
	const map = createMap();
});

function setStepTriggers() {
	// Using the waypoints library to set up step triggers
	var statusPara = document.getElementById('status');
	var steps = document.getElementsByClassName('step');

	for (var i = 0; i < steps.length; i++) {
		var offset = (i == 0 ? '15%' : '15%'); //first point may need to trigger earlier on page
		new Waypoint({ //http://imakewebthings.com/waypoints/guides/getting-started/
			element: steps[i],
			handler: function(direction) {
				animateStep(this, direction);
			},
			group: 'steps',
			offset: offset
		})
	}
}

// On step trigger 
function animateStep(item, direction) {
	var previousWaypoint = item.previous();
	var currentWaypoint = item;
	var nextWaypoint = item.previous();
	var target;
	if (direction == 'down') {
		target = currentWaypoint
		currentWaypoint.element.classList.add("active");
	} else {
		target = previousWaypoint
		currentWaypoint.element.classList.remove("active");
	}
	if (target) {
		//Parse data from data-attribute on Step html sections
		const locationJson = target.element.dataset.location;
		var location
		try {
			 location = JSON.parse(locationJson);
		} catch(e) {
			 location = null;
		}
		const zoom = target.element.dataset.zoom;
		
		const label = target.element.dataset.label
		const highlighted = target.element.dataset.highlighted;
		var stepId = target.element.id;

		//Call the relevant updates
		removeExistingPOI();
		hideSpeciesStats();
		hideAndes();

		if (location) {
		moveMapToNext(location, zoom)
			.then(function() { //Only fire the below when the main globe animation has finished
				//console.log('label', label)
				//Common to all steps
				if (label){
					addNewPIO(location, label);
				}
				highlightCountries(highlighted);

				//Specific to some steps
				// TODO check if a flag in the data means should execute


				//Specific to this step
				// Check step id, and fire any specific updates
				triggerStepSpecificActions()

			});
		} else { //not a location based step
			triggerStepSpecificActions()
		}	
	}

	function triggerStepSpecificActions() {
		switch (stepId) {
			case "step1":
				//console.log('trigger specific step1 animations here')
				break;
				
			case "step5":
					animateAndes()
					break;	
			case "step12":
				showSpeciesStats(['BRA']);
				break;
			case "step13":
					showSpeciesStats(['CHL']);
			break;
			case "step14":
					showSpeciesStats(['ARG', 'COL', 'PER', 'BOL','BRA', 'VEN','CHL', 'URY', 'ECU' ]);
					renderChart('', '', 'countryName');
			break;
			case "step15":
					//console.log('Trigger Barchart first draw');
					renderChart('totalVascularPlants', 'countryName');
			break;

			case "step16":
					//console.log('Trigger Barchart update 1');
					renderChart('totalVascularPlants', 'countryName');
			break;
			case "step17":
					//console.log('Trigger Barchart update 2');
					renderChart('totalVascularPlants', 'value');
			break;
			case "step18":
					//console.log('Trigger Barchart update 2');
					renderChart('totalEndemicPlants', 'countryName');
			break;
			case "step19":
					//console.log('Trigger Barchart update 2');
					renderChart('totalEndemicPlants', 'value');
			break;
			case "step20":
					//console.log('Trigger Barchart update 2');
					renderChart('percentage', 'countryName');
			break;
			case "step21":
					//console.log('Trigger Barchart update 2');
					renderChart('percentage', 'value');
			break;
			case "step22":
					//console.log('Trigger Barchart update 2');
					renderChart('totalVascularPlants', 'value');
					showButtons()
			break;
			case "step23":
					//console.log('Trigger Barchart update 2');
					renderChart('areaKmSq', 'value');
			break;
		case "step24":
					//console.log('Trigger Barchart update 2');
					renderChart('taxaPer100000KmSq', 'countryName');
			break;
			case "step25":
					//console.log('Trigger Barchart update 2');
					renderChart('endemicsPer100000KmSq', 'countryName');
			break;
			
		  default:
			 //console.log('No animations needed ');
		}
	}
}

function createMap() {
	//base SVG
	var svg = d3.select('#dataVizMap')
		.append("svg")
		.attr("preserveAspectRatio", "xMinYMin meet")
		.attr("viewBox", "0 0 " + w + " " + h)
		.attr("width", w)
		.attr("height", h)
		.style("transform-origin", "50% 50% 0")
		.classed("svg-vis-content", true);
	var g = svg.append("g");

	//Globe edge
	let waterGroup = g.append("g")
		.attr('id', 'water-group')
	waterGroup.append('path')	
		.datum({
			type: "Sphere"
		})
		 .attr("class", "water")
		 .attr('id', 'sphere')
		.attr("d", path);
		
	
	//Countries	
	g.append('g')
		.attr('id', 'countries')
		.selectAll('path')
		.data(geojson.features)
		.join('path')
		.attr('d', path)
		.attr('class', function(d) {
			return d.properties.ADM0_A3  + " " + (d.properties.CONTINENT).replace(" ", "-").toLowerCase();
		})
		
	// Andes line
	
	 const points = andesLine.features[0].geometry.coordinates;
	 const lonInterpolator = d3.interpolateBasis(points.map(d => d[0]));
	 const latInterpolator = d3.interpolateBasis(points.map(d => d[1]));
	 const n = 80 // is the number of upsampling points
	 
	 console.log('andesfirst Point', points[0] )
	 
	 const smoothedAndesLine = {
	   type: "LineString",
	   coordinates: d3.zip(d3.quantize(lonInterpolator, n), d3.quantize(latInterpolator, n))
	 }
	 console.log(smoothedAndesLine) 
		var andesGroup = g.append('g')
		.attr('id', 'andes-group')
		.raise();
		
		andesGroup.append('path')
		.datum(smoothedAndesLine)
		.attr("d", path)
		.attr('class', 'andes-line')
		.style('opacity', 0);
	
		//Group for country label and species stats
	var labels = g.append('g')
		.attr('id', 'labels')
			
	// all countries "VEN","URY","FLK","TTO","SUR","PER","PRY","PAN","NIC","MEX","HND","GUY","GTM","SLV","ECU","CRI","COL","BRA","BOL","BLZ","ARG","FRA","CHL"		
	const labelsRequiredFor = ["VEN","URY","PER","PRY","ECU","COL","BRA","BOL","ARG","CHL"] 
	
	labelsRequiredFor.forEach(function(d,i){
		let rows = geojson.features.filter(
			obj => {
				return obj.properties.ADM0_A3 === d 
			});		
		addLabels(rows);		
	});
	
	function addLabels(data) {
	 	//console.log(data[0].properties.ADM0_A3)
		const labelGroup = labels
			.append('g')
			.datum(data[0])
			.attr('id', function(d) {
				return d.properties.ADM0_A3 + "-label-group";
			})
			.attr('class', function(d) {
				return d.properties.ADM0_A3;
			})
			.attr('transform', function(d) {
				//console.log(d.properties.ADM0_A3)
				return 'translate(' + path.centroid(d) + ")";
			})
			.attr('class', 'labels-group')
			.attr('text-anchor', 'middle');
						
			//country name
			labelGroup
				.append('text')
					.attr('class', 'country-label')
					.text(function(d) {
						return d.properties.NAME;
					});	
		
			const circle = labelGroup
				.append('circle')
				.attr('r', 100)
				.attr('fill', 'rgba(128, 19, 24, 0.742)')
				.attr('class', 'background-circle')
				.lower()
				.style('opacity', 0)//hide for now
				
		//stats
			const statsGroup = labelGroup
				 .append('g')
					 .attr('class', 'stats')
					 .attr('transform', 'translate(0,-40)')
			
			//total species label
			 statsGroup
				.append('text')
				.attr('class', 'species-label label')
				.style('opacity', 0)//hide for now
				.text('Total Species');			 
		
			//total species value	
			statsGroup
				.append('text')
				.attr('class', 'species-value value')
				.attr('transform', 'translate(0,35)')
				.property("_value",function(d) {
					// find the data for the current country in the stats.cvs
					var stats = getDataforCountry(d, countriesData);
					if (stats) return stats.totalVascularPlants;
				})
			
			//total endemics label
				statsGroup
					.append('text')
					.style('opacity', 0)//hide for now
					.attr('class', 'endemics-label label')
					.attr('transform', 'translate(0,70)')
					.text('Total Endemics');
			
			//total endemics value	
				statsGroup
					.append('text')
					.attr('class', 'endemics-value value')
					.attr('transform', 'translate(0,105)')
					.property("_value",function(d) {
						// find the data for the current country in the stats.cvs
						var stats = getDataforCountry(d, countriesData);
						if (stats) return stats.totalEndemicPlants;
					})		
			
			function getDataforCountry(d, countriesData) {
			// find the data for the current country in the stats.cvs
				var countriesData = countriesData.filter(function (el) {
				  return el.countrycode == d.properties.ADM0_A3
				})[0];
				if (countriesData) return countriesData;
			}
	}
	
	

	// base group for points of interest		
	g.append('g')
		.attr('id', 'points')
		
	// species	
		g.append('g')
			.attr('id', 'species')
	

	//graticules					
	g.append('g')
		.attr('id', 'graticules')
		.append('path')
		.attr('class', 'graticule')
		.datum(graticule())
		.attr('d', path);
	return svg
}

function moveMapToNext(location, scale) {
	return new Promise((resolve, reject) => {

		const nextRotate = ([-location[0], -location[1], 0]);		
		const fromHere = {rotate: projection.rotate(),  scale: projection.scale() }
		const toThere = {rotate: nextRotate,  scale: scale }

		updateGlobePosition(fromHere, toThere)
			.then(function() {
				resolve("animations finished")
			});	
	});
}

function updateGlobePosition(fromHere, toThere) {
	return new Promise((resolve, reject) => {
		const t = d3.transition()
			.duration(transitionTimer)
			.ease(d3.easePolyInOut)
			.tween("projectionTween", function(d) {
			const r = d3.interpolate(fromHere.rotate, toThere.rotate);
			const s = d3.interpolate(fromHere.scale, toThere.scale);
			return function(t) {
				projection
					.rotate(r(t))
					.scale(s(t))
				path.projection(projection);
				refresh()
			}
		})
		.on("end", resolve)
	});
}

function followGeoLine(line) {

	const points = line.features[0].geometry.coordinates;
	const lonInterpolator = d3.interpolateBasis(points.map(d => d[0]));
	const latInterpolator = d3.interpolateBasis(points.map(d => d[1]));

	d3.transition()
	.duration(6000)
	.tween('projectionTween', function() {
		return function(t) {
		 	const currentLocation = ([lonInterpolator(t), latInterpolator(t)]);
		 	const currentRotation = ([-lonInterpolator(t), -latInterpolator(t), 0])
		 	projection.rotate(currentRotation)
		 	path.projection(projection);
		 	refresh()
		 	return `translate(${projection(currentLocation)})`
		}
	})
}

function refresh(){
		//paths
		d3.selectAll('path')
			.attr("d", path);
		//labels
		d3.selectAll('g.labels-group')
			.attr("transform", d => `translate(${path.centroid(d)})`);
}			

function highlightCountries(country) { //TODO accept array of countries
	//console.log('highlight countries');
	// Update highlighted countries // d.properties.NAME == country
	d3.selectAll('g#countries path')
		.classed('highlight', function(d) {
			//console.log(country);
			return d.properties.NAME == country
		})
}

function removeExistingPOI() {
		//console.log('removeExistingPOI triggered');
	var pointsGroup = d3.select('g#points');
	pointsGroup.selectAll("circle, text")
		.transition()
		.style("opacity", 0)
		.remove();
}


function addNewPIO(location, label) {
	console.log('addNewPIO triggered');

	var pointsGroup = d3.select('g#points');
	var point = projection(location);
	var transitionDuration = 800

	pointsGroup
		.append("circle")
		.attr("r", 5)
		.attr("class", "points")
		.attr("transform", "translate(" + point + ")")
		.style("stroke", "orange")
		.style("stroke-width", 2)
		.style("opacity", 0)
		.transition()
		.duration(transitionDuration)
		.style("opacity", 1);

	pointsGroup
		.append('text')
		.attr("transform", "translate(" + [point[0], point[1] + 28] + ")")
		.attr("class", "poi-label")
		.text(label)
		.style("opacity", 0)
		.transition()
		.duration(transitionDuration)
		.style("opacity", 1);
}


function hideSpeciesStats() {
	//console.log('hideSpeciesStats');
	d3.selectAll('g.stats')
	.selectAll('*')
	.transition()
	.style('opacity', 0)
	
	d3.selectAll('.species-label, .endemics-label')
	.transition()
	.style('opacity', 0)
		
	d3.selectAll(`.country-label`)
	.transition()
	.attr('transform', 'translate(0,0)')
	.attr('style', '')
		
	d3.selectAll(`.background-circle`)
	.transition()
	.attr('r', 0)
	.style('opacity', 0)
	
	d3.selectAll(`.species-value, .endemics-value`)
	.transition()
	.text('')

}


function showSpeciesStats(countryCodes) { // array of countryCodes
	// if for countries that match, animate appreance
	// https://observablehq.com/@d3/transition-texttween
	console.log('showSpeciesStats triggered');
	
	
	let i=0
	const du = 300//delayunit
	countryCodes.forEach(countryCode => {
		//console.log(countryCode);
		
		const labelGroup = d3.select(`#${countryCode}-label-group`);
		
		
		
		labelGroup
			.raise()
			.transition()
		
		labelGroup.select(`.country-label`)
		.transition('setup')
		.delay(du*i)
		.duration(500)
		.attr('transform', 'translate(0,-70)')
		.style('fill', 'white')
		
		labelGroup.select(`.background-circle`)
		.transition('setup')
		.delay(du*i)
		.duration(500)
		.attr('r', 100)
		.style('opacity', 1)
		
		labelGroup.select(`.stats`)
		.transition()
		.duration(0)
		.style('opacity', 1)
		
		labelGroup.select(`.species-label`)
		.transition('species')
		.delay(500+(du*i))
		.duration(300)
		.style('opacity', 1)
		
		labelGroup.select(`.species-value`)
		.transition('species')
		.delay(500+(du*i))
		.duration(1500)
		  .textTween(function() {
		   	return d3.interpolateRound(0, this._value);
		  })
		
		labelGroup.select(`.endemics-label`)
		.transition('endemics')
		.delay(1500+(du*i))
		.duration(300)
		.style('opacity', 1)
		
		labelGroup.select(`.endemics-value`)
		.transition('endemics')
		.delay(1500+(du*i))
		.duration(1500)
		  .textTween(function() {
			 return d3.interpolateRound(0, this._value);
		  })

	i++	
	});
}

function animateAndes() {
	d3.select('path.andes-line')
	.transition()
	.style('opacity', 1)
	followGeoLine(andesLine)
}

function hideAndes() {
	d3.select('path.andes-line')
	.transition()
	.style('opacity', 0)
}	
	
// **************** Chart Stuff from here ****************

function parseCountriesData(countriesData) {
	 countriesData.forEach(d => {
	 	 //convert strings to numbertypes	
		 d.totalVascularPlants = +d.totalVascularPlants;
		 d.totalEndemicPlants = +d.totalEndemicPlants;
		 d.areaKmSq = +d.areaKmSq;
		 
		 //Add derived data like percentages	
		 d.percentage = (d.totalEndemicPlants / d.totalVascularPlants) * 100;
		 d.taxaPer100000KmSq = (d.totalVascularPlants / d.areaKmSq) * 100000;
		 d.endemicsPer100000KmSq = (d.totalEndemicPlants / d.areaKmSq) * 100000;
	 })
	 
	 return countriesData;
}

function showButtons() {
	d3.selectAll('#chart-controls')
	.transition()
	.style('opacity', 1)
}	

function renderChart(valueType, sortOn) {
	
	// X and Y value accessor functions
		const yValue = d => d.countryName;
		let xValue = d => 0;
		if (valueType) {
			xValue = d => d[valueType];
		}
			
	//pepare the data	
	let data = countriesData;
	let titles = [
		{value:'totalVascularPlants', title: 'Number of plant species by country'},
		{value:'totalEndemicPlants', title: 'Number of endemic plant species by country'},
		{value:'percentage', title: 'Percentage of endemic plant species by country'},
		{value:'areaKmSq', title: 'Area of each country, km sq'},
		{value:'taxaPer100000KmSq', title: 'Number of plant species per 100,000 km sq'},
		{value:'endemicsPer100000KmSq', title: 'Number of endemic plant species per 100,000 km sq'},
		{value:'', title: ''}
	]
	let titleData = [titles.find(d => d.value === valueType)];

	//sort the data
	if (sortOn) {
			if (sortOn == "countryName") {
				data = data.slice().sort((a, b) => d3.ascending(a.countryName, b.countryName))
			} else { // sort on Value
				data = data.slice().sort((a, b) => d3.descending(a[valueType], b[valueType]))
			}
	}	
		
	const barNames = data.map(yValue);
	
	//sizing
	var h = 700;
	const margin = {
	  top: 40,
	  left: 80,
	  right: 30,
	  bottom: 40
	}
	const inner = {
		width: w - (margin.left + margin.right),
		height: h - (margin.top + margin.bottom)
	}
	
	//Y scale and axis straight-forward
	let yScale = d3.scaleBand()
		.domain(barNames)
		.range([0,inner.height])
		.paddingInner(0.05)
		
	let yAxis = d3.axisLeft(yScale)
			.tickPadding(10)
			.tickSize(0)
	
	//X scale and axis needs adjusting according to value type:
	let max;
	
	if (valueType == 'percentage') {
		max = 60;
	} else if (valueType == 'areaKmSq')  {
		max = 9500000;
	} else if (valueType == 'endemicsPer100000KmSq'  )  {
			max = 6800;
	} else {
		max = 35000;
	}
	
	switch (valueType) {
	  case 'percentage':
		 max = 60;
		 break;
	
	  case 'areaKmSq':
		 max = 9500000;
		 break;
	
	  case 'endemicsPer100000KmSq':
	  case 'taxaPer100000KmSq':
		 max = 6800;
		 break;
	
	  case 'totalEndemicPlants':
	  case 'totalVascularPlants':
		 max = 35000;
		 break;
	}
	
	let xScale = d3.scaleLinear()
		.domain([0,max]).nice() //.domain([0, d3.max(data, xValue)]).nice()
		.range([0, inner.width])
		
	let xAxis = d3.axisBottom(xScale)
			.tickSize(-inner.height);

	//draw chart
	const container = d3.select('#dataVizBarChart')			
	
	const svg = container.selectAll('svg')
		.data([null])
		.enter() // prevents adding svg everytime chart is re-rendered
		.append("svg")
		.attr("preserveAspectRatio", "xMinYMin meet")
		.attr("viewBox", "0 0 " + w + " " + h)
		.attr("width", w)
		.attr("height", h)
		.style("transform-origin", "50% 50% 0")
		.attr('class', 'bar-chart');
				
	let barGroup = svg.selectAll('g')
	.data(data, d => d.countrycode)
	.join('g')
	.attr('transform', `translate(${margin.left},${margin.top})`)
	.attr('class', 'bar')
		
	barGroup.append('rect')
	.attr('class', 'bar')
	.attr('height', yScale.bandwidth())
	.attr('y', d => yScale(yValue(d)))
	.attr('width', 0)

	barGroup.append('text')
	.property("_current", d => xValue(d)) // store current figure as property for text tween
	.attr('class', 'value-text')
	.attr('y', d => yScale(yValue(d)) + (yScale.bandwidth()/2))
	.attr('dy', '0.32em')
	.attr('x', 10)
	
		
	var barsTransition = d3.transition()
		.delay(function(d, i) { console.log(i);
			return i * 1000; })
		.duration(600)
	
	//reselection to update data
	barGroup = d3.selectAll('g.bar')
	.data(data)

  	barGroup.selectAll('rect')
		.transition(barsTransition)
		.attr('width', d => xScale(xValue(d)))
		.attr('y', d => yScale(yValue(d)));
		
	barGroup.selectAll('text')
	.transition(barsTransition)
  .attr('y', d => yScale(yValue(d)) + (yScale.bandwidth()/2))

  
  let format;
  
	barGroup.selectAll('text.value-text')
		.transition(barsTransition)
		.attr('x', d => xScale(xValue(d)) + 10)
		.textTween(function(d) {
			const i = d3.interpolate(this._current, xValue(d));
			return function(t) {
				if(valueType == 'percentage') {
					format = d3.format(".2r")
					return format(this._current = i(t)) + "%"; 
				} else {
					format =  d3.format(",.2~r")
					return format(this._current = i(t)); 
				}
			}  	
		});
   

	var chartTitle = d3.select('svg.bar-chart').selectAll('text.title')
		.data(titleData)
		.join('text')
		.attr('transform', `translate(${margin.left + inner.width/2},${margin.top *.6})`)
		.attr('class', 'title')
		.style("opacity", 0)
		.transition()
		.duration(1000)
		.style("opacity", 1)
		.text(d => d.title)
		
	
	const xAxisGroup =  svg.append("g")
			.raise()
			.call(xAxis)
			.attr("class", 'x-axis')
			.attr('transform', `translate(${margin.left},${inner.height+margin.top})`)
			
	d3.selectAll("g.x-axis")
		.transition(barsTransition)
			.call(xAxis);		
			
			
	const yAxisGroup =  svg.append("g")
				.call(yAxis)
				.attr("class", 'y-axis')
				.attr('transform', `translate(${margin.left},${margin.top})`)
				
	d3.selectAll("g.y-axis")
				.transition(barsTransition)
				.call(yAxis);	
				
	
	//draw chart controls
	let sortOptions = [
		{
			value: 'countryName',
			title: 'By Country, Alphabetical'  	
		},
		{
			value: 'value',
			title: 'By value'  	
		}
	]
	
	let buttonsTitles = titles;
	buttonsTitles.pop();
	
	var chartControls = d3.selectAll('#dataVizBarChart')
		.selectAll('#chart-controls')
		.data([null])
		.enter()
		.append('div')
		.attr('id', 'chart-controls')
		.attr('style', `opacity: 0; margin-left: ${margin.left}px`)
	
	renderControls(buttonsTitles, 'Choose a dataset:',  'value-controls')
	renderControls(sortOptions, 'Sort by:', 'sort-controls')
	
	// reselect for update
	d3.selectAll('#value-controls input')
		.property("checked", d => d.value===valueType)
		
	// reselect for update
	d3.selectAll('#sort-controls input')
		.property("checked", d => d.value===sortOn)	
		
	d3.selectAll('#chart-controls input').on("change", function(){
		const dataSet = d3.selectAll('#value-controls input:checked').property("value");
		const sortOn = d3.selectAll('#sort-controls input:checked').property("value");
		renderChart(dataSet, sortOn);	
	});	
	
	function renderControls(data, heading, id) {
		var controlGroup = chartControls.append('div')
			.attr('id', id);
							
		var controlsHeading = controlGroup.append('h4')
		 	.attr('id', `${id}-heading`)
		 	.attr('class', 'controls-heading')
		 	.html(heading);
		
		var controlDiv = controlGroup.selectAll('div.control')
		 	.data(data)
		 	.enter().append('div')
		 	.attr('class', 'control')
		 	
		controlDiv.append('input')
			.attr('type', 'radio')
			.attr('id', d => d.value)
			.attr('name', id) 
			.attr('value', d => d.value)
			.property("checked", d => d.value===valueType)

			
		controlDiv.append('label')
				.attr('for', d => d.value)
				.text(d => d.title)
				.attr('style', `margin-left:.5rem`);
	}
		
	

	//renderTest()									
}

function renderTest() {
   // a bare bones impementation of a d3 render-re-render pattern
	var myData = getRandomInt(10)

	function getRandomInt(max) {
	var temp = []
		for (var i = 0; i < 20; i ++) {
			temp.push( Math.floor(Math.random() * Math.floor(max)));
		}
	 return temp
	}
	  
	const container = d3.select('#dataVizBarChart')			
		const ul = container.selectAll('ul.test')
		.data([null])  // binding to array containing single item 
		.join('ul') // prevents adding a new container element on each re-rendered
		.attr('class', 'test');
		
		// ok, so the temptation is to call selectAll on the var of the parent element  
		// however, this means the data is never upated on re-render
		// instead either : 1. re-select the Dom node using D3 and then join the data.
		// as shown here. Or. 2.Set or, later in code re-select, then re-join the data.	
		d3.select('ul.test').selectAll('li')
			.data(myData)
			.join('li')
			.html(d => d)
			.style('border-bottom',`1px solid steelblue`)
			.transition()
			.duration(750)
			.style('margin-right', d => `${ 800 - (d * 40)}px`)
}

	

		</script>
	</body>
</html>