body {
	position: relative;
}

header {
}

.intro {
	max-width: 30rem;
	margin-bottom: 4rem;
}

#scroll-container {
	position: relative;
	overflow: visible;
	
}

.scroll-inner {
	border-top: 1px solid;
	padding: 2rem 0;
	display: flex;
	}

.visualisation {
	position: sticky;
	top: 2rem;
	z-index: 0;
	height: 860px;
	order: 2;
}

.steps {
	margin-right: 2rem;
	padding-left: 1rem;
	border-left: 20px rgba(255, 255, 255, 0.500) dotted;
}

.steps section {
	height: 900px;
	z-index: 10;
	transition: opacity 1s;
	opacity: .2;
	

	
	p {
		color: black;
		padding: 2.5rem 1rem 2rem 0rem;
		position: sticky;
		top: 2rem;
		border-top: 1px rgba(54, 105, 150, 0.3) solid;
		border-bottom: 1px rgba(54, 105, 150, 0.3) solid;
	}
}

.steps  section:first-of-type  {
	margin-top: 4rem;
}


.steps  section.active {
	opacity: 1;
}

#step14 { //last before chart, needs a bit more space
	height: 1400px;
}


#dataVizMap {
	svg {
		border: 1px #000 solid;
		background-color: #c9e8fd;
	}
	
	path {
	  fill: #ccc;
	  stroke: #fff;
	  stroke-width: .5px;
	  transition: fill 1s;
	}
	@keyframes pulse {
	  0% {
		 fill:rgb(71, 39, 162);
		 }
	  50% {
		 fill: rgb(80, 52, 157);
	  }
	  100% {
		 fill: rgb(71, 39, 162);
	  }
	}
	
	#countries path {
	 transition: fill 1s;
	}
	
	
	#countries path.highlight {
	 transition: fill, animation 1s;
		stroke: none;
		animation: pulse 2.5s infinite;
	}
	
	 path.graticule {
	  fill: none;
	  stroke:  rgba(236, 242, 243, 0.4);
	  pointer-events: none;
	}
	
	
	
	path.water {
		fill: rgb(124, 155, 179);
		stroke: black;
	}
	
	path.andes-line{
		fill: none;
		stroke: rgba(148, 101, 49, 0.600);
		stroke-width: 22px;
		stroke-dasharray: 2px;
	}
	
	// all countries "VEN","URY","FLK","TTO","SUR","PER","PRY","PAN","NIC","MEX","HND","GUY","GTM","SLV","ECU","CRI","COL","BRA","BOL","BLZ","ARG","FRA","CHL"
	// fade non-south-america counties
	
	#countries .north-america{
		fill: #366996;
		stroke: none;
	}
	

}

.poi-label {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	text-anchor: middle;
}

.place-label, .country-label {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	fill: rgba(120, 123, 124, 1);
	text-anchor: middle;
}

.labels-group {
	circle {
		fill: rgba(188, 96, 68, 0.86);
	}

}

.stats {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	fill: white;
	
	.value {
		text-transform: uppercase;
		font-size: 32px;
		letter-spacing: 1px;
		fill: white;
		font-weight: 200;
	}
}



#dataVizBarChart {
	svg {
		//border: 1px #000 solid;
	}
	rect {
		fill: rgb(188, 96, 68);
	}
	.tick {
		text {
			font-size: 1.4em;
			font-family: "prenton", "Gill Sans", sans-serif;
		}
	}
	.x-axis .tick {
		line {
			stroke-dasharray: 2 2;
			stroke: rgb(164, 162, 182); 
		}
	}
	text.value {
		font-size: .9em;
	}
	
	.domain {
		stroke: rgb(199, 199, 199);
	}
	text.title {
		font-size: 1.4em;
		font-weight: 200;
		text-anchor: middle;
	}	
}
