{#
# Index of references
# ---------------
#}
{% extends "_layout" %}
{% set subtitle = "Index of Literature"|t %}
{% set bodyClass = "indexes refrences" %}

{% set references = craft.entries
		.section('literature')
		.orderBy('title')
		.all()
%}

{% block content %}
    <h2>{{ "Index of References"|t }}</h2>
    <ul>
    {% for reference in references %}
		<li><a href="{{ reference.url }}">{{ reference.title  }}}</a></li>
    {% endfor %}
    </ul>
{% endblock %}